[2022-07-07 08:18] karianna commented on #485
Bad bot - I think we want to keep this open :-).

[2022-07-07 08:20] karianna commented on #470
@ed03875 Are you able to try with 1.8.0_332 and can you also confirm that this is both a Windows and a Linux issue?

@perlun seemed to be able to get the override to work on Linux...

[2022-07-07 08:42] jerboaa commented on #485
I think the best way to address this is by bringing the debian patch (or some variation of it upstream). For now the workaround is to set `LD_LIBRARY_PATH` environment variable or like the reporter said use `-Djava.library.path`.

[code]

[2022-07-08 09:14] zdtsw commented on #540
did a test in ubuntu:latest docker image
with  https://github.com/adoptium/temurin19-binaries/releases/download/jdk19-2022-06-30-16-55-beta/OpenJDK19U-jdk_x64_linux_hotspot_2022-06-30-16-55.tar.gz (ref: https://github.com/piranhacloud/piranha/runs/7244597145?check_suite_focus=true)
[code]

with OpenJDK18U-jdk_x64_linux_hotspot_2022-07-08-07-04.tar.gz
[code]

[2022-07-11 10:01] #540 closed

[2022-07-12 11:25] RadoslavCap opened #541 "Markeplace - broken search"
### Please provide a brief summary of the bug

Search is working pretty weird. It looks like there are mismatched indexes or something similar.

### Please provide steps to reproduce where possible

1 open https://adoptium.net/marketplace/
2 click to every icon above comboboxes except Redhat

Where are Redhat package displayed originally?

3 Choose everything Any in comboboxes, version 17
Nothing

[2022-07-12 11:31] RadoslavCap commented on #541
It looks like just indexes of icons are mismatched.

By clicking (and checking) Huawei you get RH results, by choosing MS you'll get Adoptium etc.

[2022-07-12 23:13] stagney commented on #328
![image](https://user-images.githubusercontent.com/43009759/178613850-afb7f42b-c996-4dc3-949d-8ef7c9940780.png)

I was just now able to reproduce with 1.0.14 and 1.0.16+7

[2022-07-13 08:18] karianna commented on #328
Hmm, it's hard for us to reproduce this.  Is there short code sample you can provide that replicates this behaviour?

[2022-07-13 13:49] Saibion opened #542 "CFBundleIdentifier Collision on submitt to App Store"
Version: 14.0.2 as packaged by JustJ
OS: macOS 12.4
Application: Eclipse RCP Equiniox build Eclipse 4.22 Maven/Tyco 2.3.0
Relevant Build Feature: org.eclipse.justj.openjdk.hotspot.jre.minimal.14.0.2.v20200815-0932

Hello,

Thanks for being who you are. It is appreciated.
I first approached Eclipse JustJ forum with this issue.  Below I have included a file transcript of the conversation.  The issue

[2022-07-13 17:06] Saibion opened #543 "v-11.0.15 CFBundleIdentifier Collision on submitted to App Store"
Version: 11.0.15 as packaged by JustJ
OS: macOS 12.4
Application: Eclipse RCP Equiniox build Eclipse 4.22 Maven/Tyco 2.3.0
Relevant Build Feature: org.eclipse.justj.openjdk.hotspot.jre.full_11.0.15.v20220515-1236

Hello,

Thanks for being who you are. It is appreciated.
I first approached Eclipse JustJ forum with this issue. They suggested that I ask the question here. The issue occurs when attemp

[2022-07-13 23:34] DaveJarvis opened #544 "NullPointerException in LinkedBlockingQueue"
### Please provide a brief summary of the bug

On 32-bit ARM architectures (armhf and arm7l), Adopt OpenJDK 11 can throw a `NullPointerException` inside of `LinkedBlockingQueue`.

### Please provide steps to reproduce where possible

We have not been able to reliably reproduce the problem, as of yet. The following code is a close representation of what we believe is happening to trigger the proble

[2022-07-14 08:24] karianna commented on #544
Have you been able to try the 11.0.15 GA or 11.0.16 nightly builds?

[2022-07-14 19:35] stagney commented on #328
public class TestDND {
    private JFrame _popup = new JFrame("PopUp");
    private MyWindowListener _windowListener = new MyWindowListener();

    public static void main(String[] args) {
        JFrame mf = new JFrame("Test Drag & Drop");
        mf.setBounds(100, 100, 500, 375);
        mf.setDefaultCloseOperation(JFrame.EXIT_ON_CLOSE);

        JPanel panel = new JPanel();
        mf.getConten

[2022-07-14 19:39] stagney commented on #328
I am running Windows 10. and jdk 1.0.16+7.

I run this from Eclipse.

It opens on my desktop.

I click the Open Popup button.

Then I try dragging an Excel file into the window.

Most of the time it freezes within two or three tries.

[2022-07-14 19:47] stagney commented on #328
![image](https://user-images.githubusercontent.com/43009759/179070550-02a6a98b-ee5b-40c0-9953-b804de2d0eeb.png)

[2022-07-17 06:34] CedanoAngel opened #545 "A fatal error has been detected by the Java Runtime Environment"
### Please provide a brief summary of the bug

Minecraft FTB Revelations. Game crashes before loading, ran fine for 3 weeks. Re-installed mod, re-installed GPU driver. no luck.

### Please provide steps to reproduce where possible

# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x000000006a3a0f40, pid=14160, tid=0x0000000000002

[2022-07-17 14:15] karianna commented on #486
@Lowre1NR Are you able to try with the latest 17.0.3?

[2022-07-17 14:16] karianna commented on #545
Can you try 1.8.0_332 and let us know the result?  We note that the official Minecraft Java Edition comes with 17.0.3 from Microsoft these days.

[2022-07-17 19:33] CedanoAngel commented on #545
Thats the part I'm confused on. I have java version "1.8.0_333" but I see application is running "JRE version: OpenJDK Runtime Environment (8.0_312-b07) (build 1.8.0_312-b07)" should I revert update to 1.8.0_332? or do I need to fix this in the directory?

[2022-07-18 11:34] twbecker opened #546 "Alpine image variants pick up JDK_JAVA_OPTIONS twice"
### Please provide a brief summary of the bug

The *-alpine images I've tested for both JDK 11 and 18 pick up the value for JDK_JAVA_OPTIONS twice. In some cases this is harmless but if you specify options that are not permitted to be provided multiple times (such as for debugging) the process fails to start.

### Please provide steps to reproduce where possible

One liner to test this:
`docker ru

[2022-07-18 11:35] twbecker commented on #546
Likely related #303

[2022-07-18 12:41] qrawilliam opened #547 "Next release of JRE 8"
## Question

Just curious when the next release for Java 8 will be available approximately? Not 332-09, but after. I know I am one behind as per below.

## Context

Java version:

openjdk version "1.8.0_322"
OpenJDK Runtime Environment (Temurin)(build 1.8.0_322-b06)
OpenJDK 64-Bit Server VM (Temurin)(build 25.322-b06, mixed mode)
Your operating system and platform:

Windows 10 build 19044

[2022-07-18 12:55] karianna commented on #547
Sometime next week or two.

[2022-07-19 11:26] CedanoAngel commented on #545
@karianna Awesome! game is working great. thanks!

[2022-07-19 11:26] #545 closed

[2022-07-19 20:50] DaveJarvis commented on #544
Not yet. We're having trouble replicating the issue.

[2022-07-21 10:28] karianna commented on #492
@duCCsauCe you can try the 11.0.15 release but I'm afraid we can't help beyond that.

[2022-07-21 10:28] #492 closed

[2022-07-21 18:07] DaveJarvis opened #548 "Race condition in release cycle when using automated download scripts"

[2022-07-21 18:44] #548 closed

[2022-07-22 07:21] swingfly commented on #529
Updated.
I try to set CDATA property with namespace to solve the issue above temporarily as https://docs.oracle.com/javase/8/docs/api/javax/xml/transform/Transformer.html#setOutputProperty-java.lang.String-java.lang.String- :
[code]
But it doesn't work yet.
I found the namespace was always parsed to "//www.opengis.net/kml/2.2" in method setCdataSectionElements of ToStream through debug.
I'm not su

[2022-07-22 10:03] dhs-rec opened #549 "Windows binary ZIPs missing for 17.0.4+8"
### Please provide a brief summary of the bug

The releases page lists an MSI (`OpenJDK17U-jdk_x64_windows_hotspot_17.0.4_8.msi`), but no `OpenJDK17U-jdk_x64_windows_hotspot_17.0.4_8.zip`. Instead there's two times `OpenJDK17U-jdk_x64_windows_hotspot_17.0.4_8.zip.json`. It's also not possible to download the ZIP (with `wget`, for example) by copying the URL of the MSI and changing the extension.

[2022-07-22 13:02] sophia-guo commented on #549
@dhs-rec could you try again? I have re-uploaded it and it works for me.

[2022-07-22 13:02] #549 closed

[2022-07-22 13:11] dhs-rec commented on #549
Yes, works now. Thanks a lot for the fast resolution!

[2022-07-22 17:59] Rudrapuneet commented on #344
We are still facing this issue

Current Version 👍 openjdk version "11.0.15" 2022-04-19 LTS
OpenJDK Runtime Environment 18.9 (build 11.0.15+9-LTS)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.15+9-LTS, mixed mode, sharing)

# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007f0a49052344, pid=22443, tid=22445
#
# JRE version: OpenJDK Runtime Environment 18

[2022-07-24 14:00] mlevine-active opened #550 "G1ParScanThreadState:: error"
### Please provide a brief summary of the bug

# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007fb1531d2d55, pid=9928, tid=0x00007fb151afc700
#
# JRE version: OpenJDK Runtime Environment (8.0_292-b10) (build 1.8.0_292-b10)
# Java VM: OpenJDK 64-Bit Server VM (25.292-b10 mixed mode linux-amd64 compressed oops)
# Problematic frame:
# V  [libjvm.so+0x

[2022-07-27 19:38] magneticflux- commented on #524
Just got this same bug with the nightly build of JDK 19.
First time:
[replay_pid28736.log](https://github.com/adoptium/adoptium-support/files/9203022/replay_pid28736.log)
[hs_err_pid28736.log](https://github.com/adoptium/adoptium-support/files/9203023/hs_err_pid28736.log)

Second time
[hs_err_pid12832.log](https://github.com/adoptium/adoptium-support/files/9203019/hs_err_pid12832.log)
[replay_pid1

[2022-07-27 19:58] magneticflux- commented on #524
I can reproduce the crash with just `-XX:+UseCMoveUnconditionally`:
[replay_pid20424.log](https://github.com/adoptium/adoptium-support/files/9203192/replay_pid20424.log)
[hs_err_pid20424.log](https://github.com/adoptium/adoptium-support/files/9203193/hs_err_pid20424.log)

[2022-07-28 12:17] karianna commented on #550
@mlevine-active please update to the adoptium.net build 1.8.0_342 and reopen if this still exists.

[2022-07-28 12:17] #550 closed

[2022-07-28 12:23] karianna commented on #344
@Rudrapuneet that's for the Red Hat Build of OpenJDK (you'll want to contact them about it as suggested in the link at the end of the error message).  11.0.16 is also now out so you may want to try that.

[2022-07-29 11:11] Sachin1O1 opened #551 "JFR report uploading failed"
### Please provide a brief summary of the bug

Getting the following error while using JFR in container logs

 ERROR c.m.a.s.profiler.JfrUploadService - Failed to upload file
io.netty.handler.ssl.SslHandshakeTimeoutException: handshake timed out after 10000ms
	at io.netty.handler.ssl.SslHandler$7.run(SslHandler.java:2113)
	at io.netty.util.concurrent.PromiseTask.runTask(PromiseTask.java:98)
	at io

[2022-07-30 06:07] amuchoudhary opened #552 "A fatal error has been detected by the Java Runtime Environment:"
### Please provide a brief summary of the bug

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007fd0d7534fb4, pid=2465958, tid=2493448
#
# JRE version: OpenJDK Runtime Environment Temurin-11.0.14.1+1 (11.0.14.1+1) (build 11.0.14.1+1)
# Java VM: OpenJDK 64-Bit Server VM Temurin-11.0.14.1+1 (11.0.14.1+1, mixed mode, tiered, compressed oops, g1 gc, l

[2022-07-31 10:56] karianna commented on #551
@Sachin1O1 This sounds like a a change with the set of SSL certs that are part of 11.0.16 JRE bundle and/or the O/S.  Are you able to share the certififcate chain you are using (public info only)

[2022-08-01 05:19] Sachin1O1 commented on #551
Can you give me more clarity on the certificate chain that you are asking to share? And moreover, I guess its the issue with the SSL certificates of image itself as I mentioned above it works smoothly on **eclipse-temurin:11-jre-focal** but not on **eclipse-temurin:11-jre**

[2022-08-01 09:52] ppkarwasz opened #553 "JDK 8u342 for Windows lacks `vcruntime140.dll`"
### Please provide a brief summary of the bug

Version 8u342 of JDK 8 for Windows contains a file named `vcrunt~1.dll` instead of `vcruntime140.dll` in both the `bin` and `jre/bin` directories.

This prevents the JVM from starting on systems that lack the _"Microsoft Visual C++ 2015-2022 Redistributable"_.

### Please provide steps to reproduce where possible

On a system **without** the _"Microso

[2022-08-01 10:39] karianna commented on #553
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk8-pipeline/2208/ respin

[2022-08-01 10:39] #553 closed

[2022-08-01 12:00] ppanyukov opened #554 "JDK install on Ubuntu (and Alpine) fails with HTTP 403"
### Please provide a brief summary of the bug

Something is wrong with SAS keys, maybe they expired?

### Please provide steps to reproduce where possible

On Ubuntu 20.04, following instructions from here: https://blog.adoptium.net/2021/12/eclipse-temurin-linux-installers-available/

[code]

### Expected Results

Obviously expecting the install to work :)

### Actual Results

Result:

[code]

###

[2022-08-01 13:51] sxa commented on #554
@gdams is looking into this and is going to see if there is any problem on the JFrog side (JFrog host our installers)

[2022-08-01 15:52] karianna commented on #551
Can you try `sudo apt-get install ca-certificates -y` in the container and see if it works after that?

[2022-08-01 15:54] karianna commented on #552
@amuchoudhary can you try the most recent 11.0.16 and report back here?

[2022-08-01 19:47] Gamer069 commented on #101
btw, I have the same error too, but I don't know is this something to do with macOS or java

[2022-08-02 00:16] theofficialgman commented on #554
can confirm this issue on bionic arm64 as well. seems to be the entire repo

[2022-08-02 05:50] Sachin1O1 commented on #551
Hi @karianna,
 I used the above command in the docker file just after the base image and no lock. Getting same error in logs.
`ERROR c.m.a.s.profiler.JfrUploadService - Failed to upload file
io.netty.handler.ssl.SslHandshakeTimeoutException: handshake timed out after 10000ms
	at io.netty.handler.ssl.SslHandler$7.run(SslHandler.java:2113)
	at io.netty.util.concurrent.PromiseTask.runTask(PromiseTask

[2022-08-02 07:44] vladislav-orlovskiy commented on #554
Is the version specified in the repo even deployed yet? The release of these versions is still open.

[2022-08-02 08:34] vladislav-orlovskiy commented on #554
@vn09917 can you please try to perform an apt install with a bit lower version of the package and send us the output? I can't prove my guess rn cause my issue is related to an ansible role that uses the hardcoded latest version of the apt package.

[2022-08-02 08:37] gdams commented on #554
I believe this is fixed now. The issue was caused by us enabling the CDN on artificatory which doesn't seem to be working properly. For now, I've disabled the CDN and I'll raise a bug asking the jfrog team to look into why the CDN is giving us problems.

[2022-08-02 08:40] vladislav-orlovskiy commented on #554
@gdams Thank you so much!

[2022-08-02 11:20] Mark-Palmer-Imprivata opened #555 "JDK 17 fails to install on Ubuntu 20.04 on bare metal"
### Please provide a brief summary of the bug

Attempted to install JDK 17 on a bare metal Ubuntu 20.04 machine following the standard instructions and it fails.
Instructions:  https://adoptium.net/installation/linux/
Failure:
Err:1 https://packages.adoptium.net/artifactory/deb focal/main amd64 temurin-17-jdk amd64 17.0.4.0.0+8
  403 Forbidden [IP: ...]
E: Failed to fetch https://(long url hosted

[2022-08-02 12:36] karianna commented on #555
@gdams is CDN still disabled as per https://github.com/adoptium/adoptium-support/issues/554?

[2022-08-02 13:18] gdams commented on #555
Yes it's still disabled so it should be working right now

[2022-08-02 17:40] ppkarwasz commented on #553
The [latest build](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-windows-x64-temurin/) looks OK, thanks.

[2022-08-02 17:44] Mark-Palmer-Imprivata commented on #555
Thank you - things appear to be fixed now.

[2022-08-02 19:00] amuchoudhary commented on #552
Hi Matijn,
Same response with Java 11.0.16+8.
Crashes with exactly same issue.

On Mon, 1 Aug 2022, 9:24 pm Martijn Verburg, ***@***.***>
wrote:

[2022-08-03 07:04] nudgegoonies opened #556 "Protect debian packages against overwriting - they MUST be immutable!"
### Please provide a brief summary of the bug

Again an already released package has been overwritten in the debian repository.
This time temurin-8-jdk_8.0.332.0.0+9-1_amd64.deb
https://adoptium.jfrog.io/ui/repos/tree/General/deb/pool/main/t/temurin-8/temurin-8-jdk_8.0.332.0.0+9-1_amd64.deb
[code]
Yesterday the package was 84728808 bytes big. Today it is 84693892 bytes big!

Debian packages **MUST

[2022-08-03 10:37] xorpaul commented on #556
Last time this happened I had a chat with @gdams who proposed a fix for these small changes by always bumping the patch number:
![image](https://user-images.githubusercontent.com/938061/182588319-64d5f530-3655-4ab9-88e6-ac39c7560b0b.png)

[2022-08-03 10:44] gdams commented on #556
Hi there, yes we’re aware of the issue already. Unfortunately this was due to poor documentation on our side. We have since changed the jfrog permissions to prevent our CI from overwriting packages so hopefully this will not occur again. Apologies for the inconvenience this has caused.

[2022-08-03 10:44] #556 closed

[2022-08-03 14:02] mqu commented on #499
we are having [same trouble with SonarQube](https://github.com/SonarSource/docker-sonarqube/issues/544#issuecomment-1203934447) ; this is related to CPU flags under virtualized environment. Seems not related with Docker.

For me, last alpine release did not solved this issue.

To reproduce :
- open a shell on a virtual environment, with CPU := host (Intel, AMD),
- install docker
- run : `docker ru

[2022-08-03 16:26] #555 closed

[2022-08-03 23:01] tresf opened #557 "Hash of java.rmi differs from expected hash"
### Please provide a brief summary of the bug

Builds on GitHub Actions using GitHub's Temurin 11.0.16+8 against Temurin 11.0.12+7 are failing.

### Please provide steps to reproduce where possible

I haven't yet reproduced this locally, but at this point all GitHub builds using `jlink` against the above combinations of Java 11 seem to be affected (MacOS, Linux, Linux targeting Windows)

* GitHub

[2022-08-03 23:05] tresf commented on #557
Similarly described issues:
* https://github.com/corretto/corretto-11/issues/144#issuecomment-1197468757
* https://github.com/adoptium/temurin-build/issues/1804

[2022-08-04 13:02] karianna commented on #291
Bad bot, this still needs looking at.

[2022-08-04 13:05] karianna commented on #292
Bad bot

[2022-08-04 21:00] tellison commented on #557
Doesn't look like a Github action issue.

I suggest checking that other vendors are not also seeing a difference in the jlink mod hash code of java.rmi between these dot releases, and that the problem is not an inadvertent change to the values used when calculating the mods hashes. Either that or we are running jlink in an incorrect way in the latest build method.

[2022-08-04 21:09] tresf commented on #557
The same issue was reported against the same version of Corretto here: https://github.com/corretto/corretto-11/issues/144#issuecomment-1197468757 but I don't really understand the message or how a user is intended to act upon this error.  From what I can tell, jlink is unusable in this state unless there's a workaround.

How would one go about auditing other vendors?  I'm not even sure what this m

[2022-08-04 21:11] tresf commented on #557
Another proposal is to ask setup-java to use a locked-in version, but that must be weighed against losing the ability to know and thus report these issues.

[2022-08-04 21:14] tresf commented on #557
In the meantime I'll try to create a unit test to reproduce however due to the history of this issue happening prior, I was hoping there'd be enough knowledge around it to take immediate action.

[2022-08-04 21:15] tellison commented on #557
On my phone at the moment, so apologies for the terse replies. Yes, the Corretto (future) fix notice is here

https://github.com/corretto/corretto-11/blob/release-11.0.9.11.2/CHANGELOG.md#corretto-version-1109112

Looks like no code change was required.

[2022-08-04 21:18] tresf commented on #557
I've asked them for the information about the patch; it seems quite coincidental to affect identical versions.

[2022-08-04 21:19] lutkerd commented on #557
Hi, I'm on the Corretto team. We root caused it to https://github.com/openjdk/jdk11u/commit/7c29f0e88cfd9dbe66b7c8355bfd13b2dfce50bd which changes how the hashes are calculated. We were using an older version of Corretto11 to repack the jmods after signing the binaries. No code changes were required for us to fix since we just rebuilt using 11.0.16 to repack.

This means you cannot use jlink acros

[2022-08-04 21:25] tresf commented on #557
Whoah, this breaks jlink at its core.  Is this by design?  Can you share some upstream conversations about this?  jlink already has a high learning curve, I fear this is going to make adoption even harder.

[2022-08-04 21:36] lutkerd commented on #557
I just checked and there was no conversation about it on the email list, JBS, or PR.
https://mail.openjdk.org/pipermail/jdk-updates-dev/2022-March/013027.html
https://bugs.openjdk.org/browse/JDK-8243666
https://github.com/openjdk/jdk11u-dev/pull/915

[2022-08-04 21:41] alvdavi commented on #557
The good news is that now that jlink is aligned with how JDK15+ perform the hash calculation, there should no longer be incompatibilities when repackaging JDK11 jmods using newer JDKs (which is what cause the original Corretto issue two years ago). After the lessons learned with this patch, we don't think changes to the jlink format should be done for existing major JDK versions, and even between

[2022-08-04 21:52] tresf commented on #557
Hmm... this is very interesting...  So does that mean this (following) statement is only true for =< 11.0.15?  That might not be as dire of a consequence.

For example, in my builds, I [check the major version only](https://github.com/qzind/tray/blob/875c7038cf18a4ae8ac440627f13230aeddaecee/src/qz/build/JLink.java#L53) currently, but I can add an exception to 11.0.16+.

[2022-08-04 22:55] tresf commented on #557
While I await an answer, I've [written a patch in my environment](https://github.com/qzind/tray/pull/998/files) that assumes 11.0.16 and higher can be used to build >=11.0.16 and that 11.0.15 and lower can be used to build <= 11.0.15 and it's succeeding.

I'm sure this can be simplified to just check if it's greater than 11.0.16, but speculative fear will keep the old logic around for a while. 😅

[2022-08-04 22:58] lutkerd commented on #557
Our understanding is that all versions prior to 11.0.16 should work against each other and 11.0.16+ should work. I think we would push back on any more breaking changes here.  😄

[2022-08-04 23:01] tresf commented on #557
Thanks.

[2022-08-04 23:01] #557 closed

[2022-08-05 23:47] Marcono1234 commented on #499
@mqu, I am seeing this issue as well for `sonarqube:9.5-community`, but I think the reason is that they simply have not updated the base image yet. https://github.com/SonarSource/docker-sonarqube/issues/544#issuecomment-1199289967 says:

That might be a bit confusingly worded, but I think the main point here is: "This will be part of the upcoming 9.6 version."

[2022-08-08 02:20] LucasDamico opened #558 "A fatal error has been detected by the Java Runtime Environment:"
### Please provide a brief summary of the bug

I received an automatic error report file from Eclipse.

In the summary part it says the following:
---------------  S U M M A R Y ------------

Command Line: -Dfile.encoding=Cp1252 -XX:+ShowCodeDetailsInExceptionMessages com.mygdx.game.DesktopLauncher

Host: Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz, 8 cores, 7G,  Windows 10 , 64 bit Build 19041 (10.0

[2022-08-08 13:41] karianna commented on #558
@LucasDamico - You have two Java's installed (8u321 and 17.0.2) - the crash log is from the 17.0.2 version.  Please upgrade to the latest 17.0.4 and see if that fixes things.

[2022-08-08 13:44] karianna commented on #200
Checked status and is still fixed in Java 18 but backporting has not occured.

[2022-08-08 13:45] #222 closed

[2022-08-08 20:07] LucasDamico commented on #558
@karianna I don't quite understand, is it fine to have two Javas? Could you tell me how I update to the latest Java version?

[2022-08-09 07:07] peutch commented on #484
On my side, this does not happen anymore since Eclipse 2022-06 which is based on:
[code]

[2022-08-09 10:36] technicalguru commented on #484
Still have the crash with Wayland, Ubuntu 22.04 and Eclipse 22-06

[2022-08-09 11:51] karianna commented on #171
Still open upstream

[2022-08-09 11:52] karianna commented on #25
Still open upstream

[2022-08-09 11:53] karianna commented on #247
Bug still open upstream

[2022-08-09 11:53] #255 closed

[2022-08-09 11:54] karianna commented on #261
Still an open issue upstream

[2022-08-09 11:55] karianna commented on #269
Still open upstream

[2022-08-09 11:55] #272 closed

[2022-08-09 11:56] #329 closed

[2022-08-09 11:56] #474 closed

[2022-08-09 12:01] karianna commented on #558
@LucasDamico it should be OK to have two Java's as long as you're consistent with using the same version when you start the Java program.  You can download the latest Java 17.0.4 fro Windows from adoptium.net to upgradre

[2022-08-09 20:27] zanonmark opened #559 "UnixPrintJob does not support collation"
### Please provide a brief summary of the bug

(I tried with Java 11, but I see the code hasn't changed in 17.)

Working under Linux here, so CUPS is the printing system.

When doing:
[code]
the `.add(SheetCollate.COLLATED)` line is completely ignored.

I think the problem is that the underlying `lpr` command does not get the `-o collate=true` option.

And I think this is due to UnixPrintJob.print

[2022-08-09 22:59] LucasDamico commented on #558
I have installed java 17.0.4 and I keep getting the same error:
[code]

[2022-08-10 01:31] tejasmjethva opened #561 "11-jdk-jammy frequently triggering full gc"
We've recently updated our docker base image from openjdk:11 to eclipse-temurin:11-jdk-jammy. After the update, we're seeing very frequent full GC triggering for application and memory usage is also capped.

We have provided Xmx to 15G and GKE limit to 20G, but the memory is capped at 6G. We're using all the default jvm parameters (no overrides), also, explicitly specifying to use G1GC.

Do we nee

[2022-08-10 09:15] cyclonejb opened #560 "eclipse crash when i coding"
### Please provide a brief summary of the bug

eclipse crash several times,I don't know how to reproduce it.it might caused by input software?

### Please provide steps to reproduce where possible

_No response_

### Expected Results

happy coding

### Actual Results

crash

### What Java Version are you using?

OpenJDK 64-Bit Server VM Temurin-17.0.3+7 (17.0.3+7, mixed mode, tiered, compressed oo

[2022-08-10 09:18] cyclonejb commented on #560
OS:
 Windows 7 , 64 bit Build 7601 (6.1.7601.24545)
OS uptime: 10 days 20:47 hours

CPU: total 6 (initial active 6) (6 cores per cpu, 1 threads per core) family 6 model 158 stepping 13 microcode 0x0, cx8, cmov, fxsr, mmx, 3dnowpref, sse, sse2, sse3, ssse3, sse4.1, sse4.2, popcnt, lzcnt, tsc, tscinvbit, avx, avx2, aes, erms, clmul, bmi1, bmi2, rtm, adx, fma, vzeroupper, clflush, clflushopt

Memory:

[2022-08-10 09:19] cyclonejb commented on #560
Environment Variables:
JAVA_HOME=C:\Program Files\Java\jdk1.8.0_341
PATH=E:/software/eclipse-jee-2022-06-R-win32-x86_64/eclipse//plugins/org.eclipse.justj.openjdk.hotspot.jre.full.win32.x86_64_17.0.3.v20220515-1416/jre/bin/server;E:/software/eclipse-jee-2022-06-R-win32-x86_64/eclipse//plugins/org.eclipse.justj.openjdk.hotspot.jre.full.win32.x86_64_17.0.3.v20220515-1416/jre/bin;C:\Program Files (x8

[2022-08-10 10:43] karianna commented on #559
Hi there - it looks like you’re using the OpenJDK provided by Ubuntu.
You’ll probably want to file this bug with them.

On Tue, 9 Aug 2022 at 21:27, Marco Zanon ***@***.***> wrote:

--
Cheers, Martijn (Sent from Gmail Mobile)

[2022-08-10 13:17] karianna commented on #560
Hi there, can you please try with 17.0.4.  Also please note you have `JAVA_HOME=C:\Program Files\Java\jdk1.8.0_341` which means Eclipse may get confused with which Java it is actually starting/running with.

[2022-08-10 15:08] karianna commented on #558
@LucasDamico thanks for testing again.  Have you submitted this issue to LibGDX by any chance?  Although it could be a JVM bug these crashes can be caused by libs like libGDX who make native calls (LWJGL also does this)

[2022-08-10 19:45] tejasmjethva commented on #561
This seems to work fine, thanks @Karianna for the help.

[2022-08-10 20:01] LucasDamico commented on #558
@karianna You seem to be right, today I have been debugging the program until I realized that the error seems to be caused by the freeType extension of libGDX when generating parameters for fonts. I will report this to libGDX, however the strangest thing is that the error comes from a code statement that was working normally before, anyway, thanks for your time and help!

[2022-08-10 20:13] #561 closed

[2022-08-10 20:15] #558 closed

[2022-08-11 02:57] cyclonejb commented on #560
Thank you,I changed this and keep watching.
eclipse.ini -vm C:\Program Files\Java\jdk-17.0.4\bin
JAVA_HOME=C:\Program Files\Java\jdk-17.0.4

[2022-08-11 11:23] juliocoliveira opened #562 "Connection timeout on https://packages.adoptium.net"
### Please provide a brief summary of the bug

Can't use the dnf because https://packages.adoptium.net/artifactory/api/gpg/key/public is not connecting

### Please provide steps to reproduce where possible

Access https://packages.adoptium.net/artifactory/api/gpg/key/public to download the public key

### Expected Results

Show the key

### Actual Results

Connection timeout

### What Java Version

[2022-08-11 11:34] juliocoliveira commented on #562
Never mind, its back again.

[2022-08-11 11:34] #562 closed

[2022-08-11 12:33] SajidMustfa opened #563 "Exception occurred in the compiler (1.8.0_345)"

[2022-08-11 21:11] karianna commented on #563
@SajidMustfa Can you reduce this to the small part of the code that doesn't compile?

[2022-08-11 21:23] #560 closed

[2022-08-12 12:45] #496 closed

[2022-08-12 12:46] karianna commented on #430
Upstream bug is still open

[2022-08-12 12:52] karianna commented on #426
Upstream bug still open

[2022-08-12 12:58] gdams commented on #535
@DrVanScott please can you confirm if the steps outlined above fixed your issue?

[2022-08-12 17:11] RedrumSherlock commented on #561
@karianna even though setting MaxRAMPercentage would address this issue and is the preferred way, I'm curious on why using -Xmx would not work.

Based on my limited knowledge, -Xmx is supposed to override MaxRAMPercentage setting. So when we specified -Xmx15g, isn't it supposed to override the default 25% of the container memory limit?

[2022-08-12 19:15] karianna commented on #561
I can only speculate a docker/cgroups version challenge.  Are you on the latest Docker and/or running CGroups 2?

[2022-08-13 21:10] juozaspo commented on #452
I might no longer be using the java provided by this repository as the affected software now works fine with ubuntu java 8. But might keep this open as I'm not sure if this is fixed (updating single temurin package works, multiple would fail, but didn't have the chance to test that and still didn't get a single response regarding my issue from anyone here)

[2022-08-15 17:39] johnoliver commented on #551
@Sachin1O1 this is caused by https://github.com/netty/netty/issues/12343

Fixing this requires Application Insights bumping the netty dependencies to 4.1.77+, this has already been committed and will go out in the next release.

[2022-08-15 19:53] #551 closed

[2022-08-15 21:24] trask commented on #551
(@Sachin1O1 if you are able, can you try with the latest Application Insights snapshot build? https://github.com/microsoft/ApplicationInsights-Java/suites/7822243872/artifacts/330538498)

[2022-08-16 03:50] khourig opened #564 "api-ms DLLs should not be redistributed"
### Please provide a brief summary of the bug

The api-ms DLLs are to be distributed by Microsoft only and are installed by Windows Update.

The permitted distributable DLLs are listed here https://docs.microsoft.com/en-us/visualstudio/releases/2022/redistribution

### Please provide steps to reproduce where possible

_No response_

### Expected Results

No api-ms DLLs installed.

### Actual Resul

[2022-08-16 12:49] pgalbraith opened #565 "DatagramSocket.getLocalAddress() is not returning the local address on Mac OS"
### Please provide a brief summary of the bug

Tested in 1.8.0_272/25.272-b10 and 1.8.0_322/25.322-b06 on Mac OS, use DatagramSocket to open a remote connection and then query the address of the local side of the connection.  Seems to work well on Windows and Linux, but returns a zero address on Mac OS.

### Please provide steps to reproduce where possible

Test code to reproduce: [https://github.

[2022-08-16 17:37] Goooler opened #566 "If we can provide Jdk 8~10 for mac aarch64?"
Cause Gradle's `jvmToolchain` depends on the `adoptium` vendor by default, many projects declare `languageVersion` < 11 and build on Apple silicon chips, which will lead the download failures:
[code]
Link https://github.com/gradle/gradle/issues/19595.

[2022-08-16 17:40] karianna commented on #566
At this stage there are no plans to provide that platform/version combination.  I'm afraid this will have to be resolved at Gradle.

[2022-08-16 17:40] #566 closed

[2022-08-16 17:53] karianna commented on #565
@pgalbraith  Can you try with the latest 8u345 and report back?

[2022-08-17 03:16] cowtowncoder commented on #565
@karianna I do not see any difference on my system, unfortunately (either with 8u332 or 8u345)

[2022-08-17 07:42] noahsmindfuck opened #567 "(OSATE2:23122): Gdk-CRITICAL **: 09:23:55.357: gdk_x11_display_set_window_scale: assertion 'GDK_IS_X11_DISPLAY (display)' failed"
### Please provide a brief summary of the bug

I am running OSATE2 on linux.
After a recent update it crashes and asks me to report here:

(OSATE2:23122): Gdk-CRITICAL **: 09:23:55.357: gdk_x11_display_set_window_scale: assertion 'GDK_IS_X11_DISPLAY (display)' failed

 A fatal error has been detected by the Java Runtime Environment:

  SIGSEGV (0xb) at pc=0x00007fe0ce6c732f, pid=23122, tid=23123

[2022-08-17 20:05] karianna commented on #567
@noahsmindfuck Can you try with the latest 11.0.16 and let us know if its still an issue.

[2022-08-17 20:35] noahsmindfuck commented on #567
Hi @karianna
Thank you for your reply.
I think the JRE is shipped inside the OSATE2 installation bc on my system I have only this installed:
extra/jre8-openjdk-headless 8.345.u01-1 [installed]

I now installed the 11.0.6 version (jre11-openjdk-headless-11.0.16.1.u1-2) and still receive the same error, although now it references to a version 17

(OSATE2:17504): Gdk-CRITICAL **: 22:30:22.977: gdk_x1

[2022-08-18 13:45] mmatela commented on #401
Sorry, didn't see the notification.
I've just checked with "11.0.15" 2022-04-19 and "11.0.16" 2022-07-19, still experience the same behavior.

I don't see a Reopen button - can you do it? Or shall I submit as a new issue?

[2022-08-18 20:22] noahsmindfuck commented on #567
according to [this one](https://github.com/javafxports/openjdk-jfx/pull/199) it could be a wayland/jre problem
a proposed fix is to run it with "-Djdk.gtk.version=2" to force gtk2

[2022-08-18 20:57] noahsmindfuck commented on #567
Workaround for me now is to use a desktop environment based on Xorg (not a solution, a very dirty workaround)
Hope that everyone finds the time to migrate away from old monsters,

until then

[2022-08-18 20:57] #567 closed

[2022-08-19 02:22] Gutter7 opened #568 "EXCEPTION_ACCESS_VIOLATION when I open Minecraft"
### Please provide a brief summary of the bug

When I try to launch Minecraft, it just says exception access violation and crashes. I tried repairing and reinstalling your java but it didn't work.

### Please provide steps to reproduce where possible

I really don't know how to do this, because I don't know what caused it, though it says something about Configuration conflict: there is more than o

[2022-08-22 03:53] shaocg opened #569 "Openjdk 11.0.11 java process error in k8s"
### Please provide a brief summary of the bug

We have deployed the k8s java process on multiple servers in the production environment. Two of the machines fail frequently (about once a day), and the error information is different each time. I would like to ask what is the reason, and the specific hs_err_pid.log is not mounted, can you please help me?
<img width="1399" alt="image" src="https://use

[2022-08-22 06:24] a364176773 opened #570 "the exception runs in the ForkJoinPool$WorkQueue.helpComplete"
**Describe the bug**
A clear and concise description of what the bug is.
Threads are blocked here, and CPU ge is 100%
**Desktop (please complete the following information):**

OS & version [e.g. Windows 10, 1822]:
alpine-3.12.9

The output from `java --version`
17+35
**To Reproduce:**
Steps to reproduce the behavior:
I can only say that this operation is a probability
[code]
**Expected behavior**

[2022-08-22 07:58] #570 closed

[2022-08-22 12:41] karianna commented on #570
You should be using the latest 17.0.4.1 release from adoptium.net

[2022-08-22 12:48] karianna commented on #569
@shaocg Please try 11.0.16.1 from adoptiym.net and post any new error message here.

[2022-08-22 12:49] karianna commented on #568
Minecraft comes with its own bundle 17.0.3 from Microsoft.  We generally recommend that you stick with that version.  Also please disable all the mods and start with a clean minecraft to narrow it down

[2022-08-22 12:49] #568 closed

[2022-08-22 12:56] #514 closed

[2022-08-22 13:07] #456 closed

[2022-08-22 13:44] gdams commented on #564
@khourig can you specify where these api-ms DLLs are located? I'll follow up once I've got confirmation

[2022-08-22 15:23] khourig commented on #564
For instance: `jdk11.0.14.1\bin\api-ms-win-core-console-l1-1-0.dll`

[2022-08-23 01:56] a364176773 commented on #570
Has this issue been fixed on 17.0.4.1? I am currently upgrading to 17.0.4, is it the same effect? @karianna
[code]

[2022-08-23 02:30] shaocg commented on #569
Will 11.0.16.1 fix this? Because the upgrade of our production environment needs to be very careful, can you provide instructions to solve this problem? In this way, I can clearly push the company to upgrade the jdk version, thank you very much.

[2022-08-23 09:51] rogue73 opened #571 "Problem installing Temurin JDK RPM package on SuSE SLES 12 together with Tomcat"
### Please provide a brief summary of the bug

I'm trying to install temurin-8-jdk  (temurin-8-jdk-8.0.345.0.0.1-1.x86_64) on a SLES 12 System where Tomcat (tomcat-9.0.36-3.87.1.noarch)  with it's dependencies:
- java-1_8_0-openjdk
- java-1_8_0-openjdk-headless
is already installed from SLES repositories.

The latest version of tomcat server that is packaged by SuSE conflicts with java-openjdk-hea

[2022-08-23 10:25] karianna commented on #570
@a364176773 Can you repost the error message and screenshots with the new 17.0.4 version? (17.0.4.1 would not make a difference in this case).

[2022-08-23 10:28] karianna commented on #569
Please see the release notes for all versions 11.0.12+ at foojay.com.  You'll see a number of C2 compiler crash fixes.  There's not a 100% guarantee that yours is fixed but an upgrade to the latest is recommended regardless

[2022-08-23 10:30] karianna commented on #571
@rogue73 You'll need to speak with the tomcat package maintainers on Suse.

[2022-08-24 01:34] a364176773 commented on #570
I upgraded to 17.0.4, did not find the problem, and upgraded the container to 1c2g, I will continue to observe

[2022-08-24 13:02] pierantoniomerlino opened #572 "Keytool SIGSEGV in temurin-8-jdk"
### Please provide a brief summary of the bug

This command

[code]

cause keytool to crash with SIGSEGV.

### Please provide steps to reproduce where possible

Run the following command:

[code]

### Expected Results

The keystore is created without any errors.

### Actual Results

The output of the command is:

[code]

[hs_err_pid1243.log](https://github.com/adoptium/adoptium-support/files/94162

[2022-08-24 13:43] #517 closed

[2022-08-25 07:13] pkernevez commented on #515
Solved by using the last version of netty (embedded with the last grpc version):
[code]

[2022-08-25 09:42] ivan-yankov opened #573 "Unable to download binary using adoptium api"
### Please provide a brief summary of the bug

Hello, I am trying to use curl to download specified version of jdk / jre.
However it does not work. My attempt to try on swagger also was not successful.

### Please provide steps to reproduce where possible

Execute command

curl -X 'GET' 'https://api.adoptium.net/v3/binary/latest/8/ga/linux/x64/jdk/hotspot/normal/eclipse?project=jdk' -H 'accept: */

[2022-08-25 11:29] karianna commented on #573
@ivan-yankov  That link works for me here in the UK.  Which geo location are you in?

[2022-08-25 11:57] ivan-yankov commented on #573
@karianna I am located in Bulgaria.

[2022-08-25 12:13] jerboaa commented on #573
[code]

Works fine here.

[2022-08-25 12:54] ivan-yankov commented on #573
OK. It seems the trick here is -L option of the curl. With this option it works for me also. Thank you very much @jerboaa .
I am going to close the issue as resolved.

[2022-08-25 12:54] #573 closed

[2022-08-25 12:54] ivan-yankov commented on #573
Resolved.

[2022-08-25 16:44] 0ut1awStar opened #574 "Eclipse Temurin JRE 17 upgrade issue"
### Please provide a brief summary of the bug

Upgrading from Eclipse Temurin JRE 17.0.4+8 to 17.0.4.1+1 does not uninstall previous version.

### Please provide steps to reproduce where possible

1. install OpenJDK17U-jre_x64_windows_hotspot_17.0.4_8.msi
2. install OpenJDK17U-jre_x64_windows_hotspot_17.0.4.1_1.msi
3. check programs and features

### Expected Results

upgrading removes previous (n

[2022-08-25 17:01] gdams commented on #574
I believe this is a limitation of server as outlined in the installation docs (https://adoptium.net/installation/windows)

[2022-08-25 19:09] 0ut1awStar commented on #574
Ahh, thank you for pointing that out.

[2022-08-25 19:09] #574 closed

[2022-08-26 04:35] rks2003 opened #577 "Windows 10 detected by JVM if running on Windows 11"

[2022-08-26 10:43] tellison opened #575 "Release Notes for JDK 8u345"
Received via direct e-mail:

Hello Eclipse Support:

We have been downloading the Windows x64 version of the jdk8u from this location: https://adoptium.net/temurin/releases/?version=8

We typically check the Release Notes as you suggest here: https://foojay.io/java-8/?tab=cve

However, there are no new Release Notes for the 345 version of the JDK 8. I cannot find a way to contact anyone at Foojay

[2022-08-26 11:43] Ercolino opened #576 "temurin jdk install fails on Ubuntu 20 with HTTP 403 Error"
### Please provide a brief summary of the bug

I suppose that the package is not available anymore or the sas token is expired.

### Please provide steps to reproduce where possible

Just following this instructions: https://blog.adoptium.net/2021/12/eclipse-temurin-linux-installers-available/

[code]

### Expected Results

The package has been installed

### Actual Results

[code]

### What Java

[2022-08-26 12:28] jerboaa commented on #575
https://mail.openjdk.org/pipermail/jdk8u-dev/2022-August/015329.html

There isn't much to say. Only includes https://bugs.openjdk.org/browse/JDK-8290832, which is a backout of https://bugs.openjdk.org/browse/JDK-8283438 included in 8u342

[2022-08-26 12:43] tellison commented on #575
Thanks. Not sure why Foojay are not noting this release. In the meantime I will just answer the raiser with a reply to this instance, but another reason why we should be hosting our own release notes IMHO.

[2022-08-26 12:43] #575 closed

[2022-08-26 14:16] jerboaa commented on #577
This is https://bugs.openjdk.org/browse/JDK-8274840 which would need a backport to 8u.

[2022-08-26 14:25] karianna commented on #577
Odd - https://bugs.openjdk.org/browse/JDK-8279280 seems to think the backport is done or is that OracleJDK only in the tagging system?

[2022-08-26 15:08] jerboaa commented on #577
Yes, Oracle JDK versions are `8uXXX`. OpenJDK versions are `openjdk8uXXX`.

[2022-08-29 09:17] swingfly opened #578 "Namespace setting not work when to set OutputKeys.CDATA_SECTION_ELEMENTS in xml transform"
### Please provide a brief summary of the bug

I try to set CDATA property with namespace to solve the issue https://github.com/adoptium/adoptium-support/issues/529 temporarily as https://docs.oracle.com/javase/8/docs/api/javax/xml/transform/Transformer.html#setOutputProperty-java.lang.String-java.lang.String- :

`transformer.setOutputProperty(OutputKeys.CDATA_SECTION_ELEMENTS, "{http://www.opengi

[2022-08-29 09:27] problemsproblemsyes opened #579 "EXCEPTION_ACCESS_VIOLATION (0xc0000005)"
### Please provide a brief summary of the bug

Dear all,

I've been using a client called Runelite to play runescape. However at random intervals and without known trigger the client crashes. When looking into the jvm_crash_pid logs I keep noticing the EXCEPTION_ACCESS_VIOLATION (0xc0000005) error code in every crash. In the same logs it referred me to this github page. I am wondering if you know

[2022-08-29 09:52] swingfly commented on #578
It works well after I remove **http://** from namespace.

[2022-08-29 09:52] swingfly commented on #578
It works well after I remove **http://** from namespace.

[2022-08-29 13:39] pierantoniomerlino commented on #572
Just to report that the platform is arm 64 bit, not 32.
Thanks.

[2022-08-29 18:27] karianna commented on #571
@rogue73 - The point is we can't debug this without them being involved as it's cascading from their defintion

[2022-08-29 19:09] karianna commented on #579
Please try 1.8.0_345 and let us know if the issue persists,

[2022-08-29 19:10] karianna commented on #578
duplicate of #529

[2022-08-29 19:10] #578 closed

[2022-08-31 06:07] DrVanScott commented on #535
Sorry, for my late response. Yes, of course, this solves my "issue". Thank you very much!

[2022-08-31 06:07] #535 closed

[2022-08-31 10:12] jemendeza opened #580 "EXCEPTION_ACCESS_VIOLATION (0xc0000005)"
### Please provide a brief summary of the bug

I tried to open Pyrosim 2022.2.0803 and it crashes yielding two error log files

### Please provide steps to reproduce where possible

_No response_

### Expected Results

Open Pyrsim as I normally do with my other computer

### Actual Results

I tris to open Pyrosim and it crashes

### What Java Version are you using?

OpenJDK Runtime Environment (8.

[2022-08-31 11:52] karianna commented on #580
@jemendeza please try with the latest 1.8.0_345 (from adoptium.net) and post in the new error message (or hopefully success!)

[2022-09-01 06:32] viktor-thell-seal opened #581 "Temurin 17.0.4.1 not available via sdkman?"
Why is Temurin 17.0.4.1 not available via sdkman? There are lots of other vendors providing 17.0.4.1 via sdkman but not Temurin. I'm on macOS x86_64.
[code]

[2022-09-01 08:41] karianna commented on #581
@viktor-thell-seal Have you asked the SDKMan team?  We're not actually responsible for that product :-)

[2022-09-01 08:58] viktor-thell-seal commented on #581
Thanks for the response and sorry, but given the text on sdkman I thought you guys published to them:

From: https://sdkman.io/vendors

But given [this](https://github.com/sdkman/sdkman-disco-integration) it seems like they rely on https://github.com/foojayio/discoapi to get info about JDK releases and for some reason `17.0.4.1` is not returned by that api.

For anyone interested I opened a ticket

[2022-09-01 08:58] #581 closed

[2022-09-03 19:19] DaveJarvis commented on #544
We haven't encountered the issue with JDK 17. The D-Bus library we're using has added a mitigation strategy to its API. We won't be investigating further.

[2022-09-05 10:47] karianna commented on #519
@Mattii124 Please try with the latest 11.0.16.1 and let us know if you still get crashes (and please do attach those crash logs).

[2022-09-06 08:52] #544 closed

[2022-09-07 07:23] zdtsw commented on #576
more detail from thread https://adoptium.slack.com/archives/C09NLQQAV/p1661934623667589
@Ercolino are you okej to have this issue closed?

[2022-09-07 07:48] Ercolino commented on #576
Yes, thank you for your support

[2022-09-07 07:48] #576 closed

[2022-09-07 08:14] #523 closed

[2022-09-08 16:05] tonedef71 opened #582 "NullPointerException occurs when using Apache FOP 0.93 to render a GIF or PNG image into a PDF"
### Please provide a brief summary of the bug

While running Apache FOP 0.93 to render a PDF from an XML schema which references an external GIF or PNG file, a `NullPointerException` is thrown when FOP attempts to render the image into the PDF document.  When a BMP or JPG image is referenced instead, the NPE does not get thrown.  Browsing through the FOP source code it appears likely that the ICC

[2022-09-08 23:08] Squeezened opened #583 "MC Modpacks crashing during launch via FTB app"
### Please provide a brief summary of the bug

While I could launch other modpacks seemingly without issue, Infinity Evolved crashes after some time launching with the FTB app.

The following is the error log for Infinity Evolved

[hs_err_pid5964.log](https://github.com/adoptium/adoptium-support/files/9531142/hs_err_pid5964.log)

### Please provide steps to reproduce where possible

_No response_

[2022-09-09 08:58] karianna commented on #582
@tonedef71 Are you able to upgrade FOP to 0.95?  There's a number of historical bug reports for 0.93 and most users reported it fixed when upgrading.

[2022-09-09 09:33] karianna commented on #583
Hi there, I'm afraid you'll have to report this with the mod pack team, it's hard to know what they may have introduced.  Please note std minecraft comes with MSFT Build of OpenJDK 17.

[2022-09-09 09:33] #583 closed

[2022-09-09 09:35] karianna commented on #350
@keithc-ca Can this be closed now?

[2022-09-09 12:04] kriegaex commented on #350
@keithc-ca, I would also be interested in whether something was back-ported in order to address this issue. If so, which JDK 8 version would you like me to test?

[2022-09-09 13:18] tonedef71 commented on #582
@karianna  I tested by swapping out to FOP 0.95, and while that particular NPE instance does stop occurring, FOP 0.95 requires its own particular versions of dependencies (e.g. `xmlgraphics-commons-1.3.1.jar`), and different errors began to occur in the actual JNLP-launched product we are running (which uses FOP to render its PDFs).  Unfortunately, I don't believe the vendor who supports the JNLP-

[2022-09-09 14:10] #582 closed

[2022-09-12 13:40] karianna commented on #505
Let us keep this open bot :-)

[2022-09-13 11:30] karianna commented on #527
@onionhead0708 sorry for missing this sooner.  Can you try with the latest 8u345-b07 and let us know if it's still an issue?

[2022-09-13 18:12] keithc-ca commented on #350
I think either this issue, or one at openj9 should remain open. Unfortunately, I have not had time to work on this yet.

[2022-09-15 09:19] karianna commented on #350
We'll close this as it's being tracked upstream.

[2022-09-15 12:31] kriegaex commented on #350
Sorry, I strongly disagree with closing this issue. I am tracking it here, and it is not solved. Whenn it is, it can be closed in multiple locations, which should take 20 seconds per project. If I cannot track it here, where is "upstream", pray tell? At least, post a link where I can subscribe, track and comment on the issue.

[2022-09-15 12:57] keithc-ca commented on #350
Please open an issue with [openj9](https://github.com/eclipse-openj9/openj9/issues).

[2022-09-15 13:45] kriegaex commented on #350
Why would I? Here we have a long-standing issue with lots of technical detail. What is the value of opening yet another issue and starting over? If you would simply leave this issue open and fix it, it would be better. Or is one of you is admin in both projects, why not move this issue into the target project where you prefer to have it? Then everyone watching the issue could continue to do so, an

[2022-09-15 15:31] keithc-ca commented on #350
I cannot reopen this and it seems those that could don't want to do so. If issues can be "moved" between projects, I was not aware of that possibility, but, again, I can't do that.

The issue you would open at openj9 can make reference to this so the history is not lost, nor need to be repeated: you don't need to "start over".

[2022-09-15 21:56] AntoBrajkovic opened #584 "ConsenSys teku"
## Question
I am running ConsenSys teku it fails to sync throwing the error bellow. Is it related to the library or teku/I am asking here since it says to report the bug here. Sorry if i am at the wrong address

## Context
otna@ethValidator:~/teku/teku-22.9.0$ sudo docker run --network="host" -p 9000:9000/tcp -p 9000:9000/udp -p 30304:30303/tcp -p 30304:30303/udp -p 5051:5051 --user 1000:1000 --mo

[2022-09-16 07:13] onionhead0708 commented on #527
Dear @karianna ,

There is no 8u345-b07, the latest one from https://adoptium.net/temurin/releases/?version=8 is 8u345-b01
I have downloaded the 8u345-b01 and test, same error:

[code]

[2022-09-16 08:54] onionhead0708 commented on #527
Just one more to mention, in the hs_err_pid14924.log file, there is following section:
[code]
The windows server that i did the test does not have the J: drive and also doesn't have any jenkins folder

[2022-09-16 09:59] karianna commented on #350
I've reopened this, apologies I thought the tickets were linked

[2022-09-16 10:00] karianna commented on #584
@AntoBrajkovic Java 16 is no longer supported, you can try our latest 17.0.4.1

[2022-09-16 13:44] AntoBrajkovic commented on #584
tried it, still fails
## context
otna@ethValidator:~$ sudo docker run --network="host" -p 9000:9000/tcp -p 9000:9000/udp -p 30304:30303/tcp -p 30304:30303/udp -p 5051:5051 --user 1000:1000 --mount type=bind,source=/home/otna/.local/share/teku,target=/var/lib/teku consensys/teku:latest --data-base-path=/var/lib/teku --ee-endpoint=http://localhost:8551 --ee-jwt-secret-file=/var/lib/teku/token.txt
[s

[2022-09-18 08:54] karianna commented on #584
@AntoBrajkovic are you able to send us / upload the `/opt/teku/hs_err_pid1.log` log file?  Is this a fairly easy crash to reproduce?

[2022-09-18 08:56] karianna commented on #584
https://bugs.openjdk.org/browse/JDK-8274365

[2022-09-19 08:29] TZR-Redstonemaniac21 opened #585 "All yum commands return a "https://packages.adoptium.net/artifactory/rpm/ol/7Server/aarch64/repodata/repomd.xml: [Errno 14] HTTPS Error 404 - Not Found" Error"
### Please provide a brief summary of the bug

No matter what I do, I get this error. I don't know how to fix it as I'm not getting anything from google. This is on an Oracle Cloud VM running an [Oracle-Linux-7.9-aarch64-2022.08.29-0] Image.

### Please provide steps to reproduce where possible

_No response_

### Expected Results

I expected the "sudo yum update" command to work

### Actual Resul

[2022-09-20 05:56] arvic-loveria opened #586 "eclipse-temurin:11 Missing libfontmanager.so: libfreetype.so 6"
**What are you trying to do?**
I'm trying to set the java.awt.headless=true as a solution to issue that I have encountered when generating PDF using Jasper Report
**Expected behaviour:**
No exception
**Observed behaviour:**
Throwing java.lang.UnsatisfiedLinkError: /opt/java/openjdk/lib/libfontmanager.so: libfreetype.so 6: cannot shared object file: No Such file or directory
**Any other comments:**

[2022-09-20 11:17] arvic-loveria commented on #586
Yes @karianna

[2022-09-20 11:17] arvic-loveria commented on #586
I'm closing this issue as I have resolved this by manually installing the libfreetype6 as part of my docker image creation.

[2022-09-20 11:17] #586 closed

[2022-09-23 07:37] JWT007 opened #587 "Javadoc doubling up on TYPE_USE annotations."
### Please provide a brief summary of the bug

When using TYPE_USE annotations (ie. @NotNull) with arrays and lists Javadoc is doubling down on the leading annotation.

For example:

With simple interface:

[code]

The generated Javadoc looks like the following (leading annotation always 2x)

[code]

NOTE: The "Method Summary" table displays correctly; however, the "Method Details" does not.

###

[2022-09-23 07:45] JWT007 commented on #587
Sorry just found this related issue in the openjdk bugs:

https://bugs.openjdk.org/browse/JDK-8278592

[2022-09-23 10:07] #533 closed

[2022-09-23 13:26] albanf opened #588 "JDK 17 crashes when running Payara with APM agent"
### Please provide a brief summary of the bug

When deploying an application to Payara 5.2022.3 with the AppDynamics agent, the JVM crashes.
[code]

### Please provide steps to reproduce where possible

_No response_

### Expected Results

No crash

### Actual Results

It crashes.
I found a similar bug report on the Jetbrains JDK 17: https://youtrack.jetbrains.com/issue/JBR-4697/Generic-SIGSEGV-at

[2022-09-23 13:28] albanf commented on #588
[fargate-jdk-17-crash.log](https://github.com/adoptium/adoptium-support/files/9634003/fargate-jdk-17-crash.log)

[2022-09-23 13:43] tivervac commented on #530
In the meantime, the linked bug has been split in two. [The first](https://bugs.openjdk.org/browse/JDK-8275610) appears irrelevant to us, we still encounter the issue with JustJ 17.0.4. [The second](https://bugs.openjdk.org/browse/JDK-8285835) is probably the one we need fixing.

[2022-09-23 14:22] karianna commented on #530
17.0.4.1 should have https://bugs.openjdk.org/browse/JDK-8275610 fixed (the first)

[2022-09-23 14:28] albanf commented on #588
@karianna Yes I have, and they provided me with a workaround to limit the class transformations done by the agent.
But as I understand, the agent does not contain any native code, so whatever it does, the JVM should not crash as a result of its operation, right?

[2022-09-25 11:45] dmatej commented on #505
My Maven build crashed too right now ... Second attempt passed.

[code]

[2022-09-26 09:21] rwestrel commented on #505
@dmatej Could you provide instructions to reproduce this?

[2022-09-26 10:02] dmatej commented on #505
I would love to, but I can't - it happened just once until now.

I used these JVM options (via .mavenrc file):
[code]

[2022-09-26 12:04] jm185666 opened #589 "Failed to start"
### Please provide a brief summary of the bug

When start run.bat (windows) the app crashesand show the next message:

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ILLEGAL_INSTRUCTION (0xc000001d) at pc=0x00007ff9e8e73fb9, pid=3536, tid=2756
#
# JRE version: OpenJDK Runtime Environment Temurin-11.0.16.1+1 (11.0.16.1+1) (build 11.0.16.1+1)
# Java VM: OpenJDK 6

[2022-09-26 18:35] karianna commented on #589
@jm185666 Can you send us the log at C:\Install\RAP\hivemq-4.8.4\bin\hs_err_pid3536.log

[2022-09-26 18:37] jm185666 commented on #589
Of course.

From: Martijn Verburg ***@***.***>
Sent: lunes, 26 de septiembre de 2022 20:36
To: adoptium/adoptium-support ***@***.***>
Cc: Moreno, Javier ***@***.***>; Mention ***@***.***>
Subject: Re: [adoptium/adoptium-support] Failed to start (Issue #589)

*External Message* - Use caution before opening links or attachments

@jm185666<https://urldefense.com/v3/__https:/github.com/jm185666__;!!In

[2022-09-26 19:04] jm185666 commented on #589
[hs_err_pid3536.log](https://github.com/adoptium/adoptium-support/files/9648949/hs_err_pid3536.log)

[2022-09-27 09:27] karianna commented on #589
@jm185666

[code]

That last line comes from the librocksdbjni dll which contains native code which has triggered the crash - have you submitted this issue to the the RocksDB folks as well?  They may need to look at what C/C++ they've written there.

[2022-09-27 09:51] rwestrel commented on #505
@dmatej Actually, I'm not sure I can tell from the bug report what build causes the crash. What repo is it and how should I build it? Do you still have the replay and hs_err files that were produced by the crash? Can you attach them to the bug?

[2022-09-27 10:14] karianna commented on #475
@kapil-suri-by Can you try with the latest 1.8.0_345?

[2022-09-27 10:15] #462 closed

[2022-09-27 11:01] dmatej commented on #505
[replay_pid778413.log](https://github.com/adoptium/adoptium-support/files/9654741/replay_pid778413.log)
[hs_err_pid778413.log](https://github.com/adoptium/adoptium-support/files/9654743/hs_err_pid778413.log)
Repository: https://github.com/eclipse-ee4j/glassfish, command `mvn clean install -Pfastest -T4C`
Sorry, I would upload them directly, but at that time I could not find how, now I googled it :

[2022-09-27 11:02] rwestrel commented on #505
@dmatej thanks

[2022-09-28 07:29] rwestrel commented on #505
@dmatej would you still have the core file and would you be willing to share it with me?

[2022-09-28 15:09] dmatej commented on #505
It took me a while to find it :-)
It is a quite large file, even zipped, so I uploaded it temporarily to the Google Disk: https://drive.google.com/file/d/1UzNQnIiVzScWMQkAAFOIPZuDND8hS6b8/view?usp=sharing

[2022-09-29 06:54] rwestrel commented on #505
@dmatej thanks for taking the time to do that. I downloaded the core file.

[2022-09-29 11:04] rwestrel commented on #505
I could reproduce it and have a fix. It will be fixed in the current development branch of the jdk first (jdk 20) and backported to some future 17 release.

[2022-09-29 20:37] Everworkx opened #590 "Eclipse doesn't start"
### Please provide a brief summary of the bug

-

### Please provide steps to reproduce where possible

_No response_

### Expected Results

-

### Actual Results

If i open eclipse, i start and shutdown before i can see Dashboard

### What Java Version are you using?

java version "1.8.0_341" Java(TM) SE Runtime Environment (build 1.8.0_341-b10) Java HotSpot(TM) 64-Bit Server VM (build 25.341-b10

[2022-09-30 08:51] jerboaa commented on #590
This isn't a temurin build --^, fwiw.

Going by the hs_err file the actual version in use is JDK 17:

[code]

Crash is in c2:

[code]

[2022-09-30 11:42] Everworkx commented on #590
i have installed jdk:

java version "17.0.4.1" 2022-08-18 LTS
Java(TM) SE Runtime Environment (build 17.0.4.1+1-LTS-2)
Java HotSpot(TM) 64-Bit Server VM (build 17.0.4.1+1-LTS-2, mixed mode, sharing)

no changes. eclipse crash after startup

[2022-09-30 15:35] LucasBQ commented on #590
It's an amd graphic driver error I had the same problem in intellij
 OpenJDK Runtime Environment Temurin-17.0.4.1+1.

 solved by installing Adrenalin 22.5.1 Recommended (WHQL) (downgrade)

[2022-09-30 17:34] Protinon opened #591 "Error uploading to Endpoint Manager/Intune"
### Please provide a brief summary of the bug

Our company uses Microsoft Endpoint Manager for pushing software to our clients' computers. EM allows for direct msi uploads (much easier than .exe installers). There is an error when uploading the installers: **The selected app package does not appear to have either a ProductCode or ProductVersion.**

This occurs with:
- OpenJDK8U-jdk_x64_windows_hot

[2022-09-30 17:34] Protinon opened #594 "Error uploading to Endpoint Manager/Intune"
### Please provide a brief summary of the bug

Our company uses Microsoft Endpoint Manager for pushing software to our clients' computers. EM allows for direct msi uploads (much easier than .exe installers). There is an error when uploading the installers: **The selected app package does not appear to have either a ProductCode or ProductVersion.**

This occurs with:
- OpenJDK8U-jdk_x64_windows_hot

[2022-10-01 12:05] #590 closed

[2022-10-02 14:24] Caeseus opened #592 "Failed to write core dump. Minidumps are not enabled by default on client versions of Windows"
### Please provide a brief summary of the bug

#

# A fatal error has been detected by the Java Runtime Environment:

#

# EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x00007ffc3003f4c5, pid=14424, tid=0x0000000000004028

#

# JRE version: OpenJDK Runtime Environment (8.0_312-b07) (build 1.8.0_312-b07)

# Java VM: OpenJDK 64-Bit Server VM (25.312-b07 mixed mode windows-amd64 compressed oops)

#

[2022-10-02 14:25] tunedal opened #593 "jpackage: Busy cursor remains after application has launched"
### Please provide a brief summary of the bug

When an application is packaged for Windows with jpackage and then launched from the desktop icon or start menu (using the launcher created by jpackage) the mouse cursor continues showing a busy indicator for several seconds after the application has finished launching and displayed its main window.

It might be because Windows is waiting for the laun

[2022-10-02 15:44] karianna commented on #593
@tunedal - Do you have a small simple program that demonstrates this?

[2022-10-02 15:46] karianna commented on #592
@Caeseus you can try the latest 1.8.0_345 build but I'm afraid I suspect it's a problem with the LWJGL version you're using as the crash is coming from that lib.

[2022-10-02 15:56] tunedal commented on #593
The attached zip file contains an example program (`HelloSwing.java`) along with a WSH script (`build.js`) which packages and installs the example program. After running the script with `cscript build.js` there will be two desktop shortcuts:
* `HelloSwing.lnk` – Created by the jpackage installer. Exhibits the buggy behavior.
* `ExpectedBehavior.lnk` – Created by the build.js script. Launches the J

[2022-10-02 16:23] Caeseus commented on #592
The LWJGL? I don't recognize that abbreviation.

[2022-10-03 08:28] karianna commented on #593
Thank you - reported upstream at: https://bugs.openjdk.org/browse/JDK-8294706

[2022-10-03 08:29] karianna commented on #592
Light Weight Java Gaming Library.  It's the core lib used by Minecraft for the GUI interaction with your drivers etc.

[2022-10-03 10:13] tunedal commented on #593
Oops, I seem to have caused a duplicate in the OpenJDK bug tracker. I initially reported the issue to Oracle, before I knew about the Temurin bug reporting process, so [JDK-8294699](https://bugs.openjdk.org/browse/JDK-8294699) is a duplicate of the same issue. Sorry about that.

[2022-10-03 12:00] Protinon commented on #594
I've just copied your support email on my ticket with MS support. It's case#32718855 on their system.

[2022-10-03 13:55] Caeseus commented on #592
Thank you, @karianna . Would you know what I would need to to do to "fix" that or is it possible?

[2022-10-03 16:24] PerMildner opened #595 "Backport of ??? missing from ???"
### Please provide a brief summary of the bug

The fix for the macOS 12 issue with missing "Times" font ([JDK-8273358](https://bugs.openjdk.org/browse/JDK-8273358)) supposedly was backported in 8u321 ([JDK-8273722](https://bugs.openjdk.org/browse/JDK-8273722)) but when I downloaded OpenJDK8U-jdk_x64_mac_hotspot_8u345b01.pkg today, I still get the warning about missing "Times".

I used the LogicalF

[2022-10-03 22:11] karianna commented on #592
Are you on the latest version of base minecraft?

[2022-10-04 04:29] HammYzz opened #596 "Save file loads to clouds / unable to generate map"
### Please provide a brief summary of the bug

Pokewilds load save to clouds screen can open menu and select items/pokemon/anything.
if you try to move it says it needs to generate a map, click yes and it's never able to load.

ram slowly ramps up to filling up all 16gb i have available then drops off.

### Please provide steps to reproduce where possible

_No response_

### Expected Results

load

[2022-10-04 10:18] perlun commented on #485
@karianna Whether this is a "bug" or not can of course be discussed. :slightly_smiling_face: It at least makes it impossible to use the package as drop-in-replacement for the distro-provided JDK together with `libtcnative-1 ` and `tomcat8` on Ubuntu 18.04. I'm quite certain that this is the case for more recent Ubuntu versions as well.

But it largely depends on which way Eclipse Temurin wants to

[2022-10-04 18:04] Caeseus commented on #592
I believe the modpack is 1.18.2

[2022-10-04 18:08] Omnimanoncrack opened #597 "Minecraft crashing when leaving the mcc island server"
### Please provide a brief summary of the bug

When joining the mcc island server all of the text on the leaderboard is a 0, and the game crashes when leaving. In the crash report it says that the problematic frame is "C  [jemalloc.dll+0x1ca13]" and that there was a fatal error that said "EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x00007ffb4dfcca13, pid=8416, tid=4520". Also didn't render any

[2022-10-05 12:37] karianna commented on #595
The backport was to Oracle's JDK only, needs a backport to OpenJDK

[2022-10-05 12:40] karianna commented on #596
@HammYzz Are you able to tell us which version of our Java that you are using?

[2022-10-05 13:46] karianna commented on #592
Did you give 1.8.09_345 a go?  Please note official Minecraft is at 1.19.x with Java 17 as its core.

[2022-10-05 13:47] karianna commented on #597
We recommend sticking with the MSFT Build of OpenJDK provided with the official Minecraft download.  Can you try with that?

[2022-10-05 13:48] #483 closed

[2022-10-06 11:31] #470 closed

[2022-10-08 22:22] ysimhony opened #598 "eclipse crash on startup"
### Please provide a brief summary of the bug

Hi,

I am trying to use eclipse version: eclipse-cpp-2022-09-R-linux-gtk-x86_64

But eclipse crashes

What do I miss?

Thanks,
Yacov

### Please provide steps to reproduce where possible

_No response_

### Expected Results

I expect eclipse NOT to crash

### Actual Results

[0.004s][warning][os,container] Duplicate cpuset controllers detected. Pickin

[2022-10-09 11:13] karianna commented on #598
@ysimhony can you send us the file at `/u/yacovs/eclipse-cpp-2022-09-R-linux-gtk-x86_64/eclipse/hs_err_pid2454.log`

[2022-10-09 12:34] ysimhony commented on #598
[hs_err_pid2454.log](https://github.com/adoptium/adoptium-support/files/9741570/hs_err_pid2454.log)

Attached.

Thanks

[2022-10-10 09:03] karianna commented on #598
@ysimhony   Thank you - looks like when the Eclipse Splash screen invocation calls out to the native render lib it crashes.

Did the core dump at: /u/yacovs/eclipse-cpp-2022-09-R-linux-gtk-x86_64/eclipse/core.2454 also get created?  If it's not too large can you upload that as well?

[2022-10-10 09:08] karianna commented on #534
@Aholicknight Apologies for not responding sooner.  We do have a new version 11.0.16 that is out if you're able to give that a go?

[2022-10-10 17:33] ysimhony commented on #598
[hs_err_pid2454.log](https://github.com/adoptium/adoptium-support/files/9747895/hs_err_pid2454.log)

Hi @karianna,

Attached the core dump.

Thanks.

[2022-10-10 17:39] ysimhony commented on #598
Hi @karianna,

Apologies for uploading the log file again.

File size is too big.

After trying to tar the file it is still 69MB in size, while only 25MB size is allowed.

[2022-10-10 17:53] karianna commented on #598
Is there a temp file share service you can use such as dropbox?

[2022-10-10 18:13] ysimhony commented on #598
[https://www.dropbox.com/s/6p8o2gflhyf6j34/core.2454.tar.gz?dl=0](url)

[2022-10-10 18:22] karianna commented on #598
Great I have it now thanks.

[2022-10-11 07:40] karianna commented on #582
That's correct, I'm afraid you'll need to persuade your vendor to allow the
upgrading of the stack.
Cheers,
Martijn

On Fri, 9 Sept 2022 at 14:18, Tony DeFusco ***@***.***> wrote:

[2022-10-11 08:32] funnelspider commented on #313
I wasn't installing it. I was unzipping it.
I did that several times and it reproduced each time.

Can't you reproduce it ?

On Wed, Apr 20, 2022 at 3:26 PM Martijn Verburg ***@***.***>
wrote:

[2022-10-11 09:25] HammYzz commented on #596
I can check when I get home from work.

I ended up moving my save file to a vm that had 64gb of ram and was able to
load the game.
Save it.
Then move the save file back to my laptop and continue playing.

I dont know if it's from me moving to a lot of different worlds on my save
file or what, but seems to be resolved now.

I was able to generate another map just on my laptop after this though.

On

[2022-10-12 10:59] karianna commented on #313
@funnelspider I'm not able to reproduce this using the latest 11.0.16.1 - can you try installing that version and send us the updated log if it crashes/fails?

[2022-10-12 11:03] karianna commented on #596
OK, sounds like the heap simply needed to grow beyond 16GB before settling back down to a smaller size.  It may be worth contacting the authors of that program to see if they can reduce the memory consumption of their maps.

[2022-10-12 11:03] #596 closed

[2022-10-12 21:21] ysimhony commented on #598
Hi @karianna,

Any update?

Did you find the root cause for this issue?

Thanks.

[2022-10-13 07:54] shallynever opened #599 "jvm irregular crash[jdk version 11.0.16.1]"
## Question
jvm irregular crash

## Context
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007f7ee0890383 (sent by kill), pid=6, tid=5067
#
# JRE version: OpenJDK Runtime Environment Temurin-11.0.16.1+1 (11.0.16.1+1) (build 11.0.16.1+1)
# Java VM: OpenJDK 64-Bit Server VM Temurin-11.0.16.1+1 (11.0.16.1+1, mixed mode, tiered, compressed oops, g1 gc

[2022-10-13 11:17] karianna commented on #598
Not yet sorry, it'll take some time to dig into this.  One quick Q - I assume all of your O/S and graphics drivers are updated?

[2022-10-13 11:28] karianna commented on #543
@Saibion apologies for not replying to this sooner.  Are you able to try again with the latest 11.0.16.1 and see if the error still persists?

[2022-10-13 11:32] karianna commented on #599
@shallynever Are you able to upload the core dump /workdir/core.6 to Dropbox or similar?

[2022-10-13 11:40] Saibion commented on #543
I was able to get it passed using 11.0.16.1 along with changing the Info.plist CFBundleIdentifier value of the following: rmiregistry, rmid, pack200, keytool, jrunscript, jfr, java, jaotc and jspawnhelper

[2022-10-13 11:43] karianna commented on #543
One for @gdams to check when he gets back

[2022-10-13 12:31] kerner1000 commented on #543
Hi @Saibion great you figured this out. Currently, I build a JRE by myself to solve this issue. Did you find a better way?

[2022-10-13 12:40] Saibion commented on #543
I certainly wouldn't label it a "better way" I directly edit the CFBundleIdentifier within the executables. Then pass the executables to the current build.

[2022-10-13 13:23] Saibion commented on #543
The difference maybe that I also resign and set entitlements of the binaries which goes something like this:
# Sign JRE/BIN
for FILE in "$JRE/$BIN/"*;
    do
    codesign --force --entitlements "entitlements.plist" --options runtime --timestamp --sign "3rd Party Mac Developer Application: CORGROUP LLC (APA8BXUFB2)" $FILE;
    done

echo "\n------------------> JRE/LIB Code sign and set entitlements

[2022-10-13 13:30] kerner1000 commented on #543
Yes, you are right, the crucial part is the (re-)signing the code. Probably I am doing something wrong here. It's really a mess to get an app to the App store..

[2022-10-13 13:31] Saibion commented on #543
It gets worse - I'm now prevented from publishing to the App Store do to a problem with SWT

[2022-10-13 22:07] FreQRiDeR opened #600 "JRE Crashes on Monterey"
### Please provide a brief summary of the bug

FutureRestore Gui crashes Java Runtime Environment. 18.0.2.1+1.

### Please provide steps to reproduce where possible

launch FutureRestore-GUI

### Expected Results

app launch

### Actual Results

app crashes

### What Java Version are you using?

terramoda@Mac-DaDDY ~ % java --version openjdk 18.0.2.1 2022-08-18 OpenJDK Runtime Environment Temurin-

[2022-10-14 09:13] karianna commented on #600
@FreQRiDeR Java 18 is no longer supported by the community.  You can try Java 17 (LTS) or 19.

That said, it does look like a GPU driver crash, so it's also worth making sure those drivers are fully updated.

[2022-10-14 09:13] #600 closed

[2022-10-14 09:59] liamsharp opened #601 "Crash loading fonts"
### Please provide a brief summary of the bug

We've had over 100 reports from users experiencing this crash with our application (Screaming Frog [SEO Spider](https://www.screamingfrog.co.uk/seo-spider/)). In every instance of this crash the user has an Indian Locale and/or Timezone.

We've been lucky enough to have 1 of the users experiencing this issue work with us (we are unable to reproduce th

[2022-10-14 19:52] wesley-philip opened #602 "Support for SecureRandom SHA2DRBG algorithm"
## Question

When we tested with SecureRandom and SHA2DRBG in May 2021, the algorithm seemed to be available. However, now when we test, it doesn't seem to be present.  Has support for SHA2DRBG been removed after April / May 2021?

## Context

Java version:  OpenJDK 8 - Open J9 from https://adoptopenjdk.net/

Your operating system and platform:

Windows 10 on x86-64

[2022-10-16 08:08] ysimhony commented on #598
Hi @karianna,

How can I confirm that?
What are the exact commands for that?

[2022-10-16 18:16] karianna commented on #602
@tellison - are you able to redirect to the OpenJ9 team?

[2022-10-16 18:30] karianna commented on #598
@ysimhony which type/version of Linux are you running?

[2022-10-16 18:33] #486 closed

[2022-10-16 20:24] FreQRiDeR opened #603 "JRE 19 Wreaking Havoc on Brew Packages, Python3 in MacOS."
## Question
I deleted the VM in /Library/Java but issue persists. Certain Brew packages no longer work and error out with invalid System instructions including java --version. Does latest JRE require AVX? If so, how do I remove it entirely? Brew, Python3 are broken now.

## Context

Java version:
19, latest

Your operating system and platform:
MacOS Monterey 12.4 x64 (No AVX support)

[2022-10-16 20:37] karianna commented on #603
try `brew doctor` and see what it says

[2022-10-17 01:02] DanHeidinga commented on #602
fyi @mstoodle @pshipton

[2022-10-17 01:34] FreQRiDeR commented on #603
"Ready to Brew"

No errors.

JRE is conflicting with Python3.9, 3.10. Nothing that uses python runs now after installing Latest JRE. Even apps that run 100% on Java and have it imbedded. How do I remove JRE completely ?

[2022-10-17 11:56] twbecker commented on #546
Still an issue...

[2022-10-17 13:16] karianna commented on #603
@FreQRiDeR I think this is a question for the brew community.  Python3 and temurin casks are completely unrelated so something else is going on.

You can manually delete Java installations with `rm -rf /Library/Java/JavaVirtualMachines/<java installation you want to delete>`

[2022-10-17 13:16] #603 closed

[2022-10-17 13:33] mstoodle commented on #602
I believe that only the IBM SDK for Java 8 currently supports this algorithm via its SecureRandom implementation. It is not implemented in OpenJDK 8 as far as I can determine: the latest NIST 800-90Ar1 DRBG (Deterministic Random Bit Generator) support when into OpenJDK 9 via [JEP 273](https://openjdk.org/jeps/273) and I don't see any obvious JDK8 backport.

[2022-10-17 14:09] #602 closed

[2022-10-17 14:14] laiviettrung opened #604 "Could not create the Java Virtual Machine. A fatal exception has occurred. Program will exit."
### Please provide a brief summary of the bug

I used this adoptium to get into minecraft fabric 1.16.1. I use launcher but it gives me this error
![Screenshot_20221017_090223](https://user-images.githubusercontent.com/110972143/196197922-7c60a5c6-846f-499a-9274-c911abe6baf5.png)

### Please provide steps to reproduce where possible

_No response_

### Expected Results

I want the development team

[2022-10-17 14:26] karianna commented on #604
Hi @laiviettrung I'm afraid we can't detect what could be the issue here with a modded version of Minecraft, you'll need to contact the Minecraft fabric owners.

[2022-10-17 14:26] #604 closed

[2022-10-17 15:05] FreQRiDeR commented on #603
I don't believe it is a Brew issue as I deleted Homebrew and reinstalled. (I only have a few packages.) Also, apps like FutureRestore-Gui which are 100% Java and downloaded from the dev do not run anymore. FR-Gui even has Java bundled and, as I mentioned, problem only arose when I installed Adoptium Java. Any version.

[2022-10-20 19:16] ysimhony commented on #598
Hi @karianna,

Sorry for the late response.

[yacovs@yacovs_lnx70bcccmp_latest_Docker:~/eclipse-cpp-2022-09-R-linux-gtk-x86_64/eclipse]$ uname -a
Linux yacovs_lnx70bcccmp_latest_Docker 3.10.0-1160.25.1.el7.x86_64 #1 SMP Wed Apr 28 21:49:45 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

[2022-10-21 09:15] FyiurAmron commented on #383
https://en.wikipedia.org/wiki/Theacrine

1,3,7,9-Tetramethyluric acid; **Temurin** (...)

Seems it fits the ☕ -themed naming scheme common to Java ecosystem nicely.

[2022-10-21 12:51] Obsiye opened #605 "Is there an alpine image of arm64v8/eclipse-temurin"
## Question

Hi is there an alpine version of the arm64v8/eclipse-temurin ?

## Context

Java version: 17

Your operating system and platform:

arm64v8 on a macbook m1 chip

[2022-10-21 14:45] karianna commented on #605
There is not I'm afraid.

[2022-10-21 14:45] #605 closed

[2022-10-23 15:51] C-Iaens opened #606 "Random Crash in MC"
### Please provide a brief summary of the bug

Hi,
I'm getting this issue from time to time recently. It is _very_ random, as I can play for hours and not crash, and then relaunch the game and crash after 5s. It has only happened twice so far. It was on a multiplayer server.

### Please provide steps to reproduce where possible

I was unsuccessful in reproducing the bug manually. It has happened t

[2022-10-24 07:30] liamsharp commented on #601
I've done a [second release](https://github.com/screamingfrog/adoptium-font-crash/releases/tag/v2.0.0) that builds with a range of other JDKs to see if the issue is unique to Adoptium. Our very helpful user has kindly tested each of these for us and reported the following:

**adopt-openj9**

Good:
![adopt-openj9](https://user-images.githubusercontent.com/6429288/197467892-e31205ce-3cf6-4b3a-868d-1

[2022-10-24 10:45] karianna commented on #606
You're best off reporting this to Mojang directly as it's an interaction with the LWJGL that they use (which makes native calls)

[2022-10-24 10:54] karianna commented on #601
https://bugs.openjdk.org/browse/JDK-8295837

[2022-10-26 18:31] ghost opened #609 "Multithreaded Java program using LinkedBlockingQueue terminates unexpectedly on 32bit arm"
### Please provide a brief summary of the bug

On 32-bit ARM architectures (armhf and arm7l), OpenJDK Runtime Environment Temurin-17.0.4.1+1 can terminate unexpectedly. This is likely the same issue as #544 .

### Please provide steps to reproduce where possible

1. Save the attached file `ReceivingService.java.txt`.
1. Rename the attachment to `ReceivingService.java`
1. Run: `javac ReceivingServi

[2022-10-26 19:15] wjstorres opened #610 "DBEAVER is crashing down"
### Please provide a brief summary of the bug

EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x00007ffe40f67e53, pid=31296, tid=25156
#
# JRE version: OpenJDK Runtime Environment Temurin-11.0.12+7 (11.0.12+7) (build 11.0.12+7)
# Java VM: OpenJDK 64-Bit Server VM Temurin-11.0.12+7 (11.0.12+7, mixed mode, tiered, compressed oops, g1 gc, windows-amd64)
# Problematic frame:
# C  [msvcrt.dll+0x77e53]
#

[2022-10-26 20:24] tellison commented on #530
Pinged about this at EclipseCon by @tivervac

[2022-10-27 00:13] karianna commented on #610
@wjstorres Can you please try with 11.0.16.1 and see if you get the same crash?

[2022-10-27 00:17] karianna commented on #530
Maintainers are commenting on the upstream issue, but it's still open for now.

[2022-10-27 00:23] karianna commented on #609
@DaveJarvis We're just in release week and so 17.0.5 will be avaialable soon.  Can you test that when it comes out and send the log again then?

[2022-10-27 00:27] DaveJarvis commented on #609
We're entering regression testing soon, so it may not be feasible for us to update to 17.0.5 for a while.

[2022-10-27 08:12] pekuz opened #611 "new URI(S,S,S,S) throws exception with incorrect error message"
### Please provide a brief summary of the bug

We rely on URI class implements reasonably well RFC-2396. Recently faced a confusing case.

### Please provide steps to reproduce where possible

[code]

### Expected Results

The message should make sense, the index of the invalid character should be relative to the presented URI string.

[code]

### Actual Results

Above index ``7`` in ``ftps://p.e.

[2022-10-27 10:14] karianna commented on #611
@pekuz Can you try with our latest 17.0.4.1?

[2022-10-27 10:34] pekuz commented on #611
OK, I have used the latest available, see below:

[code]

The same wrong error message.

[2022-10-27 12:17] karianna commented on #611
@pekuz Hmm, that's interesting :-).  Are you just concerned that the Exception is reporting the incorrect index number or do you believe that `|` should be a valida character in a URI?

[2022-10-27 12:18] karianna commented on #611
FYI - I replicated this in 11.0.16.1 as well

[2022-10-27 12:40] pekuz commented on #611
I'm sure about the incorrect index because ``p`` is a valid char.

Indeed this evident smell raises subsequent questions.

For ``|``, it comes from observations that it is the pipe disrupting the URI.

I'm not sure if ``|`` should or should not be rejected, spec-wise:

java.net.URI JavaDoc is silent on ``|``, the other category there matches non-US-ASCII chars, but ``|`` is US-ASCII char.

RFC htt

[2022-10-28 08:54] tivervac commented on #530
@uschindler That's quite possible. By now we've been able to (temporarily?) work around this issue by not obfuscating one of our classes. We obfuscate using [ZKM](https://www.zelix.com/klassmaster/index.html). That obfuscator likes to split off code and wrap it in other classes.

[2022-10-28 10:45] uschindler commented on #530
So you don't have the source code of:
C2:  25179 18398       4       com.sigasi.hdt.vhdl.effectanalysis.d::visitIdentifierPathElement (97 bytes)

??? Too bad. Maybe a disassembly of bytecode?

[2022-10-29 13:20] vishalbandre opened #612 "Eclipse crashes on pasting something in Editor."
### Please provide a brief summary of the bug

It doesn't happen on each paste but it happens occasionally.

I experienced the same behavior on Eclipse 2022 and 2021.

Initially, I was using Eclipse 2022 but encountered this issue, so I did try to downgrade my Eclipse to 2021. But, some happens here as well.

My System:
Ubuntu 22.04 64bit
Processor: i5 11th Gen

### Please provide steps to reprodu

[2022-10-30 01:06] yahammou opened #613 "OSATE2 crash when AADL diagram is opened"
### Please provide a brief summary of the bug

I am using OSATE2, when I try to read an AADL diagram file "xxxx.aadl_diagram"  the window crashes and ask me to restart to fix the zoom but the restart keep showing the same error

### Please provide steps to reproduce where possible

Open OSATE2 latest version

create an AADL project

create an AADL package

then create a minimal xxx.aadl file that

[2022-10-30 12:00] karianna commented on #613
Hi @yahammou You stated you're using ubuntu Java 11.0.16, but the crash log is from Temurin 17.0.3, which I suspect is bundled with the app you are using?  You can try to install 17.0.5 from adoptium.net and update the config of your app to use that instead.

[2022-10-30 12:02] karianna commented on #612
@vishalbandre can you try with the latest 17.0.5 and report and crash log here?

[2022-11-01 10:33] arjenw opened #616 "Support for aarch64 Windows platform"
For people running Windows ARM (for example using Parallels on Mac M1), it would be helpful to have distributions targeting the aarch64 Windows platform. Other vendors like Microsoft and Azul have those distributions. Are there plans for Adoptium to provide builds for the aarch64 Windows platform for JDK 11, 17 and newer?

[2022-11-01 11:19] karianna commented on #594
@Protinon To do double check - what are the various versions of Windows that this package is being pushed to?  We understand that a 32-bit installer worked and I'm wondering if our 64-bit installer was being accidentally pushed to a 32-bit machine.

[2022-11-01 12:33] Protinon commented on #594
The issue is not with pushing software to computers, but uploading them to Endpoint Manager. They install on all machines perfectly fine, but I have no way of mass-pushing Adoptium to client computers if the software will not upload to EM.

[2022-11-01 12:42] karianna commented on #616
Yes, we'll be working on this.  Not 100% sure of timelines yet but we've secured Windows on Arm hosts on Azure to build and test as a starting point.

[2022-11-01 12:42] #616 closed

[2022-11-01 13:59] gdams commented on #594
Inspecting the MSI more closely we do seem to have the ProductCode set so not sure why else this would fail:

[code]

[2022-11-01 14:56] Alovchin91 commented on #616
Hi @karianna ,

Looking at your profile, I figured you might be able to give the best answer 😅

For the time being, can you please confirm (or deny) that Microsoft's OpenJDK builds (specifically 11) are a fully compatible replacement for Temurin on that platform (Windows aarch64)? Our users are already there and, since you [still](#409) don't have specific timelines, I would like to understand if

[2022-11-01 15:58] Protinon commented on #594
I have to agree with you, the error message shown isnt helpful in the slightest. It may not even be the actual issue.

I've been wrestling with MS support for a month now, but they are convinced the issue lies with Adoptium.

I was hoping by looping you in, they would realize the issue and maybe ask you try some possible solutions. I heard you joined a meeting with MS support, did anything come fr

[2022-11-02 01:16] Protinon commented on #594
Forgot to respond to this, we are using Endpoint Manager hosted on Microsoft servers. We've never had issues uploading 32/64bit programs before.

[2022-11-03 08:38] BuZZ-dEE commented on #291
Still a bad bot, this still needs looking at.

[2022-11-03 09:02] tivervac commented on #530
Sadly, I had this info at the time of writing, but not anymore at this point.

I'll see whether I can reproduce it again

[2022-11-03 11:35] fkamming opened #619 "zlib CVE-2018-25032 vulnerability"
### Please provide a brief summary of the bug

Latest Temurin LTS release (jdk-17.0.5+8) comes with zlib v1.2.11 (java.base module). Zlib before 1.2.12 is vulnerable to memory corruption when deflating: [CVE-2018-25032](https://nvd.nist.gov/vuln/detail/CVE-2018-25032). This has a high 7.5 CVSS 3.1 score.

### Please provide steps to reproduce where possible

_No response_

### Expected Results

LT

[2022-11-03 14:28] llyons opened #620 "net.sf.ehcache.store.disk.DiskStorageFactory.write error"
### Please provide a brief summary of the bug

We have an atlassian crowd app that seems to crash 2-3 times very close together in 20 min.  We get some memory dumps and this log file.

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x06368830, pid=3564, tid=0x00001548
#
# JRE version: OpenJDK Runtime Environment (8.0_312-b07)

[2022-11-03 14:30] llyons commented on #620
We did have version 11 of JRE also on the machine that was not being used but first in the path.   I have removed this version and removed it from path.

We also have a couple dump files from the problem

[2022-11-03 21:01] karianna commented on #616
@Alovchin91 They are functionally equivalent yes.

[2022-11-03 21:44] karianna commented on #594
In internal MSFT testing it does seem to be an Adoptium installer only issue, we're diffing that and other installers (from say Azul Zulu or Amazon Corretto).

[2022-11-03 21:45] #552 closed

[2022-11-04 14:13] karianna commented on #620
Please try our latest 8u352 from adoptium.net and repost the error log (if one is produced) - hopefully that fixes it.

[2022-11-04 15:56] candrews opened #621 "eclipse-temurin:11-jre-alpine: CVE-2022-43680: In libexpat through 2.4.9, there is a use-after free"
### Please provide a brief summary of the bug

In the `eclipse-temurin:11-jre-alpine` image, a vulnerable version of `expat` is included: https://avd.aquasec.com/nvd/2022/cve-2022-43680/

### Please provide steps to reproduce where possible

[code]

### Expected Results

`expat-2.5.0` or later should be used.

### Actual Results

`expat-2.4.9-r0` is included, which is vulnerable to CVE-2022-43680

[2022-11-04 20:12] treatmeniceplz opened #622 "Crash Report"
## Question
can someone help me understand this crash report?

## Context
i am trying to launch feather client and it crashed
Java version:1.19

java version "17.0.1" 2021-10-19 LTS
Java(TM) SE Runtime Environment (build 17.0.1+12-LTS-39)
Java HotSpot(TM) 64-Bit Server VM (build 17.0.1+12-LTS-39, mixed mode, sharing)
Your operating system and platform:
windows 11 22h2 on x86-64

[latest.log](https

[2022-11-04 20:30] candrews opened #623 "eclipse-temurin:18-jdk: CVE-2022-3602 and CVE-2022-3786 in openssl through 3.0.2-0ubuntu1.7"
### Please provide a brief summary of the bug

The `eclipse-temurin:18-jdk` image includes a version of openssl with security vulnerabilities; the openssl package needs to be updated.

* https://avd.aquasec.com/nvd/cve-2022-3602
* https://avd.aquasec.com/nvd/cve-2022-3786

### Please provide steps to reproduce where possible

[code]

### Expected Results

`openssl` should be version `3.0.2-0ubuntu

[2022-11-05 00:29] danavis commented on #622
Reporting this, with the hope it's useful for the devs. Should I post hs_err_pid4180.log somewhere?

(Eclipse:4180): Gtk-CRITICAL **: 19:42:11.735: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkScrollbar
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007ff3cf4f3ee6, pid=4180, tid=4238
#
# JRE version: OpenJDK Runtime Environment Te

[2022-11-05 12:39] karianna commented on #621
Base Alpine version and libs are updated by Docker at DockerHub, hopefully they will refresh soon.

[2022-11-05 12:39] #621 closed

[2022-11-05 12:41] karianna commented on #623
Our 18 images are no longer updated / supported and any base layer libs are updated by Docker themselves at DockerHub.

[2022-11-05 12:41] #623 closed

[2022-11-05 12:42] karianna commented on #622
Can you try with the latest 17.0.5?  And yes that hs_err log is most helpful.

[2022-11-06 04:37] Steddo opened #624 "Random Crash with Log"
### Please provide a brief summary of the bug

Minecraft simply crashes. This only happens when I play; it doesn't crash in my long overnight AFK sessions.

[hs_err_pid21168.log](https://github.com/adoptium/adoptium-support/files/9945155/hs_err_pid21168.log)

### Please provide steps to reproduce where possible

I could not reproduce it intentionally. It happens at random.

### Expected Results

M

[2022-11-06 04:37] Steddo opened #625 "Random Crash with Log"
### Please provide a brief summary of the bug

Minecraft simply crashes. This only happens when I play; it doesn't crash in my long overnight AFK sessions.

Here is one of the crash logs:
[hs_err_pid21168.log](https://github.com/adoptium/adoptium-support/files/9945155/hs_err_pid21168.log)

Also, I don't play vanilla minecraft. I'm playing modded minecraft with fabric. I somewhat suspect a mod in t

[2022-11-06 14:01] karianna commented on #624
Minecraft usually ships with its own Microsoft Build of OpenJDK 17.0.3 - have you tried using that default?  Also you can try our latest 17.0.5 release.

That said the crash report is saying that com.seibel.lod.core.builders.lodBuilding.bufferBuilding.LodQuadBuilder.mergeQuadsInternal is calling somewthing in OpenGL native which is crashingso I'd also try to make sure your graphics drivers are up

[2022-11-06 14:02] karianna commented on #625
Duplicate of #624

[2022-11-06 14:02] #625 closed

[2022-11-06 22:44] brucethemoose opened #626 "Large Pages fails when allocating 8GB+ on Windows/Java 19."
### Please provide a brief summary of the bug

The title sums it up. It only happens in the Java 19 Adoptium build, not the Java 17 one.

### Please provide steps to reproduce where possible

Enter the commands as seen in the cmd output below. Note the "failed to reserve and commit memory" error:

[code]

### Expected Results

Large pages works.

### Actual Results

Large pages does not work, even

[2022-11-07 08:46] Steddo commented on #624
I'm pretty sure that _com.seibel.lod.core.builders.lodBuilding.bufferBuilding.LodQuadBuilder.mergeQuadsInternal_ is from my Distant Horizons mod, so I will try to see if it still crashes once I've removed it.

If it does eliminate crashes, I'll update this thread and contact the mod dev.

[2022-11-07 12:42] karianna commented on #626
https://bugs.openjdk.org/browse/JDK-8296467

[2022-11-07 14:52] Mustish commented on #626
Also happens on lower than 8 gb allocated

[code]

[2022-11-07 16:11] brucethemoose commented on #626
Oh possibly related, see the last comment here (from a previous report I did): https://bugs.openjdk.org/browse/JDK-8292905

[2022-11-08 12:29] karianna commented on #484
As this bug has been reported upstream and there are several workarounds (and also the ability to use newer versions of Java), I'm going to close this issue

[2022-11-08 12:29] #484 closed

[2022-11-08 12:29] karianna commented on #269
As this has been reported upstream I'm closing this issue

[2022-11-08 12:30] karianna commented on #261
As this has been reported upstream I'm closing this issue.

[2022-11-08 12:30] #261 closed

[2022-11-08 12:30] karianna commented on #25
As this has been reported upstream I'm closing this issue

[2022-11-08 12:30] #25 closed

[2022-11-08 12:31] karianna commented on #171
As this has been reported upstream I'm closing this issue

[2022-11-08 12:31] #171 closed

[2022-11-09 08:50] a364176773 opened #627 "why throw UnsatisfiedLinkError"
kafka-clients 2.8.1
jdk 17.0.4
os alpine-linux 3.12.9
[code]

[2022-11-09 14:52] karianna commented on #627
Can you try our latest 17.0.5 and post the result here?  I assume you're using the official Alpine images from DockerHub?

[2022-11-09 15:15] pramit57 opened #628 "Software crashed on linux(Ubuntu)"
### Please provide a brief summary of the bug

Software loads the main GUI, but then crashes when I do anything next. Log attached.

[hs_err_pid4089040.log](https://github.com/adoptium/adoptium-support/files/9972346/hs_err_pid4089040.log)

### Please provide steps to reproduce where possible

Open Openchrom
Click on any option

### Expected Results

Not crash

### Actual Results

It crashes

### W

[2022-11-09 19:39] mysticdevil98 opened #629 "Stoneblock 3"
### Please provide a brief summary of the bug

[hs_err_pid4796.log](https://github.com/adoptium/adoptium-support/files/9974499/hs_err_pid4796.log)

### Please provide steps to reproduce where possible

start up ftb app,
click on stoneblock 3
run the game and it just crashes

### Expected Results

stone block 3 loads as expected and allows you to play

### Actual Results

stoneblock 3 crashed,
look

[2022-11-09 22:48] IncandescentCore opened #630 "CTD entering end portal or waystone"
### Please provide a brief summary of the bug

while playing the game i crashed (was running around the end looking for a city) upon relogging i was back in the fortress but as soon as i enter the portal i CTD again (every time) also tried my waystone that is there, same issue

### Please provide steps to reproduce where possible

while playing the game i crashed (was running around the end lookin

[2022-11-10 00:27] karianna commented on #628
@pramit57 Can you please try with 11.0.17 and post the results here?

[2022-11-10 02:23] a364176773 commented on #627
We use the https://hub.docker.com/layers/library/alpine/3.12.9/images/sha256-45a18fc6f681b6bdfcd0cd37ab57384bb5ceb7aa300b0c981c9b676dba805120?context=explore

I'll try to use 17.0.5 but not as soon, I'll reply as soon as I hear something, thanks for your support!

[2022-11-10 03:57] william00179 opened #631 "SELinx issue on Rocky with running Temurin from systemd service"
### Please provide a brief summary of the bug

Following the installation instructions for Temurin [here](https://adoptium.net/installation/linux/) java is installed onto a Rocky 8 VM (official Rocky AMI on AWS).

If I take any JAR and run it from my current SSH session ie, `java -jar myspringapp.jar` the application will run.

If I try to create a systemd service to run this JAR as a service, the

[2022-11-10 06:13] a364176773 commented on #627
The compression algorithm is fine when set to lz4, when using the snappy compression algorithm it will report an error

[2022-11-10 06:26] a364176773 commented on #627
@karianna Take a look the https://github.com/xerial/snappy-java/issues/181

[2022-11-10 14:08] karianna commented on #631
@william00179

FYI - 18.0.2 is no longer supported so you'll want to move to 19.0.1

https://stackoverflow.com/questions/27262629/jvm-cant-map-reserved-memory-when-running-in-docker-container/27300434#27300434 may also help

[2022-11-10 14:13] karianna commented on #627
Can you try https://hub.docker.com/_/eclipse-temurin/ with the eclipse-temurin:<version>-alpine variant.  That way you have a muslc based JVM on the latest Alpine image.

[2022-11-10 15:10] a364176773 commented on #627
i can try it,thx

[2022-11-10 21:42] IncandescentCore commented on #630
thank you i'll see what they say.

[2022-11-11 09:35] berndschatz commented on #554
I have the same issue on a docker build on several clients and VMs.
But we have also some clients / vms where the same docker build works.

`
Get:15 http://deb.debian.org/debian buster/main amd64 libxtst6 amd64 2:1.2.3-1 [27.8 kB]
Get:16 https://packages.adoptium.net/artifactory/deb buster/main amd64 temurin-11-jdk amd64 11.0.17.0.0+8 [167 MB]
Err:17 https://packages.adoptium.net/artifactory/deb b

[2022-11-11 09:50] berndschatz opened #632 "JDK install on Ubuntu/Debian fails with HTTP 403"
### Please provide a brief summary of the bug

please reopen issue --> https://github.com/adoptium/adoptium-support/issues/554

### Please provide steps to reproduce where possible

see https://github.com/adoptium/adoptium-support/issues/554

### Expected Results

https://github.com/adoptium/adoptium-support/issues/554

### Actual Results

see https://github.com/adoptium/adoptium-support/issues/55

[2022-11-11 12:55] gdams commented on #632
Works for me, can you try the steps again incase it was a temporary outage?

[2022-11-11 13:02] #430 closed

[2022-11-11 13:03] karianna commented on #426
As this is reported upstream I'm closing this issue

[2022-11-11 13:03] #426 closed

[2022-11-11 14:32] berndschatz commented on #632
no, still not working.

very strange, now also the download of temurin 11 fails:

`Get:7 http://deb.debian.org/debian buster/main amd64 fonts-dejavu-core all 2.37-1 [1068 kB]

Get:8 http://deb.debian.org/debian buster/main amd64 fontconfig-config all 2.13.1-2 [280 kB]

Err:2 https://packages.adoptium.net/artifactory/deb buster/main amd64 temurin-11-jdk amd64 11.0.17.0.0+8

  403  Forbidden [IP: 52

[2022-11-12 16:31] pramit57 commented on #628
I installed 11.0.17:
openjdk version "11.0.17" 2022-10-18
OpenJDK Runtime Environment (build 11.0.17+8-post-Ubuntu-1ubuntu220.04)
OpenJDK 64-Bit Server VM (build 11.0.17+8-post-Ubuntu-1ubuntu220.04, mixed mode, sharing)
[hs_err_pid2529.log](https://github.com/adoptium/adoptium-support/files/9995422/hs_err_pid2529.log)

But I still have the same issue with openchrom

I looked at the log and it(the

[2022-11-12 21:12] karianna commented on #628
@pramit57  - I would log an issue with OpenChrom and ask them to bundle with 17.0.5 instead.

[2022-11-14 15:57] #452 closed

[2022-11-14 16:00] karianna commented on #632
@berndschatz Are you able to share what part of the world you are in and whether or not you're on a VPN and which ISP provider you go through?

[2022-11-15 08:55] berndschatz commented on #632
Germany.
Teammate in office has same issue with VPN, but without VPN it works for him.
For me, it work neither neither in office nor in homeoffice (with and without VPN).
Nightly in Azure works fine.

On my private Linux desktop it works in the past,
but in the meantime it works not anymore.
My isp provider has ,,upgraded my old contract for free to 250Mbit/s'',
the result is that my download rate

[2022-11-15 13:22] karianna commented on #632
It could well be - I VPN'd into Germany and could not replicate your issue, so I suspect it is your local ISP provider :-(

[2022-11-16 01:12] RulerOf commented on #632
I'm having the same problem accessing the EL repos, 403 everywhere. Happens from my local network (AT&T in midwest USA) and also on AWS EC2 in us-west-2 region.

My repo config file:
[code]

Attempts to read the repo data:
[code]

It's pretty clear that the whole repo is blocked but yum requires the repomd.xml to know where to find anything, and that's clearly broken here: https://packages.adoptiu

[2022-11-16 01:31] RonneGisun commented on #632
And JDK install on CentOS/RHEL/Fedora failing with HTTP 403 on AWS EC2 in ap-southwest-2 region.

Same problem as @RulerOf above.

failure: repodata/repomd.xml from Adoptium: [Errno 256] No more mirrors to try.
https://packages.adoptium.net/artifactory/rpm/centos/7/x86_64/repodata/repomd.xml: [Errno 14] HTTPS Error 403 - Forbidden

[2022-11-16 02:09] atlas-terii commented on #632
Getting the same thing as well.

"Failure talking to yum: failure: repodata/repomd.xml from Adoptium: [Errno 256] No more mirrors to try.\nhttps://packages.adoptium.net/artifactory/rpm/amazonlinux/2/x86_64/repodata/repomd.xml: [Errno 14] HTTPS Error 403 - Forbidden"

[2022-11-16 02:35] tarekziade commented on #632
it's the whole subdomain that is down https://packages.adoptium.net

[2022-11-16 03:01] RonneGisun commented on #632
Hi @gdams / @karianna, Seems to be a problem for everyone. Can we raise the priority please? Thanks

[2022-11-16 03:39] speedythesnail commented on #632
Update: this is an issue for me as well, Linux Mint (Ubuntu focal). Receiving a 403, not using a VPN. Had no issues running apt update earlier this week (Sunday), today (Tuesday), am receiving a 403 only for this repo.

[2022-11-16 08:38] piru commented on #632
This is definitely broken from multiple locations. When tested with https://geopeeker.com/ and it is 403 from all of them. So this seems to be a generic issue vs some VPN or individual ISP one.

[2022-11-16 08:50] Mahoney commented on #632
Getting a 403 for https://packages.adoptium.net/artifactory/api/gpg/key/public from the UK (Virgin Media) and from AWS US East 1. It's pretty widespread.

[2022-11-16 09:07] berndschatz commented on #632
i get my 403 from an other server now:

[code]

[2022-11-16 09:17] stamepicmorg commented on #632
- finland (hezner)
- germany (hezner)
- russia (local isp)
- amsterdam (vps)

are have same issue.

[code]

[2022-11-16 09:19] gdams commented on #632
We are aware of an issue affecting all users now. This has been broken for roughly 5 hours. I am working with the Artifactory team to get this resolved ASAP

[2022-11-16 10:28] gdams commented on #632
This should be resolved now. Please let me know if you are still experiencing problems

[2022-11-16 10:52] veita opened #634 "Update to Temurin-17.0.5+8 breaks application"
The application uses signed JARs which causes the `java.util.jar.JarVerifier` to call itself during the class initialization process which leads to a `NullPointerException`. As a result the JVM refuses to start.

The problem disappears when SHA-1 is removed from `jdk.jar.disabledAlgorithms` in `conf/security/java.security`. However, as far as I can tell none of the involved JARs was signed using S

[2022-11-16 11:00] grigojev commented on #632
I am now getting this error, when running `sudo apt update`

Err:7 https://packages.adoptium.net/artifactory/deb kinetic Release
  404  Not Found [IP: 54.148.95.12 443]
Reading package lists... Done
E: The repository 'https://packages.adoptium.net/artifactory/deb kinetic Release' does not have a Release file.

[2022-11-16 11:06] grigojev opened #633 "Add release for Ubuntu 22.10 (kinetic)"
After updating to 22.10 I am now getting this error, when running `sudo apt update`

Err:7 https://packages.adoptium.net/artifactory/deb kinetic Release
  404  Not Found [IP: 54.148.95.12 443]
Reading package lists... Done
E: The repository 'https://packages.adoptium.net/artifactory/deb kinetic Release' does not have a Release file.

_Originally posted by @grigojev in https://github.com/adoptium/a

[2022-11-16 11:14] gdams commented on #632
I don't believe that we have ever supported Ubuntu Kinetic in our Deb installers to this date? Are you sure this worked before @grigojev?

[2022-11-16 11:38] grigojev commented on #632
Well, I just updated to it yesterday, so I can believe, that there was no support for this release. I have created the new issue for adding a support for it #633. There are not a lot of changes between 22.04 and new 22.10, so I believe it shouldn't take a lot of effort to add. Just would be nice to have 😃

[2022-11-16 13:20] veita commented on #634
Yes, see above.

[2022-11-16 14:11] veita commented on #634
Unfortunately not. But I'm rather sure that `-Djava.locale.providers=COMPAT,SPI` is in effect.

[2022-11-21 00:51] #529 closed

[2022-11-22 06:56] karianna commented on #564
This still needs investigating

[2022-11-22 20:42] #367 closed

[2022-11-23 03:30] #569 closed

[2022-11-23 08:03] vlapra opened #635 "WTFCrash in libjfxwebkit.so"
### Please provide a brief summary of the bug

Application time to time crashed outside the Java Virtual Machine in native code.

### Please provide steps to reproduce where possible

We are not able to reproduce, but it happened several times on different computers.

Can someone tell us where the problem is?

### Expected Results

Not crash

### Actual Results

WTFCrash in libjfxwebkit.so

### Wh

[2022-11-24 08:55] veita commented on #634
A colleague of mine verified that removing `SPI` from `-Djava.locale.providers=COMPAT,SPI` in our case avoids the code path that leads to the `NullPointerException`.

However, the root cause of the error is the design flaw that there are cases in which initializing the class `sun.security.pkcs.SignerInfo` requires using `sun.security.pkcs.SignerInfo` itself, which is doomed to failure.

[2022-11-24 10:02] pekuz opened #637 "Euro currency sign in URI path is not encoded as per JavaDoc but as per IRI"
### Please provide a brief summary of the bug

Somehow related to #611

[code]

Javadoc reads:

[code]

but toString() returns:

[code]

which resembles IRI.

### Please provide steps to reproduce where possible

_No response_

### Expected Results

JavaDoc is updated to match the observed behaviour, likely the IRI RFC.

### Actual Results

There discrepancy between JavaDoc and observed behaviour.

[2022-11-24 12:22] cleitus opened #638 "JVM can access all cpu cores on host even when container limits are set"
since `17.0.5`, I've noticed that my java application running in a container has access to all the cores on my host machine even when setting cpu contraints on container runtime (either with `--cpus`, `--cpu-shares` or even in kubernetes with resource limits).

Here is a test app with cpu limit set to "1", running in a kubernetes pod:

<img width="859" alt="image" src="https://user-images.githubus

[2022-11-24 15:06] jerboaa commented on #638
Please explain:

1. How exactly you are limiting CPU: `--cpus` switch of your container engine, or `--cpu-shares` (they're not the same). On kubernetes limits should result in `--cpu-quota/--cpu-period` settings. Please be precise.
2. If you expect a limit based on CPU shares only, then yes. [JDK-8289568](https://bugs.openjdk.org/browse/JDK-8289568) is the change (intentional). Use `-XX:+UseContai

[2022-11-24 15:45] jerboaa commented on #638
Note: The output of `java -XshowSettings:system -version` suggests you are running a setup which uses `cpu-shares` only.

[2022-11-24 15:49] cleitus commented on #638
Hello, thanks for the reply

The behaviour described above was observed when running the test on `temurin_17.0.5` with each of the following configs individually (I've also tried combining them):
- `--cpus=1`
- `--cpu-shares=1024`
- in kubernetes with:
[code]

Specifically though, the plots and screenshots from above are from a basic kubernetes pod with the following configuration:
[code]
here's t

[2022-11-24 15:57] jerboaa commented on #638
Please paste the content of the following 3 files on that pod:

- `/proc/cgroups`
- `/proc/self/cgroup`
- `/proc/self/mountinfo`

[2022-11-24 16:54] cleitus commented on #638
`/proc/cgroups`:
[code]

`/proc/self/cgroup`:
[code]

`/proc/self/mountinfo`:
[code]

[2022-11-24 17:23] jerboaa commented on #638
Nothing obvious stands out. `spec.containers[].resources.limits.cpu` should result in corresponding period/quota settings in `cpu.cfs_period_us` and `cpu.cfs_quota_us` values. Not sure why it doesn't for you.

You do set this for the specific container, right (not the pod)? https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#example-1

I've never used `args`. Does it cha

[2022-11-24 20:50] cleitus commented on #638
yes ofc, the deployment would fail anyways if the yaml wasn’t correct

Nothing changes. Only 'fix' is to revert to an image older than `17.0.5` (for example `temurin-17.0.4.1`) or explicitly setting `-XX:ActiveProcessorCount=1`... hence why I thought it justifiable to open this ticket

[2022-11-24 22:13] cleitus commented on #638
**update**: I was unable to replicate the issue on my local minikube!

[2022-11-24 23:31] metalshanked commented on #584
I got the same error with Trino w/JDK 19.0.1
[code]

[2022-11-25 09:27] jerboaa commented on #638
If reverting to `17.0.4.1` makes a difference then there also should be a difference if you specified `-XX:+UseContainerCpuShares` with `17.0.5`. That's the only change I'm aware of in the container detection space wrt CPUs.

[2022-11-25 09:42] SuperPat45 opened #639 "Backport the JDK-8280132 issue correction on JDK 11 and 17"
### Please provide a brief summary of the bug

My production server crash due to this error: java.lang.IllegalArgumentException: Comparison method violates its general contract!
	at java.base/java.util.TimSort.mergeHi(TimSort.java:903)
	at java.base/java.util.TimSort.mergeAt(TimSort.java:520)
	at java.base/java.util.TimSort.mergeCollapse(TimSort.java:448)
	at java.base/java.util.TimSort.sort(TimSo

[2022-11-25 09:47] cleitus commented on #638
That seems to pe the issue, the system is applying the default limits (which happens to be 1024 shares) no matter what I tell it. Thanks for the insight and sorry to have wasted your time.

[2022-11-25 09:47] #638 closed

[2022-11-25 09:53] jerboaa commented on #577
Should be fixed once `8u362` gets released (January 2023)

[2022-11-25 14:24] gabriel1426 commented on #563
I've the same problem, you found the solution?

[2022-11-25 16:17] DavidGauntt opened #640 "Java application under development crashes"
### Please provide a brief summary of the bug

I am developing a Java application using Eclipse.  Several times a week the application crashes while running in Eclipse in debug mode.  It always crashes in the thread JavaThread "JDWP Transport Listener: dt_socket" daemon; I have attached a sample minidump.

This bug had been previously reported and fixed (https://bugs.openjdk.org/browse/JDK-8211909

[2022-11-26 05:01] karianna commented on #640
@DavidGauntt Can you try with the latest 17.0.5 and post the log file here?

[2022-11-26 06:10] karianna commented on #584
@metalshanked Can you send the core dump and/or log file?

[2022-11-27 02:58] DavidGauntt commented on #640
I just installed 17.0.5, and will post a log file if I see another crash.

[2022-11-28 00:17] karianna commented on #611
https://bugs.openjdk.org/browse/JDK-8297687

[2022-11-28 00:24] karianna commented on #637
@pekuz - I'm not 100% sure but I think toString may just be converting the character encoding back to the Euro symbol for display.  I'm not sure this is incorrect behaviour?

[2022-11-28 00:44] karianna commented on #571
@gdams - Am I correct in stating this is Tomcat's challenge to resolve in their packaging?

[2022-11-28 00:44] #579 closed

[2022-11-28 12:32] Bala4496 opened #641 "A fatal error has been detected by the Java Runtime Environment tess4j 5.4.0"
### Please provide a brief summary of the bug

Hi, I got some issue with Tesseract. when I try to run it manually (tesseract image.png out) it works perfectly.
But when I use it in my app JVM get fatal error and crashes

My conf:
1. RecognitionService.class
[code]
2. Dockerfile
[code]
3. pom.xml
[code]
4. Logfile
[hs_err_pid1.log](https://github.com/adoptium/adoptium-support/files/10103693/hs_err_

[2022-11-28 12:39] pekuz commented on #637
By URI JavaDoc, the euro currency sign should be encoded as `"%E2%82%AC"`, an US-ASCII string, so safe for almost any terminal. In reality Java URI does not encode the euro currency sign.

For me, the observed behaviour is pretty usable too, it's closer to [RFC 3987](https://www.rfc-editor.org/rfc/rfc3987) so I proposed to consider to treat this issue as the URI JavaDoc bug rather than the URI imp

[2022-11-30 10:47] pekuz commented on #637
Actual behaviour is:

[code]

So the class-level JavaDoc paragraph on the encoding applies to `toASCIIString()`. That is, as documented, a deviation from RFC 2396. So it will interoperate only with platforms that opted for the exactly same deviation.

Now, if `toString()` follows any RFC or other widely accepted standard, could it be documented, please?