[2021-08-24 22:02] kqarryzada commented on #344
@karianna, thanks for the guidance. We advised our client to upgrade to 11.0.12, and a few days later, they had another SIGSEGV, though it appears different:
[code]

I believe this would still be evaluated by Adoptium, but please correct me if I'm wrong about that. My question is whether we should provide more information here, or if this is different enough to require a new ticket. Please let me

[2021-08-25 09:44] karianna commented on #344
You're using an Amazon Corretto build - you should report this over at https://github.com/corretto/corretto-11

[2021-08-25 09:56] cbmyfirst opened #349 "OpenJdk Crash"
## Question

[hs_err_pid7.log](https://github.com/adoptium/adoptium-support/files/7045985/hs_err_pid7.log)

## Context

Java version:

Your operating system and platform:

[2021-08-25 10:54] karianna commented on #349
[code]

Please upgrade to 11.0.12

[2021-08-25 12:49] gustawdaniel commented on #58
I noticed this bug on Arch Linux after upgrade of Java by Sdkman.

[code]

shows

[code]

After typing `webstorm` I see:

[code]

[2021-08-25 12:52] gustawdaniel commented on #58
Fortunately I fixed it.

I had `JAVA_HOME` set to `/home/builduser/.sdkman/candidates/java/current`.
I typed

[code]

And now it works displaying some warnings

[code]

[2021-08-26 16:28] kriegaex opened #350 "Hanging GitHub Action builds on windows-latest, jdk 8, adopt-openj9"
Please refer to https://github.com/actions/setup-java/issues/211 for
  * a detailed problem description,
  * version numbers,
  * links to several failing (and also one previously passing) builds.

I have no way of being sure if the problem is caused by the JVM itself or some quirk in the GitHub actions environment. I hope you can enlighten me. Thank you,

[2021-08-30 09:50] RBornat commented on #345
On reflection, this may be an openJ9 issue. I shall investigate.

[2021-08-30 15:43] kriegaex commented on #350
FYI, I created https://support.github.com/ticket/personal/0/1290814, which probably you cannot access. Let's see what GH support says. If I have any new insights, I am also going to keep you posted here.

[2021-08-31 12:54] mandarshahane commented on #348
@karianna, Do I need to add any further information on this issue.

[2021-08-31 12:56] karianna commented on #348
I think that's a great start, I've pinged our AIX folks to see if they can repro using your steps

[2021-08-31 14:48] mahesh-tier1app opened #351 "How to capture application monitoring information from the docker container"
I have more than one java application running in separate docker containers. I am trying to collect monitoring data such as GC log, thread dump, heap dump from the java process running inside a container using tools like jstat, jstack, jmap. Is it possible to capture this information from the host(outside containers)?

I am new to the containerized world. I understand that the PID namespace of the

[2021-08-31 17:10] karianna commented on #351
I'd recommend Java Flight Recorder (JFR) and use one of the streaming JFR solutions from New Relic, Microsoft or Red Hat in this case.

[2021-08-31 17:10] #351 closed

[2021-09-01 08:55] myibu opened #352 "When i use docker to run a java application, it runed normally, but a fatal error in JVM happended suddenly."
### When i use docker to run a java application, it runed normally, but a fatal error in JVM happended suddenly.
[code]

[2021-09-01 09:47] treado opened #353 "jdk-11.0.12+7 Windows x86 downloads"
## Summary
Hi team,
There seems to be a couple of issues with the Windows x86 jdk-11.0.12+7 downloads:
- downloading the jdk msi, the resulting file is 1KB, so probably missing something.
- downloading the jre msi, I get OpenJDK11U-jre_x86-32_windows_hotspot_11.0.11_9.msi, rather than 11.0.12.

Many thanks
Mike

## Steps to reproduce

Happened when i downloaded from
https://adoptopenjdk.net/releas

[2021-09-01 13:36] karianna commented on #352
Please run 11.0.12+7 and try again.

[2021-09-01 13:36] #352 closed

[2021-09-02 02:21] antyang26 opened #354 "jdk version 1.8.0_292 Mac11.2.3 Failed to write core dump. Core dumps have been disabled"
how to deal ?
looking forward to replying to the email
thanks!

describe:
enveriment :IntelliJIdea2021.1
start tomcat: error message
 Abnormal build process termination:
Build process started. Classpath: /Applications/IntelliJ IDEA.app/Contents/plugins/java/lib/jps-launcher.jar:/Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Contents/Home/lib/tools.jar
#
# A fatal error has been detected by t

[2021-09-02 06:32] blackcat-101 opened #355 "Solaris (x86 & SPARC) builds missing from Adoptium.net"
## Question

## Context

Java version:

Your operating system and platform:

[2021-09-02 10:20] karianna commented on #355
See https://github.com/adoptium/adoptium/issues/68

[2021-09-02 10:20] #355 closed

[2021-09-03 02:21] devendrajoshi commented on #344
We have been facing the same issue for past few weeks. In our case, JVM runtime is only couple of hours. Here is the error:

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007fc04c7467e4, pid=14, tid=35
#
# JRE version: OpenJDK Runtime Environment AdoptOpenJDK (11.0.8+10) (build 11.0.8+10)
# Java VM: OpenJDK 64-Bit Server VM AdoptOpenJDK (11.0.8+1

[2021-09-03 07:21] antyang26 commented on #354
I tried,  Solution no. 1, no.2,  no.3,  The error is still there
In my mac, only one project have the problem， others project is normal
no .4 method , I can't find pId, this method has not been tried

I also tried unstall idea, install a new idea   ,change jdk,  clear project, and git clone the error project for a new space
Sadly, it still failed

[2021-09-03 11:31] karianna commented on #354
That's very interesting it's only happening on one project.  So other projects also crash but **are** able to write crash reports?

[2021-09-03 11:34] karianna commented on #344
Please use the latest version 11.0.12+7 and report back here if it's still an issue (this crash report is different from the other poster's).

[2021-09-03 17:36] GusRichart opened #356 "Unable to install with OpenJDK11U-jre_x64_windows_hotspot_11.0.12_7.msi"
## Summary

The download for OpenJDK11U-jre_x64_windows_hotspot_11.0.12_7.msi is 75 bytes in size and appears to be incorrect.

## Steps to reproduce

1) Go to the https://adoptium.net/releases.html site
2) Select OpenJDK 11 (LTS) and Windows and x64
3) The JRE listed for MSI is reporting that it is 0 MB

## Expected results

Working OpenJDK 11 (LTS) Windows x64 MSI version that is greater than 75

[2021-09-03 17:37] karianna commented on #356
#353 duplicate

[2021-09-03 17:37] #356 closed

[2021-09-06 10:42] MaksymilianKunc opened #357 "Download link broken"
## Summary

Download link is broken for OpenJDK 11 JRE /  x64 Windows /  HotSpot   / .MSI. **File size is 1kb.**

## Steps to reproduce

## Expected results

## Actual results

## Triaging info

Java version:

What is your operating system and platform?

How did you install Java?

Did it work before?

Did you test with other Java versions?

[2021-09-06 10:58] karianna commented on #357
#356 duplicate - hoping to resolve this today

[2021-09-06 10:58] #357 closed

[2021-09-07 00:11] Rissalove25 opened #358 "Unable to download java"
Is it possible to download this app  https://adoptopenjdk.net/releases.html?variant=openjdk14&jvmVariant=hotspot (Links to an external site.)

Step 2: Select the version of Java that you would like to install (OpenJDK 11 is recommended) and select the HotSpot JVM
its not working

[2021-09-07 13:07] karianna commented on #358
We no longer support Java 14 at Adoptium sorry.

[2021-09-07 13:07] #358 closed

[2021-09-07 15:22] BrijeshNekkare commented on #348
Tested couple of combinations on AIX system
1. Ran the attached executable as is
2. Compiled the test case with the XLC++ compiler 
In both cases i run into SIGSEGV within the JVM entry point and at the same location before the application code has been run - will raise a separate issue for this

Cannot reproduce the StackOverflowError on AIX, here are relevant details of the system where the test

[2021-09-08 07:46] mandarshahane commented on #348
Can you please check the value of ENV variable EXTSHM.
if EXTSHM is set to OFF or no set then you see the crash at the entry point of JVM.
However if you set the value of EXTSHM to MSEG then, you can reproduce this issue.

[2021-09-08 10:19] BuZZ-dEE commented on #291
@karianna you closed [openjdk-support project](https://github.com/adoptium/adoptium-support/projects/1). what does that mean for this issue?

[2021-09-08 10:26] karianna commented on #291
That's just project management tracking via GitHub, we're moving to use ZenHub going forwards so the issue still stays open :-)

[2021-09-08 11:01] SattibabuKandi opened #359 "IcedTea-Web is not bundled in 1.8.0_302 OpenJDK8 Windows 64 bit JRE installer (OpenJDK8U-jre_x64_windows_hotspot_8u302b08.msi)"
## Question

IcedTea-Web is not bundled with OpenJDK8 Windows 64 bit JRE installer (OpenJDK8U-jre_x64_windows_hotspot_8u302b08.msi), where as it has been shipped with windows 64 JRE installers until 8u292.

Also in the Adopt OpenJDK Migration Guide it is mentioned that IcedTea-Web is available as an optional component of the AdoptOpenJDK installer for 64-bit Windows on OpenJDK 8 that you can selec

[2021-09-08 11:25] karianna commented on #359
Correct, we no longer bundle ITW at Adoptium.  You'll need to add this yourself.  see https://blog.adoptopenjdk.net/2018/10/using-icedtea-web-browser-plug-in-with-adoptopenjdk/

[2021-09-08 11:25] #359 closed

[2021-09-08 15:15] devendrajoshi commented on #344
Hello Karianna,
We tried using version 11.0.12+7, but are facing the same issue:

[code]

Any other suggestions?

[2021-09-09 15:11] karianna commented on #353
Now released and resolved.

[2021-09-09 15:11] #353 closed

[2021-09-10 06:32] kriegaex commented on #350
I just had the idea to run this in Git Bash on my local Windows workstation (not on GitHub this time):

[code]

The JVM version I used was:

[code]

After a few seconds, this happened:

[code]

Then, I had to manually kill java.exe in the task manager, and the endless loop continued until a minute or so later the next segfault happened. I can also reproduce it in cmd.exe with a similatr endless lo

[2021-09-10 11:22] karianna commented on #333
Correction to this - only JREs for 8 and 11 (now pretty much complete) but *not* for 16.

[2021-09-10 11:22] #333 closed

[2021-09-10 17:47] brunogenovese opened #360 "KeyGenerator.getInstance(keyAlg) does not recognize any of the Key Algorithms listed from Providers"
Using version 16.

## Summary
I attempted to call KeyGenerator.getInstance(keyAlg) with several key algorithms listed from Security.getProviders().  All of them return "java.security.NoSuchAlgorithmException: NONEwithRSA KeyGenerator not available" or the equivalent.

## Steps to reproduce
(1) List the providers with:
`    TreeSet<String> algorithms = new TreeSet<String>();
    for(Provider provid

[2021-09-10 19:23] keithc-ca commented on #350
I read your comment with interest: I hoped it would mean we could understand and hopefully fix this problem - unfortunately, I was disappointed.

I created a batch file with this content:
[code]
I let it run for over an hour without encountering any problems.
I used the identical java version.
My system is running Windows 21H1 (OS Build 19043.1165).

[2021-09-13 07:33] BrijeshNekkare commented on #348
I am able to recreate the problem using the following JDK version```

[code]

[2021-09-13 07:36] BrijeshNekkare commented on #348
JVM parameters(Xss, StackShadowPages) passed has no impact since the non-primordial thread creation has already begun in the main method.

The default value of the stacksize attribute is 96 KB, reference [here](https://www.ibm.com/docs/en/aix/7.1?topic=programming-threads-library-options)

Updating the stack size beyond the default helps the program move to completion
[code]

[2021-09-13 08:35] jerboaa commented on #360
This is a corretto build, not a Temurin binary (Adoptium). Can you reproduce with a Temurin build?
https://adoptium.net/?variant=openjdk8&jvmVariant=hotspot

If not, please bring this to the corretto folks. Probably here:
https://github.com/corretto/corretto-8/issues

[2021-09-13 15:20] keithc-ca commented on #350
OpenJ9 does not distinguish between Intel and AMD cpus: both will report 'CPU=amd64'.

Do your github actions also run in the German locale? My system runs in the en-ca locale. I would get lost in German, but you seem to understand English: could you try in an English locale to see if that difference is significant?

Your jdk is installed in a location whose path contains a space, while mine did n

[2021-09-13 15:44] keithc-ca commented on #350
As it shouldn't, the space in the location did not make a difference: I ran the loop (without 'sleep 1') for 20 minutes without encountering a problem.

[2021-09-14 07:22] jason-work commented on #58
I also met this issue when I use opengrok to produce index.
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007fb43def7bd3, pid=23976, tid=0x00007fb426e18700
#
# JRE version: OpenJDK Runtime Environment (8.0_292-b10) (build 1.8.0_292-8u292-b10-0ubuntu1~16.04.1-b10)
# Java VM: OpenJDK 64-Bit Server VM (25.292-b10 mixed mode linux-amd64 compressed oops

[2021-09-14 07:25] jason-work commented on #58
I also met this issue .when I used opengrok to produce index .  Ubuntu 18.04 , open-jdk8
[hs_err_pid23976.log](https://github.com/adoptium/adoptium-support/files/7159654/hs_err_pid23976.log)

[2021-09-14 08:52] kriegaex commented on #350
There are no *.dmp files, maybe because the Java process is not terminating until I manually kill it in task manager. GitHub actions run on the default locale, whatever that is (C or US English), but not with German locale. The Windows locale does not make I difference, I guess. Anything else I can try? Why does the JVM print a segfault error but not a core dump file? Is there really nothing you c

[2021-09-14 09:18] gdams commented on #360
Closing here as the issue has been reported at Corretto

[2021-09-14 09:18] #360 closed

[2021-09-14 13:31] ejohnson2cnbanktexas opened #361 "Temurin jdk8u302-b08 Windows x86 JRE msi is 75 bytes"
## Summary
The msi for Temurin x86 JRE msi installer is 75 bytes.

## Steps to reproduce

Go to the release page, https://adoptium.net/releases.html?variant=openjdk8&jvmVariant=hotspot
Navigate to the Windows x86 section, and the JRE msi is listed as 0MB, and the checksum matches the 75 byte file.

![site](https://user-images.githubusercontent.com/90700982/133266564-839d7739-143c-4f0e-9b3b-97cbb1b

[2021-09-14 14:44] karianna commented on #361
Respinning here https://ci.adoptopenjdk.net/job/build-scripts/job/release/job/create_installer_windows/15641/

[2021-09-14 15:08] karianna commented on #361
Fixed, API should pick this up in the next few hours

[2021-09-14 15:08] #361 closed

[2021-09-15 05:48] mduft opened #362 "11.0.12+7: SIGSEGV in com.sun.java.swing.plaf.gtk.GTKStyle.nativeGetXThickness"
## Summary

When updating to 11.0.12+7 binaries there is a SIGSEGV when trying to open any swing based UI on Fedora 34/GNOME (at least, potentially other environments as well).

The problem does *not* occur with 11.0.11+9

## Steps to reproduce

1. Download e.g. https://github.com/bdeployteam/bdeploy/releases/download/v3.6.6/bdeploy-linux64-3.6.6.zip
2. Unzip, locate `launcher/launcher-linux64-3.6

[2021-09-15 12:03] mandarshahane commented on #348
Thanks a lot for your help Brijesh,
I have set the stacksize for the thread and I am able to run the test successfully.

Thanks Again.
Mandar

[2021-09-15 12:22] mduft opened #363 "JDK 17: Files.getFileAttributeView started throwing undeclared UnsupportedOperationException"
## Summary

In JDK 8 and JDK 11, Files.getFileAttributeView with an unsupported attribute view returned null, which is also mentioned in the javadoc of this method.

In JDK 17 the javadoc is the same, but a not-mentioned UnsupportedOperationException is thrown.

## Steps to reproduce

Existing code is structured like this:

[code]

This code now leads to an unexpected exception...

## Expected res

[2021-09-15 14:53] jerboaa commented on #362
I'm surprised this works with 11.0.11+9. Either way, this seems fixed with 11.0.13+5 EA build from:
https://adoptopenjdk.net/upstream.html?variant=openjdk11&ga=ea

This yields me to believe it's a duplicate of this upstream bug (fixed in 11.0.13+4 and better):
https://bugs.openjdk.java.net/browse/JDK-8255790

[2021-09-16 06:12] mduft commented on #362
Retested and can confirm that it works with 11.0.13+5 EA. Thanks for the hint. Will wait for a release then :)

[2021-09-16 06:12] #362 closed

[2021-09-16 08:25] #348 closed

[2021-09-16 15:25] jerboaa commented on #363
@mduft Could you please try this reproducer on JDK 17/11 on Windows and tell me what the output is:

[code]

[2021-09-17 05:21] mduft commented on #363
Some first results - same result on every of the tested JDKs:

[code]

[2021-09-17 05:23] mduft commented on #363
I think it does not recognize its in windows due to casing, let me correct that quickly.

[2021-09-17 05:24] mduft commented on #363
I changed the `osName.contains("win")` to `osName.contains("Win")` to hit the Windows branch, and now:

[code]

[2021-09-17 05:30] mduft commented on #363
Ah - I see why this is passing. In my example it seems I was querying on a ZIP entry, in the test you're still querying the ZIP file itself, not one of it's entries.

[2021-09-17 05:42] mduft commented on #363
Slightly modified the test case to query an *entry* of the ZIP instead:  [TestPosixAttributeView.zip](https://github.com/adoptium/adoptium-support/files/7182933/TestPosixAttributeView.zip)

This now yields:

[code]

... which now reproduces the issue perfectly :)

[2021-09-17 08:11] jerboaa commented on #363
@mduft Excellent. Thanks for the reproducer. I'll take it upstream.

[2021-09-17 09:27] jerboaa commented on #363
https://bugs.openjdk.java.net/browse/JDK-8273935

[2021-09-18 08:10] kriegaex commented on #350
As a matter of fact, I do. Folders like
[code]
are on my `PATH` on Windows (folder names taken from Unix-style Git Bash in this case).

After the hint in https://github.com/actions/setup-java/issues/211#issuecomment-920849262, my GitHub build passed, so I also tried something similar locally, removing the folders mentioned above from the path and adding the OpenJ9 path instead. Now I can no longer

[2021-09-18 21:08] ronaldinzkie opened #364 "* https://adoptopenjdk.net/upstream.html (8, 11)"
## Summary

## Steps to reproduce

## Expected results

## Actual results

## Triaging info

Java version:

What is your operating system and platform?

How did you install Java?

Did it work before?

Did you test with other Java versions?

[2021-09-18 23:41] telcotronics commented on #58
este error se soluciona incluyendo la librería de openfx.. en el proyecto y los so.. este lo resolví hace mucho tiempo..

[2021-09-19 13:25] karianna commented on #364
This report contains no content.

[2021-09-19 13:25] #364 closed

[2021-09-20 09:23] joergflorin opened #365 "Java 11: Tabs in JTextAreas with line wrapping"
## Tabs in JTextAreas with line wrapping are rendered with fixed length instead of using tab stops

Tabs in JTextAreas with line wrapping enabled are rendered with fixed length instead of using tab stops. This problem is shown in Java 11 but not in Java 8.

## Steps to reproduce

Run this java program.

`
import java.awt.BorderLayout;

import javax.swing.Box;
import javax.swing.BoxLayout;
import j

[2021-09-20 16:25] keithc-ca commented on #350
As implied in https://github.com/actions/setup-java/issues/211#issuecomment-922761543, I think there's a conflict between the OpenJ9 VM you're trying to use and others on the system. Can you try this command to see if some shared library is coming from an unexpected location?
[code]

[2021-09-21 06:56] BrijeshNekkare commented on #303
Its a JDK bug

[2021-09-22 13:22] mast76 opened #366 "Windows installer backward compatibility issue (Windows Registry)"
## Summary
Adoptium MSI installer does not set the same registry settings as the Oracle installer.

The most important one missing is "CurrentVersion".
But also the entire "Java Runtime Environment" (a.k.a. public JDK) section is missing.

## Steps to reproduce

- Install the OpenJDK8U-jdk_x64_windows_hotspot_8u302b08.msi
- Choose "JavaSoft (Oracle) registry keys"

## Expected results
The OracleJD

[2021-09-23 09:18] tellison opened #367 "Font issue noticed moving from JDK 11 to JDK 17"
JDK11:
![スクリーンショット 2021-09-23 033212](https://user-images.githubusercontent.com/8847851/134402061-6eca2db0-725c-4173-9379-5a66c12a6212.jpg)
![スクリーンショット 2021-09-23 033248](https://user-images.githubusercontent.com/8847851/134402063-3276feda-2419-4810-8289-de235f4d0c76.jpg)
JDK17:
![スクリーンショット 2021-09-23 033427](https://user-images.githubusercontent.com/8847851/134402055-aa241b55-648e-46a4-907e-21c7a

[2021-09-23 09:22] tellison commented on #367
@roflsunriz Thank you for reporting this problem. Please can you help us track down what is happening by providing more information?

## Triaging info

Java version:
_Paste the entire output of java -version._

What is your operating system and platform?
_For example, "Ubuntu 18.04 on ARM64" or "Windows 10 2004 on x86-64"_

How did you install Java?
_Whether you used a binary archive (zip, tar.gz)

[2021-09-23 09:34] roflsunriz commented on #367
Java version:
JDK11:
openjdk version "11.0.12" 2021-07-20
OpenJDK Runtime Environment Temurin-11.0.12+7 (build 11.0.12+7)
OpenJDK 64-Bit Server VM Temurin-11.0.12+7 (build 11.0.12+7, mixed mode)
JDK17:
jdk-17+35

What is your operating system and platform?
Microsoft Windows 10 Pro
10.0.19043 N/A Build 19043
Version 21H1 (OS build 19043)

How did you install Java?
MSI

Did it work before?
When I up

[2021-09-23 09:48] roflsunriz commented on #367
Did you test with other Java versions?
Tested with
openjdk version "1.8.0_302"
OpenJDK Runtime Environment (Temurin)(build 1.8.0_302-b08)
OpenJDK 64-Bit Server VM (Temurin)(build 25.302-b08, mixed mode)

Recompiled with JDK8, it worked with normal font.

[2021-09-23 11:32] karianna commented on #366
When you run the installer there is an option for it to behave like Oracle's.  Those checkboxes are unticked by default so you'll need to rerun the installer and select them

[2021-09-23 12:32] tellison commented on #367
@takiguc are you able to have a look at this issue?

[2021-09-23 14:04] mast76 commented on #366
@karianna  Please read my description once more.
I am using the install option "JavaSoft (Oracle) registry keys".
It only sets a small subset of the registry keys.

[2021-09-23 15:04] takiguc commented on #367
@tellison OK, I'll check this issue.

[2021-09-23 21:09] theofficialgman opened #368 "adoptopenjdk-8-hotspot-armhf fails to run"
[code]

## Summary

running the adoptopenjdk 8 hotspot build for armhf from the debian repo  https://adoptopenjdk.jfrog.io/adoptopenjdk/deb fails to even run the version check

## Steps to reproduce

sudo apt install adoptopenjdk-8-hotspot-jre
/usr/lib/jvm/adoptopenjdk-8-hotspot-armhf/bin/java -version

## Expected results

prints out the java version

## Actual results

fatal error occurs

## Tri

[2021-09-23 21:27] theofficialgman commented on #368
as a point of reference.. the debian stretch security and security updates version of openjdk work fine

8u252-b09-1~deb9u1
8u302-b08-1~deb9u1

[2021-09-24 12:03] mast76 commented on #366
@karianna Thanks.

[2021-09-25 01:59] HREferg opened #370 "JDK 17 with Eclipse 2021-09: WindowBuilder Design page blank"
JDK 17.0.0.35 (Windows x64 version)

## Summary
JDK 17 with Eclipse 2021-09: WindowBuilder Design page blank

## Steps to reproduce
Any Java code window using WindowBuilder fails to show anything on the Design page.
This is the same bug as Eclipse had with JDK 16, but there was a workaround for 16 in that you could add the line
--illegal-access=permit
to the eclipse.ini file to fix the problem. Th

[2021-09-25 03:56] BrijeshNekkare commented on #370
Unlikely a JDK bug, please refer [JEP 403: Strongly Encapsulate JDK Internals](https://openjdk.java.net/jeps/403)

Key parts of JEP 403 being:

What warning message[s] pop up when you are running your application.

[2021-09-25 04:37] HREferg commented on #370
There are no warning messages I’ve seen – just a blank Eclipse screen.

Normally, when switching to WB Design, there is a popup noting the Design page is opening – this does not appear.

From what you say it appears this is a WB error? And they need to conform to the JEP403 restrictions?

So I need to log a WB bug?

Or can I still do a workaround by use of –add-opens? In which case what should tha

[2021-09-25 05:04] BrijeshNekkare commented on #370
From a long term perspective its recommended to stop access to internal elements of the JDK, so you should certainly seek support of your application team to migrate to JDK17.

List of the packages affected is available [here](https://cr.openjdk.java.net/~mr/jigsaw/jdk8-packages-strongly-encapsulated). The sun.misc and sun.reflect packages will still be exported by the jdk.unsupported module, and

[2021-09-25 05:41] HREferg commented on #370
Have done some digging around and it looks like the WindowBuilder team are aware of this and intend to fix in v1.9.8 (due Oct 9).
On that basis this should be closed as not a JDK 17 bug.

[2021-09-25 05:41] #370 closed

[2021-09-26 16:51] takiguc commented on #367
@roflsunriz
Hello.
Sorry I'm late.
I tried to run NicoCacheGUI Ver0.09 with
* Windows 10 Pro 21H1 (19043.1110) Japanese edition
* JDK17 (Temurin-17+35) via installer

I could not recreate this issue.
I checked your screen shot, it seemed your Windows might not be Japanese edition because Weather information was English.
I'd like to clarify your system again.
Also please run following commands with

[2021-09-26 19:08] roflsunriz commented on #367
Sorry I forgot and didn't tell you that I have changed system setting Japanese to English.
I'm not running <b>NicoCacheGUI v0.09</b> - it is implemented with NicoCache <b>natively</b> so i'm running itself rathar than external GUI.
java -XshowSettings:properties -version 2>&1 | findstr user
    user.country = US
    user.dir = C:\Users\user name
    user.home = C:\Users\user name
    user.language

[2021-09-26 19:52] gdams commented on #368
@tellison could you try with the temurin build for arm32? https://adoptium.net/releases.html?variant=openjdk8&jvmVariant=hotspot

[2021-09-26 20:00] theofficialgman commented on #368
@gdams a simple java -version test of the latest temurin build seems to work fine
[code]

also for reference this was exact deb file version that I was testing before (which is the latest available at the deb repo for armhf https://adoptopenjdk.jfrog.io/ui/native/deb/pool/main/a/adoptopenjdk-8-hotspot)
[code]

[2021-09-26 20:21] gdams commented on #368
I'd recommend using that binary going forwards if that works for you? We also plan to provide the temurin binary in deb/rpm form soon so you'll be able to `apt install temurin-8`. We also provide docker images for all platforms (including armhf) if that works for you?

I'm going to close this issue based on the fact that the latest version of 8 does indeed run

[2021-09-26 20:21] #368 closed

[2021-09-26 20:26] Night2Game opened #371 "Error net.dll+0x56a8"

[2021-09-26 20:28] Night2Game commented on #371
When I start Minecraft, my Minecraft does not start and that's the problem in the logs
# Problematic frame:
# C [net.dll + 0x56a8]

[2021-09-26 20:32] theofficialgman commented on #368
@gdams

this would be nice but is it possible that the debian repo under the original adoptopenjdk-8-* could also be updated?

at minimum for armhf since the current version in the repo seems to not work for some (maybe most) system, even if its going to be abandoned for a new temurin-8 naming?

[2021-09-27 12:08] karianna commented on #371
Looks like you're using an unsupported launcher.  You'll have to likely report this issue to them.

[2021-09-27 12:08] #371 closed

[2021-09-27 16:08] jcompagner opened #372 "where are the JRE variants for Java 17?"
We ship a jre inside our product (which is eclipse based) so we only need the JRE, not a JDK where do we now get those from?

if i now go to

https://adoptium.net/releases.html?variant=openjdk17&jvmVariant=hotspot

i only see JDK no JRE anymore

[2021-09-27 16:42] takiguc commented on #367
Thanks @roflsunriz

It seemed this situation happened by JDK12.
I assume this issue was related by

[2021-09-27 17:11] takiguc commented on #367
Hello @roflsunriz

It seemed this issue happened by JDK12.
I could not determine which code change affected this issue.
But maybe,
[JDK-8185496](https://bugs.openjdk.java.net/browse/JDK-8185496) Improve performance of system properties initialization in initPhase1
[JDK-8213424](https://bugs.openjdk.java.net/browse/JDK-8213424) VersionProps duplicate and skipped initialization

It's related WIndows

[2021-09-27 22:08] roflsunriz commented on #367
Thank you for suggesting workaround. But is this issue will be fixed soon? Or is it going to be abandoned?

[2021-09-27 23:56] karianna commented on #372
We are no longer building JREs for Java 16+ (the concept doesn't exist upstream either).

https://blog.adoptium.net/2021/08/using-jlink-in-dockerfiles/

[2021-09-27 23:56] #372 closed

[2021-09-28 13:37] smlambert commented on #367
Based on @takiguc's investigation ( thank you @takiguc ! ), this issue will need to be reported upstream to the OpenJDK project and the answer to your question, will it be fixed/abandoned will depend on how the issue is prioritized in the upstream project.

[2021-09-28 15:41] SirIntellegence opened #373 "Java won't run on Mac 10.10"
## Summary
The current built version (as of 9/28/2021) does not run on Mac 10.10 as specified. All of the executables print some sort of library error instead of their usual output. I suspect XCode changing defaults while building.

## Steps to reproduce
Install the latest copy on Mac 10.10
cd to the "Home/bin" directory
Run `find . -exec {} \;` to run each executable in the directory

## Expected

[2021-09-28 18:25] SirIntellegence commented on #373
Edit: removed some sarcasm.

[2021-09-28 19:48] karianna commented on #373
We no longer support 10.10 for Java 17 as it's not a supported O/S by Apple itself (Nov 2020 was the end date).

[2021-09-28 19:48] #373 closed

[2021-09-30 19:03] FrontierSteve opened #374 "Strange error when trying to copy OpenJDK11.msi to thumb drive"
I just downloaded OpenJDK11_x64_windows_hotspot.msi to my /Downloads folder.  I want to now copy his MSI file to a thumb drive.  I am getting a message, "Are you sure you want to copy this file without its properties?"  "The file OpenJDKU-jdk_x64_windows_hotspot.msi has properties that cannot be copied to the new location...The installer database contains the logic and data required to install Ecl

[2021-09-30 21:25] greenatatlassian opened #375 "Adoptium Docker Java slimming scripts moved?"
## Question

I understand that the Java included in the docker images is "slimmed". This was certainly true for the AdoptOpenJDK versions.

The AdoptOpenJDK images were slimmed using scripts in the docker repositories, e.g. https://github.com/AdoptOpenJDK/openjdk-docker/tree/master/8/jdk/ubuntu

However, I cannot find any slimming scripts in any of the Adoptium repositories, particularly the `cont

[2021-09-30 21:39] karianna commented on #375
We don't have support for that.  I think in the old openjdk-docker repo you'll likely find Docker images configs that are labelled slim

[2021-10-05 11:02] tushev commented on #374
When someone downloads a file with a major Windows browser, an alternate NTFS stream is also created. This stream marks this file as 'downloaded from the Web': http://woshub.com/how-windows-determines-that-the-file-has-been-downloaded-from-the-internet/

I guess that your thumb drive is FAT(32?)-formatted. FAT filesystem does not support alternate streams (unlike NTFS), so that 'zone data' will be

[2021-10-05 21:45] losmurfs opened #377 "Instructions for winget on website are wrong"
https://adoptium.net/installation.html#packages

## Summary

Instructions say
winget install EclipseFoundation.AdoptiumOpenJDK.17

## Steps to reproduce

Follow the instructions and it will install Udaan '17

## Expected results

Installed Adoptium OpenJDK 17

## Actual results

Udaan '17 is installed

To install Adoptium OpenJDK 17 the command is
winget install EclipseAdoptium.Temurin.17

## Tria

[2021-10-05 23:13] famod commented on #247
Not sure this is the right place to chime in (or that openjdk jira) but I'm seeing a very similar problem:
[code]

This is from a `QuarkusTest` running in Eclipse (which is running on Windows) from a mapped WSL2 network drive.

<details><summary>Full trace</summary>
<p>

[code]

</p>
</details>

[2021-10-06 14:14] ed03875 opened #378 "Upgraded the Default PKCS12 Encryption Algorithms JDK-8153005"
## Question

Why were the Oracle upgraded default PKCS12 Encryption Algorithms not in the AdoptOpenJDK release  8u302 ?  I see that they are there in the Oracle 8u301 release which I thought was the basis for the AdoptOpenJDK release. .

## Context

Java version:
openjdk version "1.8.0_302"
OpenJDK Runtime Environment (Temurin)(build 1.8.0_302-b08)
OpenJDK 64-Bit Server VM (Temurin)(build 25.302-b

[2021-10-07 06:00] merks opened #379 "Java 11 support planed for mac aarch64"
## Question

Are there plans to support mac aarch64 versions for Java 11 LTS?

For Java 17 I see aarch64_mac versions:

https://github.com/adoptium/temurin17-binaries/releases/tag/jdk-17%2B35

But for Java 11 such versions are not present:

https://github.com/adoptium/temurin11-binaries/releases/tag/jdk-11.0.12%2B7

I ask because I plan to migrate JustJ to use Temurin binaries for producing the Ju

[2021-10-08 02:52] windstar20 commented on #89
I solved the same problem by replacing it with oracle jdk 1.8.
Install the oracle jdk.

[2021-10-08 08:55] jerboaa commented on #378
No, it's not. This is Oracle JDK 8u (which is private). Temurin doesn't use Oracle JDK as base, but **OpenJDK 8u**. An OpenJDK backport would have "Fix Version: openjdk8u<update-ver>". The above bug has `8u301`. So no, this hasn't been backported to OpenJDK yet. Feel free to contribute a patch upstream!

[2021-10-08 10:29] karianna commented on #378
Aha - I got confused again, thanks, Severin!

[2021-10-12 08:34] tellison commented on #367
@takiguc thank you for the analysis. As Severin wrote, please report upstream, and add a link to the conversation here for reference. We will watch that conversation, and action this issue accordingly.

[2021-10-12 13:04] tm250486 opened #380 "JDK 8 Windows 7 x86 support"
Hello,

I would like to know if the AdoptOpenJDK 8 hotspot x86 version supports Window 7?

On the page support platform there is no mention of x86 version in Windows section: [Support platforms - Adoptium page](https://adoptium.net/supported_platforms.html?variant=openjdk8)

While the old Adopt page it does mention the support of Window 7: [Supported platforms - AdoptOpenJDK page](https://adoptope

[2021-10-12 13:31] #380 closed

[2021-10-13 04:09] plsstahppls opened #381 "Createcoredumoncrash turned off"
im on adoptopenjdk 16 hotspot

## Summary
I was playing project zomboid b41.55 i was running its batchfile everytime i make a new character and start it after a few moments it would just crash and say "createcoredump on crash turned off"
i dunno whats exactly the problem

## Steps to reproduce

## Expected results

## Actual results

## Triaging info

Java version:

What is your operating system a

[2021-10-14 09:15] karianna commented on #380
Probably 1.8.0_292 - you'll have to try it out and see though.

[2021-10-15 13:30] Jee-Bee opened #382 "Add openjdk11 to homebrew."
## Question

Is it an idea to add the OpenJDK11 lts to homebrew?
Currently only OpenJDK8 (adoptopenjdk8) and the latest version(adoptopenjdk) exist.
 I expect that OpenJDK11 becomes more important packages as Eclipse-Papyrus(https://www.eclipse.org/papyrus/) switch to OpenJDK11.

## Context

Java version:

11

Your operating system and platform:

OSX 10.xx - OSX 11.X

[2021-10-15 16:03] karianna commented on #382
https://formulae.brew.sh/cask/temurin

[2021-10-15 16:03] karianna commented on #382
@gdams - I just noticed - our installation page at Adoptium doesn't mention Homebrew - is it elsewhere or something that needs fixing?

[2021-10-15 17:58] karianna commented on #381
You'll likely need to reach out to them and ask what their support Java version is...

[2021-10-20 08:55] Jee-Bee commented on #382
I have installed this version. but when opening Eclipse Payrus 5.0 / 5.2 i got a error message
`The JVM shared library "/Library/Java/JavaVirtualMachines/temurin-11.jdk/Contents/Home/bin/../lib/server/libjvm.dylib"
does not contain the JNI_CreateJavaVM symbol.`
Is this related to java or to Papyrus Eclipse? At least when i start looking to the error message i read in some methods that i have to ch

[2021-10-20 10:31] karianna commented on #382
This is an issue with Deep Signing on the Mac Binaries from the last release.  This has been resolved and we're spinning a new release this week.  See adoptium.net

[2021-10-21 08:13] SekiBetu opened #383 "What does the word `Temurin` means?"
## Question

I'm not a native English speaker, so I'm curious about what the word `Temurin` means?

## Context

Java version: not needed

Your operating system and platform: not needed

[2021-10-21 08:25] #383 closed, assigned to nobody

[2021-10-25 17:55] lramsahai opened #384 "JVM crashed with Temurin jdk17+35"
## Summary

While running the test suite for my project, the jvm crashes.

## Steps to reproduce

I have been un able to reproduce this with a simple example outside my code base, however looking at the hs_err_pid file, the thread the crashed was the JavaThread "C2 CompilerThread0" daemon, so I am not sure I would be able to reproduce this with a simple example.

The crash only occurs when I am us

[2021-10-26 09:56] WLenhard opened #385 "jdk-17+35 crashes with JFileChooser on Win10"
## Summary
Invoking JFileChooser leads to crash outside the VM in case, FlatLaF is used as the look and feel.

## Steps to reproduce
Minimal code to reproduce:

[code]

## Expected results
Show JFileChooser

## Actual results
"An unrecoverable stack overflow has occurred.
A fatal error has been detected by the Java Runtime Environment:
EXCEPTION_STACK_OVERFLOW (0xc00000fd) at pc=0x5e141119, pid=11

[2021-10-26 12:35] manthrv opened #386 "Requesting for Linux 11.0.12+7 JDk RPMRPM"
Hi

We use https://adoptopenjdk.jfrog.io/ui/native/rpm/centos/8/x86_64/Packages. link to get adoptopenJDK Rpms .

May I have any info related to getting 11.0.12+7 JDk RPMS as like above

Thank you,
vishali

[2021-10-26 14:55] #386 closed, assigned to nobody

[2021-10-27 14:32] #384 closed, assigned to nobody

[2021-10-28 13:28] aprzhel opened #387 "Download links for JRE 8u312 and JRE 11.0.13 on Linux point to previous versions"
## Summary

Attempted to download JRE 8u312 and JRE 11.0.13 for linux from https://adoptium.net/releases.html?variant=openjdk11&jvmVariant=hotspot
Downloaded versions were 8u301 and 11.0.12

## Steps to reproduce

1. open below link in the web browser
      https://adoptium.net/releases.html?variant=openjdk11&jvmVariant=hotspot
2. select Temurin 8 radio button
3. download the JRE for Linux x64
4.

[2021-10-28 14:47] #387 closed, assigned to nobody

[2021-10-28 23:32] CB17Game opened #388 "exit code 6"
yes and it as well a 1.12.2 is 225
## Summary

## Steps to reproduce

## Expected results

## Actual results

## Triaging info

Java version:

What is your operating system and platform?

How did you install Java?

Did it work before?

Did you test with other Java versions?

[2021-10-29 11:02] #388 closed, assigned to nobody

[2021-11-02 09:49] mirkowein opened #389 "AIX ppc64 JRE hotspot"
Hi,

i'm searching for the newest **JRE** version for AIX ppc64 hotspot

JDK is 11.0.**13+8**
JRE is 11.0.**12+7**

Will be there a newer JRE version soon?

Best regards!

[2021-11-02 10:23] TuningYourCode commented on #332
This is also an issue for us as we would have to rewrite some of our automation's (provisioning, deployment etc.) if there is no repository for the current version.
Also automatic updates are possible if there is an repository and we don't have to take a look every few days to check if there is a new (critical?) bugfix release.
I think that was one of the reasons why AdoptOpenJDK got so popular as

[2021-11-02 12:32] karianna commented on #389
They're still being worked, hopefully this week!

[2021-11-02 12:32] #389 closed

[2021-11-02 12:51] mirkowein commented on #389
That would be great. Many thanks for your work!

[2021-11-02 22:48] cmoisei commented on #89
Why was this marked invalid?

I am getting in an environment that is locked down with a Security manager, not saying that the presence of the Security Manager does it but I get the same stack YET I can't reproduce it in a similar, local, environment that is not locked. Runs as standalone boot app and as app deployed on a local tomcat.

It's on openjdk8 but will upgrade to openjdk11 - there is no o

[2021-11-03 09:55] hvdwolf opened #390 "jpackage named and symlinked incorrectly in OpenJDK17U-jdk_64_mac_hotspot_17.0.1_12.pkg"
**Version** OpenJDK17U-jdk_64_mac_hotspot_17.0.1_12.pkg
**MacOS** Catalina

## Summary
To start with: Thanks for all the jdk and jre builds so far. Highly appreciated.
I want to build an app bundle from my java jar using jpackage. I downloaded the latest V17 pkg `OpenJDK17U-jdk_64_mac_hotspot_17.0.1_12.pkg` for MacOS, but it is missing `jpackage`.

I then downloaded the `OpenJDK17U-jdk_x64_mac_hot

[2021-11-03 09:58] karianna commented on #89
See the various comments above, upgrading to latest Adopt binaries solved the issue for various users.

[2021-11-03 10:34] gdams commented on #390
I'm not seeing that on my install?

[code]

[2021-11-03 12:30] hvdwolf commented on #390
Hi, thanks for the speedy responsen, but it is still a bug :wink:
In the tar it is called `jpackage`.
In the pkg it "seems" to be called `javapackager` instead of jpackage. See listing.

[code]

But if I do a "javapackager" command, I get:
`javapackager
Unable to locate an executable at "/Library/Java/JavaVirtualMachines/temurin-17.jdk/Contents/Home/bin/javapackager" (-1)`
And if I check that fold

[2021-11-03 13:26] gdams commented on #390
@hvdwolf I still can't recreate your problem:

[code]
Install the latest JDK17 PKG file (default options):
[code]

[2021-11-03 13:27] gdams commented on #390
The template filler `jpackage` command is provided as part of the macOS OS. It is configured to detect JDK's from `/usr/libexec/java_home`. In my case:

[code]

[2021-11-03 15:22] cmoisei commented on #89
Yes, I saw all of that but just curious what is happening, the underlying case in important, no errors, no traces, no info. the class cannot be created. I have openjdk8, one of the latest, I will what happens when move to 11 today.

[2021-11-03 15:26] hvdwolf commented on #390
Mine says:
`/usr/libexec/java_home -> /System/Library/Frameworks/JavaVM.framework/Versions/Current/Commands/java_home`
And when I cd into `/System/Library/Frameworks/JavaVM.framework/Versions/Current/Commands/java_home` and do a `./java -version` I do get:
[code]

Same for java itself:
`/usr/bin/java -> /System/Library/Frameworks/JavaVM.framework/Versions/Current/Commands/java`

[2021-11-03 21:00] cmoisei commented on #89
OK, so this issue is not invalid nor springboot related

What happens is when hibernate gets to be register as the JPA implementation and when a security manager is set, that class, ValueExtractorManager, would not get initialized and it would result in a weird exception that never seems to get logged or fired during the class defintion/creation

[code]

Adding this permission
("java.util.Property

[2021-11-04 12:11] Tapchicoma opened #391 "Failed to download Windows x64 JDK 16 via api"
## Summary

When Gradle tries to provision JDK 16 for Windows x64 - it fails with "Read timeout"

## Steps to reproduce

Create a new Gradle 7.1 project with following setup in `build.gradle`:
[code]
And try to run the build on Windows machine without JDK 16 installed. Note that Gradle, in this case, still calls to deprecated adoptopenjdk.net api.

## Expected results

JDK is provisioned by Gradle

[2021-11-04 22:23] mdeggers opened #392 "Latest binaries for Windows x64 JRE 11 are not 11.0.13_8"
When downloading the Windows x64 binaries for JRE 11, the links bring up 11.0.12_7.

The JDK release (MSI and ZIP) are at 11.0.13_8

[2021-11-05 09:25] SattibabuKandi opened #393 "OpenJDK JRE version 8u312b07 for Windows platform not available for download"
Hi,

When we select jdk8u312-b07 package for Windows from https://adoptium.net/releases.html?variant=openjdk8&jvmVariant=hotspot, jdk8u312-b07 version JDK packages are available for download and able to download those.
but, for JRE it is still referring to  older version 8u302b08, OpenJDK8U-jre_x64_windows_hotspot_8u302b08.msi and OpenJDK8U-jre_x64_windows_hotspot_8u302b08.zip packages and those o

[2021-11-05 11:29] SattibabuKandi commented on #393
Now I am able to download 312-b07 version JRE for Windows.

[2021-11-05 11:29] #393 closed

[2021-11-05 11:55] karianna commented on #391
Can you see what the call to the AdoptOpenJDK API looks like?  This might be a bug on Gradle's end.

[2021-11-05 12:07] karianna commented on #392
This should b e resolved shortly (we are releasing them separately)

[2021-11-05 12:07] #392 closed

[2021-11-05 12:15] karianna commented on #332
See https://www.github.com/adoptium/installer/issues/330 - we're getting closer!

[2021-11-05 14:59] gdams commented on #382
This is now complete

[2021-11-05 14:59] #382 closed

[2021-11-05 22:46] DevCharly commented on #385
It still crashes on Windows in 17.0.1 32bit.
Works in 16.0.2 32bit.

It is not related to FlatLaf. Occurs also in Windows L&F.
It is a bug in OpenJDK when accessing system icons for the file chooser.

There was a change in this area in JDK 17 to access "large Windows icons", which may be responsible for this crash.
See: https://bugs.openjdk.java.net/browse/JDK-8182043

Maybe this change was never

[2021-11-08 10:11] Tasew1 opened #394 "A fatal error has been detected by the Java Runtime Environment:"
I Got a problem while to open HEC-HMS 4.8. It alwas say that  "error launching class hms:Hms with Java jre\bin\javav. Error =1.  Any one to help with such kind of issues?
The error report is as follows?
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x00007ffebbe742db, pid=10192, tid=9332
#
# JRE version: OpenJDK Runtime Enviro

[2021-11-08 10:57] gdams commented on #394
11.0.6 is pretty old now. Can you please try again with `jdk-11.0.13+8`?

[2021-11-09 14:53] holmM opened #395 "jdk-17+35 crashes with JFileChooser on Win10"
## Summary

``
## Steps to reproduce

Only in 32 bit!!!
[code]

## Actual results

 A fatal error has been detected by the Java Runtime Environment:

  EXCEPTION_STACK_OVERFLOW (0xc00000fd) at pc=0x7a6a1119, pid=6076, tid=14660

 JRE version: OpenJDK Runtime Environment Temurin-17.0.1+12-202111042339 (17.0.1+12) (build 17.0.1-beta+12-202111042339)
 Java VM: OpenJDK Client VM Temurin-17.0.1+12-2021

[2021-11-09 16:32] jerboaa commented on #395
Duplicate of https://github.com/adoptium/adoptium-support/issues/385

[2021-11-09 16:32] #395 closed

[2021-11-10 10:10] jerboaa commented on #385
@karianna This might be a good item for your Microsoft friends to look into upstream :) 32-bit Windows issue.

[2021-11-10 16:43] Tapchicoma commented on #391
Unfortunately no - could get it as issue is flaky on our CI agents. Seems it is rather problem with Github itself then with API.

[2021-11-10 16:43] #391 closed

[2021-11-10 20:38] karianna commented on #385
Yes - we have David Grieve working on this internally :-)

[2021-11-10 22:12] dsgrieve commented on #385
As a workaround, set the minimum thread stack size, e.g. -Xss1M

I believe the default should be 1M, but it appears to be 320K. Since this is set by the linker, this may just be a build issue.

[2021-11-11 10:10] XakepSDK opened #396 "Maven windows 32bit"
## Summary
We have 100% modular multi-module project
Maven fails to build multi-module project on Windows 10 amd64 with Temurin 17 x86
We need x86 jlink builds.

I tried:
- Fail: Windows 7 x86 + Bellsoft Java 17 x86
- Fail: Windows 7 x86 + Temurin 17 x86
- Fail: Windows 10 amd64 + Bellsoft Java 17 x86
- Fail: Windows 10 amd64 + Temurin Java 17 x86
- Success: Windows 10 amd64 + Bellsoft Java 17 amd

[2021-11-11 11:00] jerboaa commented on #396
https://github.com/adoptium/adoptium-support/issues/385 might be related.

[2021-11-11 13:43] XakepSDK opened #397 "JLink images have broken https support"
## Summary
This error does not happen with all URLs. Only happens in JLink images.
This URL is affected: `https://launchermeta.mojang.com/v1/packages/fd990561a3502903a819815ca63b7ac13110a84c/21w44a.json`

## Steps to reproduce
1. Clone this: https://github.com/XakepSDK/jlink-bug
2. Run `mvn package` in root
3. Unpack package from `target/test-load-1.0-SNAPSHOT.zip`
4. Run `bin/launcher`

## Expect

[2021-11-11 14:46] XakepSDK commented on #397
Fixed it. If anybody encounters it, add module `jdk.crypto.ec`. It can't find right crypto algorithms.

[2021-11-11 14:46] #397 closed

[2021-11-11 16:08] Namewin opened #398 "A fatal error has been detected by the Java Runtime Environment"
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x000001a48602bda0, pid=5184, tid=3144
#
# JRE version: OpenJDK Runtime Environment Temurin-16.0.2+7 (16.0.2+7) (build 16.0.2+7)
# Java VM: OpenJDK 64-Bit Server VM Temurin-16.0.2+7 (16.0.2+7, mixed mode, sharing, tiered, compressed oops, compressed class ptrs, g1 gc, windows-amd

[2021-11-11 20:28] karianna commented on #398
The 16.0.x version is no longer supported, please move to the 17.0.1 build.

[2021-11-11 20:28] #398 closed

[2021-11-15 06:06] nischalshakya95 opened #399 "A fatal error has been detected by the Java Runtime Environment while closing the JavaFX Application."
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x6ba20f82, pid=1476, tid=5624
#
# JRE version: OpenJDK Runtime Environment AdoptOpenJDK (14.0.2+12) (build 14.0.2+12)
# Java VM: OpenJDK Client VM AdoptOpenJDK (14.0.2+12, mixed mode, sharing, serial gc, windows-x86)
# Problematic frame:
# V  [jvm.dll+0x190f82]
#
# No core dump

[2021-11-15 09:44] sxa commented on #397
A quick note on this - the [blog entry about creating your own jlinked runtime](https://blog.adoptium.net/2021/10/jlink-to-produce-own-runtime/) explicitly mentions that the `jdk.crypto.ec` doesn't get picked up properly with `jdeps`, so it's not just you who has encountered this :-)

[2021-11-15 09:45] sxa commented on #392
JREs are now available

[2021-11-15 14:14] karianna commented on #399
OpenJDK 14 is no longer supported, please migrated to Java 17.

[2021-11-15 14:14] #399 closed

[2021-11-15 15:00] nischalshakya95 commented on #399
Thanks @karianna. However, if we explicitly define the 32 bit JavaFX SDK path the above issue is resolved. As per my conclusion, on the basics of the system architecture the JavaFX will generate the required dll and copied it into the home directory **.openjfx** folder in windows. Below is the configuration in build.gradle which resolves the above issue.

[code]

[2021-11-16 06:04] nischalshakya95 opened #400 "While loading gmail in JavaFX WebView the application crashed itself."
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_STACK_OVERFLOW (0xc00000fd) at pc=0x5441eaa9, pid=11560, tid=7104
#
# JRE version: OpenJDK Runtime Environment Temurin-17.0.1+12 (17.0.1+12) (build 17.0.1+12)
# Java VM: OpenJDK Client VM Temurin-17.0.1+12 (17.0.1+12, mixed mode, emulated-client, serial gc, windows-x86)
# Problematic frame:
# C  [jfxwebkit.dll+0x12

[2021-11-16 12:47] karianna commented on #400
You'll want to report this at OpenJFX, the crash is in their DLL so to speak.

[2021-11-16 21:10] dsgrieve commented on #385
Created https://bugs.openjdk.java.net/browse/JDK-8277299

[2021-11-17 13:39] mmatela opened #401 "Swing app problems with GUI scaling in Windows"
## Steps to reproduce

I'm using Windows Preferences -> System -> Display -> Scale

When I set it to 150% and then start my sample app, the fonts are very small:

![image](https://user-images.githubusercontent.com/687761/142210352-7094e1d7-422a-4918-99d2-053632b09d22.png)

Interestingly, when I start the app with scale set to 100% and then change the scale to 150%, it looks good:

![image](https:/

[2021-11-17 16:16] keithc-ca commented on #240
@ed03875 Do you have any updates to report? Do you believe this is still a problem?

[2021-11-18 22:09] softwarebrahma opened #402 "Non-Official Docker images Git Repo"
Hello Team,

I noticed that the official Docker images started providing alpine builds for Java 11 starting with 11.0.13. However i see that the same image version from the non-official repo has a different size as compared to the official version. Also the official one does not have the trimmed down alpine-slim version that the non-official does. Basically I am trying to understand what the diffe

[2021-11-18 22:17] heidis123 opened #403 "Robot class issue"
Yes

## Summary

When running Robot class program the program will show no errors but will not compete either the mouseMove or KeyPress methods

## Steps to reproduce

import java.awt.AWTException;
import java.awt.GraphicsDevice;
import java.awt.GraphicsEnvironment;
import java.awt.Robot;
import java.awt.event.KeyEvent;
import java.io.IOException;
import java.util.Random;

public class MouseMover

[2021-11-18 22:19] heidis123 commented on #403
Also, in terms of system permissions both Terminal and Eclipse have been given permissions to full disk access, screen recording, accessibility, and input monitoring

[2021-11-19 02:32] AgingChan commented on #89
@cmoisei Hi, we are facing the same issue on Azul JDK. Was wondering how to add the permission as you mentioned in your post when we start a spring boot application?

[2021-11-19 16:54] cmoisei commented on #89
You can add them in the policy file that you specified at startup - that if
you run with a security manager.

On Thu, 18 Nov 2021 at 20:32, Aging ***@***.***> wrote:

[2021-11-19 21:02] karianna commented on #403
Which Java are you using?  Adoptium?  Can you please try the latest 11.0.13?

[2021-11-19 21:11] karianna commented on #402
THe official one is scanned and blessed by Docker Inc.  The unofficial ones are the ones that we've tested and deploy locally but have not (yet) submitted to DockerHub

[2021-11-19 21:11] #402 closed

[2021-11-19 21:25] softwarebrahma commented on #402
Cool, thanks @karianna ! Is there a plan to start submitting the alpine-slim versions aswell at some point or can we continue to rely on & use the unofficial ones from the unofficial repo?
Thanks
Muthu

[2021-11-19 21:59] karianna commented on #402
Question for @gdams on Monday - IIRC it depends a little on what DockerHub allows (they prefer not to have a massive proleferation)

[2021-11-20 11:22] claudionieder opened #404 "Temurin-17.0.1+12 SIGBUS crash"
## Summary

Fatal error SIGBUS

## Steps to reproduce

Sorry, this happens with a large program that contains personal data. But I am willing to produce something small that can reproduce the error, if you can help me to pinpoint to a Class/Library that causes the issue.

## Expected results

No crash

## Actual results

A fatal error has been detected by the Java Runtime Environment:

 SIGBUS (0x

[2021-11-20 14:44] gdams commented on #402
The unofficial images are from the old AdoptOpenJDK binaries and are no longer supported. It is recommended that you migrate to the official images. If you are looking for a slim version then you could consider using multi stage Dockerfiles to strip out unnecessary files

[2021-11-21 13:08] karianna commented on #404
@claudionieder - Looks like you're running this program from IntelliJ IDEA is that correct?  Can you try running the programe stand alone?

[2021-11-23 02:55] softwarebrahma commented on #402
Thank you @karianna

[2021-11-23 02:55] softwarebrahma commented on #402
Thanks @gdams

[2021-11-23 02:57] softwarebrahma commented on #402
Thanks @gdams

[2021-11-24 14:12] IT-Yogi opened #408 "MSI Files can't be used at Microsoft Intune / Endpoint Manager because of missing ProductCode / ProductVersion"
Hi,

It seems like the product code and / or product version is missing at the msi installer file.
The Microsoft Endpoint Manager (Intune) isn't accepting the file for deployment.
This happens with the versions:

- OpenJDK11U-jdk_x64_windows_hotspot_11.0.13_8.msi
- OpenJDK11U-jdk_x64_windows_hotspot_11.0.12_7.msi

![image](https://user-images.githubusercontent.com/62701790/143254033-718afd11-53e0-

[2021-11-25 15:33] Alovchin91 opened #409 "Windows arm64 support"
## Question

Do you plan to release Windows arm64 builds of Temurin JDK?

We're currently planning a Windows arm64 release of our products and are considering switching to Microsoft OpenJDK because they support it natively. But we hope you have some plans to release Windows arm64 builds?

## Context

Java version:

11 or 17

Your operating system and platform:

Windows 11 21H2 on arm64

[2021-11-25 17:10] karianna commented on #409
We do but are waiting for more Windows ARM SKUs to become publicly available.

[2021-11-25 17:10] #409 closed

[2021-11-25 17:48] Alovchin91 commented on #409
@karianna  What do you mean by Windows ARM SKUs?

[2021-11-25 18:09] karianna commented on #409
Currently most Windows ARM devices are Surface Pro X client machines.  Once it proliferates a bit more beyond that it's easier to add to the build farm (can't rack mount a surface pro X) 🙂

[2021-11-25 18:15] Alovchin91 commented on #409
@karianna I see 🙂

Would "Snapdragon Developer Kit" suffice? https://www.microsoft.com/en-us/d/ecs-liva-mini-box-qc710-desktop/8z247h1h3skp

[2021-11-26 12:51] karianna commented on #409
Maybe, we'll look into it :-)

[2021-11-26 12:53] Alovchin91 commented on #409
Do you have an idea of how long that would take? I presume we shouldn't expect it by January-February, so I guess we'll have to do the switch anyway?

[2021-11-26 13:37] karianna commented on #409
Not sure on timelines sorry, it'll be early next year before we can look properly again though.

[2021-11-30 21:49] devxzero opened #410 "Fatal error with gaih_inet.constprop"
## Summary

Since one of our Tomcat websites upgraded to JDK 17 from JDK15, there are random fatal JVM crashes on daily/weekly basis. These crashes occur under both Azul JDK 17 and Adoptium JDK 17.

The causing code uses `java.net.InetAddress` to resolve a hostname from a given IP address, and then performs a reverse lookup to see if the given hostname is correct (not spoofed). The hostname is cor

[2021-12-01 08:59] jwr opened #411 "SIGSEGV in a long-running network application on MacOS 12.0.1"
## Summary

JVM crashed unexpectedly after running for about a day.

## Steps to reproduce

Of course I can't reproduce this crash, but not all bug reports are automatically useless if not reproducible.

[code]

Java version:

openjdk version "17.0.1" 2021-10-19
OpenJDK Runtime Environment Temurin-17.0.1+12 (build 17.0.1+12)
OpenJDK 64-Bit Server VM Temurin-17.0.1+12 (build 17.0.1+12, mixed mode,

[2021-12-02 20:21] Skot3y opened #412 "Problem running MultiMC 5 (on raspberry pi.)"
**[Begginer]**
Hello i have problem with runing minecraft and it shows this error message

[hs_err_pid21697.log](https://github.com/adoptium/adoptium-support/files/7644864/hs_err_pid21697.log)

[2021-12-04 11:44] claudionieder commented on #404
I wanted to do today, but upon rerunning it in IntelliJ first to my surprise the error had disappeared. I now assume, that it might be therefore some external library - I update my dependencies regularly - and not temurin itself causing the crash. Unfortunately I am not good at interpreting crash reports, otherwise maybe I could have known before. Anyway, thanks for your support, and I'll close th

[2021-12-04 11:44] #404 closed

[2021-12-06 12:06] meensaj opened #413 "A fatal error has been detected by the Java Runtime Environment:"
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x00007fff3c72d1f0, pid=8796, tid=10812
#
# JRE version: OpenJDK Runtime Environment Temurin-17+35 (17.0+35) (build 17+35)
# Java VM: OpenJDK 64-Bit Server VM Temurin-17+35 (17+35, mixed mode, tiered, compressed oops, compressed class ptrs, g1 gc, windows-amd64)
# Problematic fra

[2021-12-06 12:08] karianna commented on #413
Please try with the latest 17.0.1 and report back here if it's still an issues

[2021-12-08 05:52] deepanshujangid opened #414 "FTP Explicit PROT P communication for zero byte file not working"
I am trying to perform a FTP transfer for a file using FTP Explicit PROT P communication. It is working fine with non-zero byte file but with zero byte (blank) file, it is giving me below error -

javax.net.ssl.SSLHandshakeException: Remote host terminated the handshake
        at java.base/sun.security.ssl.SSLSocketImpl.handleEOF(Unknown Source)
        at java.base/sun.security.ssl.SSLSocketImpl

[2021-12-08 13:32] gauravmane opened #415 "Migrating from Adopt JDK 8 to Adopt JDK 11"
## Question
Hello All,

We are migrating from Adopt JDK 8 to 11, and use Ant build to prepare the build for our deployments. Our code has references to Reflect API which came OOTB along with the packages. As I understand the reflect API is no longer supported in Adopt JDK 11 which causes the build to fail with the below error :

We get a ClassDefinitionNotFound for **jdk/internal/reflect/Construct

[2021-12-08 15:43] karianna commented on #415
Please do use the latest 11.0.13

https://nipafx.dev/five-command-line-options-hack-java-module-system/ is a useful guide on the various options to access internal methods.

[2021-12-08 15:43] #415 closed

[2021-12-08 17:13] karianna commented on #414
Which Java are you using? (java --version)

[2021-12-08 17:20] deepanshujangid commented on #414
I am using Java 11. I tried with java 8 also, but the issue is same in that one.

[2021-12-08 17:28] karianna commented on #414
are you using SFTP or FTPS?

[2021-12-08 17:29] deepanshujangid commented on #414
Using FTPS.

[2021-12-08 19:08] karianna commented on #414
I'd recommend trying Apache Commons Net (which does handle 0 byte files OK) https://commons.apache.org/proper/commons-net/

[2021-12-09 00:02] charlesk40 opened #416 "Unrecognized option: -XshowSettings:vm when using JNI_CreateJavaVM"
## Question

I'm able to use -XshowSettings with java command line but when trying to use with JNI_CreateJavaVM, it throws `Unrecognized option: -XshowSettings:vm
`
I'm not sure if this is expected behavior or there is an open issue about this.

# Use -XshowSettings:vm on the command line: no issue
[code]

# Use -XshowSettings:vm with JNI_CreateJavaVM: failed

[code]

## Context

Java version:

[c

[2021-12-09 05:14] deepanshujangid commented on #414
That might require a lot of changes in the code itself. Is there any other work around or any possibility that it might be handled in the future java release ?

[2021-12-09 09:18] karianna commented on #414
I'm not sure if it a core Java issue to be fixed.  This would require a lot of discussion upstream at the OpenJDK project (openjdk.java.net)

[2021-12-09 10:04] karianna commented on #416
We'd need to see how you've written your native code (https://docs.oracle.com/en/java/javase/11/docs/specs/jni/invocation.html)

[2021-12-09 19:35] charlesk40 commented on #416
Below is a sample code that was taken from the API doc and ran:

[charlesk@forgaveslave java_invoke]$ export LD_LIBRARY_PATH=set_to_lib_directory; ./java_invoke_test
Unrecognized option: -XshowSettings:vm
Creating JVM….Segmentation fault (core dumped)

[code]

If I were to remove the "-XshowSettings:vm" or set vm_args.ignoreUnrecognized = true, I don't get the error.

[2021-12-10 10:01] jerboaa commented on #416
https://docs.oracle.com/en/java/javase/11/docs/specs/jni/invocation.html#jni_createjavavm mentions:

[code]

You are trying to use an `-X` option only known by the `java` launcher. In fact, `-XshowSettings` options are handled by the `LauncherHelper` class which is invoked via JNI:
https://github.com/openjdk/jdk11u-dev/blob/master/src/java.base/share/native/libjli/java.c#L1894..L1909

You'd have t

[2021-12-10 11:35] #416 closed

[2021-12-10 14:56] RobinsonShai commented on #63
edit the sources file located at /etc/apt/sources.list and remove the repositories causing that problem.

[2021-12-12 00:30] datgith opened #417 "AdoptOpenJDK and mid.exe and SUMO"
## Question
Is mid.exe really outdated or not?

I have program (Megabasterd) which uses program in topic but MB isn't issue, Sumo (KC Softwares) is since it keeps saying that mid.exe in \jre\bin is outdated (from version 14) and I have deleted whole bin folder and copied new bin folder by adopt jdk 16 and 17 and openjdk 16 and 17 bin folder (deleted bin folder before copypasting other bin folder)

[2021-12-12 11:31] #417 closed

[2021-12-12 11:31] karianna commented on #417
This is a question for Sumo support.  The files we provide as part of
Adoptium builds are up to date.

On Sun, 12 Dec 2021 at 00:30, datgith ***@***.***> wrote:

--
Cheers, Martijn (Sent from Gmail Mobile)

[2021-12-13 20:44] datgith opened #418 "mid.exe"
yes

## Summary

mid.exe is outdated

mid.exe in folder \jre\bin is outdated (14.01) even after deleting \bin and replacing \bin folder with newer folder.

## Steps to reproduce

mid.exe's properties details say that it's version is 14.01.

## Expected results

mid.exe should be 16,x or 17.x

## Actual results

but it's actual version is 14.01

## Triaging info

Java version:

16.01

What is your

[2021-12-14 20:51] theofficialgman commented on #368
@gdams Sorry to be a bother, any update on the creation of a debian apt repo or rpm repo?

[2021-12-16 14:12] takiguc commented on #367
Hello @roflsunriz .
Sorry I'm late.

[JDK-8275145](https://bugs.openjdk.java.net/browse/JDK-8275145) was backported to jdk17.0.2 by [JDK-8275379](https://bugs.openjdk.java.net/browse/JDK-8275379).

I verified this issue with Adoptium following jdk17u Nightly build.
https://github.com/adoptium/temurin17-binaries/releases/download/jdk17u-2021-12-15-10-13-beta/OpenJDK17U-jdk_x64_windows_hotspot_2021-

[2021-12-20 07:54] viretp opened #420 "Error in documentation https://adoptium.net/support.html wrong year for Next Releases"
## Summary

In the release roadmap under https://adoptium.net/support.html the year for the next release is still 2021 but should be 2022.

## Steps to reproduce

got to https://adoptium.net/support.html

## Expected results

Next release date should not be in the past so 2021 is wrong and must be fixed to 2022

## Actual results

Next release date year is 2021

## Triaging info

Java version:

Wh

[2021-12-20 14:14] karianna commented on #420
https://github.com/adoptium/adoptium.net/pull/252

[2021-12-20 14:14] #420 closed

[2021-12-20 21:24] jeremyscott77 opened #421 "Is adopt Open JRE\JDK vulnerable\affected by the log4j exploit?"
## Question

## Context

Java version:

Your operating system and platform:

[2021-12-20 21:40] Jhoops03 commented on #413
Still having the issue: Crashed again today - 12/20/21 at 4:37 PM

[2021-12-20 21:59] karianna commented on #421
It is not.

[2021-12-20 21:59] #421 closed

[2021-12-21 05:59] meensaj commented on #413
yes ....issues is there. i am trying all the ways

On Tue, Dec 21, 2021 at 3:11 AM Jhoops03 ***@***.***> wrote:

[2021-12-21 14:43] Jhoops03 commented on #413
I downloaded JDK 11.13 I think so hopefully that fixes it

[2021-12-21 14:57] meensaj commented on #413
can u plz share jdk 11.13 download link

On Tue, Dec 21, 2021 at 8:13 PM Jhoops03 ***@***.***> wrote:

[2021-12-21 16:45] karianna commented on #413
https://www.adoptium.net contains links for the latest 17.0.1 and 11.0.13

[2021-12-21 17:29] meensaj commented on #413
Got it, thanks!

On Tue, 21 Dec, 2021, 10:15 pm Martijn Verburg, ***@***.***>
wrote:

[2021-12-21 18:48] RudyDJr opened #422 "any issues with log4j vulnerability in JAVA 11.8 hotspot?"
## Question

## Context

Java version:

Your operating system and platform:

[2021-12-21 19:00] RudyDJr commented on #422
Running on Windows server 2016
OpenJDK11U-jdk_64_windows_hotspot_11.0.13_8.msi

[2021-12-21 20:19] #422 closed

[2021-12-21 20:19] karianna commented on #422
No issues - it’s a library bug not a JVM one

On Tue, 21 Dec 2021 at 19:00, RudyDJr ***@***.***> wrote:

--
Cheers, Martijn (Sent from Gmail Mobile)

[2021-12-24 16:40] tresf commented on #397
Adding for Google-Fu:

[code]

... same cause, different error. 🍻

[2021-12-25 03:00] Kwlddy commented on #101
does anyone have a fix for this?

[2021-12-28 08:30] abserali786 commented on #22
I downloaded another sigar 1.6.4 jar (1.6.4.129 (17.1.2016) release) from below link and placed in specific tool lib path (ServerAgent-2.2.3\lib).., then it worked for me.

https://javalibs.com/artifact/org.hyperic/sigar

[2021-12-28 09:41] bLUeScrEeN1512 commented on #412
I have the same error code on my raspberry pi 4, hopefully me or someone else figures out a fix soon...

[2021-12-28 19:44] nw-euronet opened #423 "JAVA_HOME will not update if ever edited"
I'm not sure if this is a bug or intended but we run into a problem when installing OpenJDK.

If the "JAVA_HOME" environment variable has been edited on a Windows workstation, no upgrade or installation of OpenJDK will add/edit the Java Home variable again even when you tell it to. For example: You add a JAVA_HOME env. variable and set it to "C:\java", you then delete this env. variable and restar

[2021-12-29 14:35] Jhoops03 commented on #413
I have latest JDK downloaded and issue still persists.

[2021-12-29 14:39] Jhoops03 commented on #394
I have latest version and crash still happening

[2021-12-29 15:01] meensaj commented on #413
Same issue with my system

On Wed, 29 Dec, 2021, 8:05 pm Jhoops03, ***@***.***> wrote:

[2021-12-29 15:34] Jhoops03 commented on #413
I'm trying everything under the sun to fix it but nothing seems to be working :c
Idk what to do lol, my HC will not survive this

[2021-12-30 02:25] TakahashiEdenyako opened #424 "-Takahashi Please help me understand why this won't work."
I want to play BetaFixed intended for Beta 1.7.3 of Minecraft. Unfortunately, it won't load the game and it is a black screen. And there are times when I do get to play the game but there is no text and I load a new world where there is no block textures. Except heart and gui and skeleton's bows underground.

16 achievements
151 recipes
Setting user: TakahashiEden, token:<ACCESS TOKEN>:<PROFILE ID

[2022-01-03 16:54] karianna commented on #424
Minecraft now comes with its own Java 17.0.1+12 provides by Microsoft.  I'm not sure it's compatible with Java 8.

[2022-01-03 16:54] #424 closed

[2022-01-04 10:53] karianna commented on #412
@Skot3y or @bLUeScrEeN1512 - Can you send us exactly which version of Java you're running via `java --version`?

[2022-01-04 10:55] karianna commented on #394
@Jhoops03 Can you providea new crash log with that latest 11.0.13+8 jdk?  The details could be different for our investigation.

[2022-01-04 10:56] karianna commented on #413
@Jhoops03 and @meensaj - What program are you trying to run?

[2022-01-04 11:02] meensaj commented on #413
AWT and Swing programs

On Tue, Jan 4, 2022 at 4:26 PM Martijn Verburg ***@***.***>
wrote:

[2022-01-04 11:10] karianna commented on #413
@meensaj What's the exact version of Windows you're running?

[2022-01-05 15:00] losmurfs commented on #332
https://blog.adoptium.net/2021/12/eclipse-temurin-linux-installers-available/

[2022-01-05 20:09] #332 closed

[2022-01-06 11:21] JDESTM opened #425 "Regression spotted with 11.0.13+8 and 11.0.12+7 on macOS (Catalina)"
## Summary

Using Adoptium JRE 11.0.13+8 and 11.0.12+7, **on macOS Catalina**, our application hangs in native code when invoking CGraphicsDevice.nativeGetScreenInsets(int), whereas same code works just fine with AdoptOpenJDK 11.0.11+9.

Note: issue reproduced also with Zulu JRE.
Note: not reproduced on BigSur (I don't have access to Monterrey to perform same test).

## Steps to reproduce

1. buil

[2022-01-06 12:56] karianna commented on #425
@JDESTM Are you able to quickly try one of the nightlies at https://adoptium.net/nightly.html?variant=openjdk11&jvmVariant=hotspot

[2022-01-06 13:39] JDESTM commented on #425
Thanks @karianna ! Yes I confirm this nightly build solves the hang/freeze at startup 👍

By curiosity do you have any reference to the initial issue triggering a fix in the version to come ?

[2022-01-07 13:10] karianna commented on #425
I'm not 100% sure but there are ~20 AWT/Mac OS X fixes in 11.0.14 / 17.0.2. The full release notes will come out in late Jan

[2022-01-07 13:10] #425 closed

[2022-01-07 20:30] JDESTM opened #426 "[Fedora] Desktop.open(File) hangs until the Java process is closed"
## Summary

On Fedora 34 and Fedora 35 Desktop.open(File) does not open the default system application for the given file until the Java process is terminated.

## Steps to reproduce

Execute this snippet with a PDF file as argument (for instance):
[code]

On Fedora 33, the PDF viewer is launched immediately.
On Fedora 35, the PDF viewer starts after the 5s delay and the Java process ends.

## Exp

[2022-01-09 10:48] hzxgi opened #427 "java.lang.NullPointerException: Cannot invoke "com.badlogic.gdx.utils.JsonValue.getInt(String, int)""
Exception in thread LibGDX rendering thread:
java.lang.NullPointerException: Cannot invoke "com.badlogic.gdx.utils.JsonValue.getInt(String, int)" because "<local1>" is null
	at com.prineside.tdi2.ui.shared.CameraTools.<init>(SourceFile:343)
	at com.prineside.tdi2.managers.UiManager.setup(SourceFile:356)
	at com.prineside.tdi2.Game$45.run(SourceFile:775)
	at com.prineside.tdi2.utils.GameSyncLoader.

[2022-01-10 02:10] stefan-reich commented on #383
Ahaha. I was expecting it to be a native american word with age long history. Or some such.

[2022-01-10 04:00] smlambert commented on #383
https://twitter.com/adoptium/status/1435519863091564547

[2022-01-10 07:15] JDESTM commented on #426
This issue is actually already reported in OpenJDK:
https://bugs.openjdk.java.net/browse/JDK-8275494

With references in GTK and Red-hat:
https://gitlab.gnome.org/GNOME/gtk/-/issues/4278
https://bugzilla.redhat.com/show_bug.cgi?id=1961119

[2022-01-10 13:28] stefan-reich commented on #383
Oh. So temurin is a caffeine analog - basically a coffee-like designer drug? That's right up my alley. Has someone ingested this? Can't find any info. Hehe.

Anyway, it's a really nice name you chose. 👍

[2022-01-10 15:46] blaisemGH opened #428 "Java 11 define filepath separator"
Java AdoptOpen 11.0.13

I'm running the following java command in a Windows Server 2016 operating system:

`java -Xlog:gc*:file="C:\users\test_gc.log" -version`

This completes successfully.

However, I would like to be able to do:

`java -Xlog:gc*:file="C:/users/test_gc.log" -version`

This fails due to the forward slashes in a Windows system (I'm testing the command in PowerShell which allows fo

[2022-01-11 10:45] karianna commented on #427
@hzxgi this should be reported at the lwlgl project.

[2022-01-11 10:45] #427 closed

[2022-01-11 11:22] karianna commented on #428
@blaisemGH This isn't an Adoptium / Temurin issue per se so you'll want to report this upstream at OpenJDK (http://bugreport.java.com/)

https://stackoverflow.com/questions/783984/change-path-separator-in-windows-powershell may help as a workaround?

[2022-01-11 11:22] #428 closed

[2022-01-12 10:55] GauthierPLM commented on #382
Hello,
The website still does not mention Brew (only winget is mentioned in package managers).
Is there any plan to update the documentation/place we could contribute to add it?
Best regards,

[2022-01-14 04:14] kriegaex commented on #350
Sorry for the late reply. Somehow the notification e-mail was set to read and I forgot to set it back to unread.

[code]

[2022-01-14 14:08] SnehaD12 opened #429 "A fatal error has been detected by the Java Runtime Environment"
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x0000000000474ed4, pid=15636, tid=27868
#
# JRE version: OpenJDK Runtime Environment Temurin-11.0.12+7 (11.0.12+7) (build 11.0.12+7)
# Java VM: OpenJDK 64-Bit Server VM Temurin-11.0.12+7 (11.0.12+7, mixed mode, tiered, compressed oops, g1 gc, windows-amd64)
# Problematic frame:

[2022-01-14 15:12] karianna commented on #429
See https://github.com/adoptium/adoptium-support/issues/22

[2022-01-17 14:11] stefan-reich opened #430 "JWindow translucency breaks on Linux Mint with 2 screens"
## Summary

In a multi-screen setup, in some parts of the screen JWindow translucency doesn't work... [Screenshot.](https://botcompany.de/images/1103064)

## Steps to reproduce

Just run this program:

[code]

## Expected results

It shows a grid of JWindows covering all screens. The windows are supposed to be mostly translucent.

## Actual results

In some parts of the screen, they are not transl

[2022-01-17 14:14] karianna commented on #430
Hi there, can you try a nightly build at: https://adoptium.net/nightly

[2022-01-18 22:11] chjan opened #431 "jPackage documentation needs major update"
## Summary

I am reporting on the latest version of the JDK, as of jan 18 2022. The documentation (we found only : https://docs.oracle.com/en/java/javase/16/jpackage/packaging-overview.html, with also this: https://docs.oracle.com/en/java/javase/17/jpackage/packaging-tool-user-guide.pdf), should be updated and proper advanced example (with rich commenting), should be added, because to use jpackage

[2022-01-19 15:08] karianna commented on #431
@chjan - This is a request that you should post upstream at openjdk.java.net.  I'd recommend the core-libs mailing list

[2022-01-19 15:08] #431 closed

[2022-01-20 20:31] gabihodoroaga commented on #344
The JVM crashes regularly on GCP VM.
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007f1b337a470d, pid=96328, tid=96349
#
# JRE version: OpenJDK Runtime Environment Temurin-11.0.13+8 (11.0.13+8) (build 11.0.13+8)
# Java VM: OpenJDK 64-Bit Server VM Temurin-11.0.13+8 (11.0.13+8, mixed mode, tiered, compressed oops, g1 gc, linux-amd64)
# Problemati

[2022-01-20 21:30] karianna commented on #344
We are releasing 11.0.14 over the coming 4-5 working days.  I'm recommend trying that out once it lands (a few GC crashes were fixed).

[2022-01-21 17:20] stefan-reich commented on #430
Is there another group to post this? Someone dedicated to AWT internals?

[2022-01-21 17:52] karianna commented on #430
yes the openjdk client-libs-dev mailing list is probably your next step

[2022-01-21 20:04] stefan-reich commented on #430
Perfect thank you. This really bothers me. I need those overlays. Thanks

[2022-01-22 03:08] Slackadays opened #432 "Segmentation fault with arm32 build for Linux"
## Summary

After installing Adoptium 17 for Linux arm32 on a Raspberry Pi 1, I can't use the `java` command after adding it to $PATH because it yields a segmentation fault. Manually going into the install folder -> /bin and running `./java`, the segmentation fault is still there. `java -version` is no different.

## Steps to reproduce

1. `wget link-to-adoptium-linux-arm32.tar.gz`
2. `tar -xvf ad

[2022-01-23 16:35] karianna commented on #432
we're about to release 17.0.2 next week, if you can try with that version when it lands that would be appreciated!

[2022-01-24 01:49] spierepf opened #433 "Problem running eclipse from downloaded tarball."
I've just installed eclipse-java-2021-12-R-linux-gtk-x86_64.tar.gz and the log mentions

# JRE version: OpenJDK Runtime Environment Temurin-17.0.1+12 (17.0.1+12) (build 17.0.1+12)

So I believe that I am up to date

## Summary
I cannot start eclipse. Whenever I do, the screen comes up briefly and the following message is displayed:
[code]

## Steps to reproduce

Start eclipse. See above.

## Expec

[2022-01-24 09:41] jerboaa commented on #430
Upstream bug: https://bugs.openjdk.java.net/browse/JDK-8280482

[2022-01-24 09:48] jerboaa commented on #433
[code]

Might suggest it's a third-party JNI problem. Please try reporting this to the Eclipse plugin which provides the groovy editor as that seems to to be the root cause of the problem.

[2022-01-24 21:44] barrycaceres opened #434 "Ternary operator (?:) not short-circuiting -- optimizer evaluating both sides generates NPE"
## Summary

It would seem when I am running my unit tests that the ternary operator is being optimized so that both the "if" and the "else" are being evaluated and the "else" is producing a NullPointerException.

I replaced the ternary operator with an actual "if/else" statement and the code succeeds.  Further, if I wrap the "else" into a function so I can log it being called, the function is not

[2022-01-25 09:23] ankitraval opened #435 "Running java application crashes when third party app call getAccessibleContextInfo (java accessbirdge api) on object return using getAccessibleSelectionFromContext"
## Summary
Running java application crashes when third party app call getAccessibleContextInfo - java accessbirdge api on object return using getAccessibleSelectionFromContext

## Steps to reproduce

1. Create a java application that contains ListView control and run with OpenJDK
2. Use/Create a third party app using JAVA Accessbridge.
3. From a third party app traverse the whole tree of our runni

[2022-01-25 13:17] karianna commented on #434
Hi there, Corretto is repackaged OpenJDK (as is Adoptium/AdoptOpenJDK).  I'm not sure this is a JVM bug per se, will try to take a look in the coming days.

[2022-01-25 13:26] karianna commented on #435
We've just released 11.0.14 - are you able to try on that?

Also what is the Java access bridge API?  Is that a JNI call to something?

[2022-01-25 13:33] ankitraval commented on #435
Hello Karianna,

To get more information on Java access bridge Please refer  https://docs.oracle.com/en/java/javase/11/access/java-access-bridge-api.html#GUID-C10D11B0-F588-43FA-BBDE-70E9085E9AFF.

Let me know if you want more information.

Thanks,
Ankit Raval

[2022-01-25 18:02] barrycaceres commented on #434
I actually think it might be a compiler/optmizer bug.  I've never seen a case where I could not replace an if/else statement with a ternary operator without ill effect like this.

Anyway, my guess would be its not a runtime bug, but a bug in `javac` which ships with the SDK.

[2022-01-25 18:07] barrycaceres commented on #434
I was looking at the language spec and the last part says that the expression not chosen is not evaluated....

https://docs.oracle.com/javase/specs/jls/se7/html/jls-15.html#jls-15.25

[2022-01-25 21:05] adamr88 commented on #187
Switching the x11vnc color depth from 16 to 24 solved the problem for me when using jdk-11

[2022-01-25 22:30] LargePrime opened #436 "audio bug?"
JRE version: OpenJDK Runtime Environment (17.0.1+12) (build 17.0.1+12)

## Summary and ## Steps to reproduce

download https://github.com/Anuken/Mindustry/releases/download/v135/Mindustry.jar
crash on launch

issue with dev
https://github.com/Anuken/Mindustry/issues/6533

"This is caused by a native crash in audio initialization. I did not write the audio backend library, and I can't reproduce thi

[2022-01-25 22:50] karianna commented on #436
We are releasing 17.0.2 this week (or next at the latest) - can you give that a go when it comes out?

[2022-01-25 22:51] karianna commented on #436
And as you probably guessed, 16 is no longer supported :-)

[2022-01-26 15:27] barulheira commented on #187
In WTS, switching the color depth to 16, 24 or 32 bits doesn't make a difference.

[2022-01-27 08:21] KeesVo opened #437 "EXCEPTION_ACCESS_VIOLATION in C2 CompilerThread on Java 17"
## Summary

Following a JVM crash, the following message was given:

A fatal error has been detected by the Java Runtime Environment:

 EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x00007ffeace5cce2, pid=33692, tid=27488

JRE version: OpenJDK Runtime Environment Temurin-17.0.1+12 (17.0.1+12) (build 17.0.1+12)
Java VM: OpenJDK 64-Bit Server VM Temurin-17.0.1+12 (17.0.1+12, mixed mode, sharing, ti

[2022-01-27 09:21] karianna commented on #437
17.0.2 will be released over the next few days - can you try that then and post the results back here?

[2022-01-28 08:35] xupwup commented on #437
I've managed to trigger the same crash on 17.0.2:

JRE version: OpenJDK Runtime Environment Temurin-17.0.2+8 (17.0.2+8) (build 17.0.2+8)
Java VM: OpenJDK 64-Bit Server VM Temurin-17.0.2+8 (17.0.2+8, mixed mode, sharing, tiered, compressed oops, compressed class ptrs, g1 gc, windows-amd64)

[replay_pid34972.log](https://github.com/adoptium/adoptium-support/files/7957023/replay_pid34972.log)
[hs_err

[2022-01-29 03:52] stefan-reich opened #438 "Enumerating all classes in the JDK"
Sadly, RuntimeMXBean.getBootClassPath() is not supported in Temurin 17. Is there an alternative? I need to know the names of all classes in the current JDK. Thanks

[2022-01-29 04:32] stefan-reich commented on #438
Well... I hacked something together :o)

[classNamesInLoadedJigsawModules](https://code.botcompany.de/1034232)

[2022-01-29 04:32] #438 closed

[2022-01-29 10:30] karianna commented on #437
@xupwup Looks like this is a OpenJFX control originating bug, have you reported it over at the OpenJFX project?

[2022-01-29 13:57] xupwup commented on #437
It looks like JavaFX's java code (or rather it's bytecode) crashes the C2 jit compiler. Doesn't that mean it has to be a jvm bug? If it crashed in native code (in a javafx dll) then I'd agree with you, but this crashes in jvm.dll in the compiler thread.

[2022-01-31 02:24] uforek opened #439 "How do I uninstall the temurin pkg from my MacOS"
I cannot find any documentation on uninstalling Temurin Java 11 JRE .pkg on MacOS.

[2022-01-31 09:28] KeesVo commented on #437
I have the same issue as well with 17.0.2+8:

---------------  S U M M A R Y ------------

Command Line: -Dorg.gradle.internal.worker.tmpdir=C:\Git\acp-hlc-emulation\Implementation\Projects\PROJ\impl\PROJMain\build\tmp\test\work -Dorg.gradle.native=false --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.lang=ALL-UNNAMED -Xmx4G -Dfile.encoding=windows-1252 -Duser.country=US -Du

[2022-01-31 10:10] karianna commented on #439
`rm -rf /Library/Java/JavaVirtualMachines/temurin-11.jdk` is sufficient. You might need to prepend `sudo`.

[2022-01-31 10:10] #439 closed

[2022-01-31 13:41] grumo35 opened #440 "Install via APT"
Hi,

It was previously possible to install builds via APT using jfrog repository

https://adoptopenjdk.jfrog.io/adoptium/deb

It looks dead now, i know there was a migration but couldnt find any news about the repositories with new names ?

I need to serve package on an offline secured infrastructure via mirroring, thanks for the help.

[2022-01-31 13:42] jerboaa commented on #440
https://blog.adoptium.net/2021/12/eclipse-temurin-linux-installers-available/ might help.

[2022-01-31 13:52] grumo35 commented on #440
Hey just managed to make it work with https://packages.adoptium.net/deb

Works event better with your tutorial also able to get gpg keys ! deb https://packages.adoptium.net/artifactory/deb bullseye main
 is the good one to add to your debian repos.

Thanks

[2022-01-31 13:52] #440 closed

[2022-01-31 15:37] Rakeshsim1 opened #441 "AdoptOpenJRE and Temurin Feature Difference"
## Question
Hello, I am using  Open JRE Package (OpenJDK8U-jre_x64_windows_hotspot) and not able to find Java WebStart (IceTea Web) while installing the New package  for both 32 and 64 bits Version. JavaWeb (Ice Team Web) was available untill version 8u301 which could be easily installed install Wizard inside custom settings and now it is  missing New version 8u322.

Can anyone Advise what changes

[2022-01-31 16:16] karianna commented on #441
We no longer support this use case at Adoptium.  Please see https://blog.adoptopenjdk.net/2018/10/using-icedtea-web-browser-plug-in-with-adoptopenjdk/

[2022-01-31 16:16] #441 closed

[2022-01-31 16:56] Rakeshsim1 commented on #441
Hello karianna,

Thank you for your update. I have a few more questions now.

Even if we download Latest version of Open JRE from AdoptOpen JRE or Adoptium Website , Ice Team web component is still missing.

Adoptium Website Migration Guide shows that the IcedTea-Web component is available in Version OpenJDK 8.

I Have installed Multiple versions of JRE from Adoptium website for eg. "Eclipse Temur

[2022-01-31 19:44] karianna commented on #441
@hendrikebbers Is there some official guidance you can share here?

[2022-02-01 05:10] knstnce opened #442 "Fatal Error in JRE - Apple M1"
This error happens every time I try to run a Java Application that includes any kind of Java FX elements (could be as simple as a Button or an empty GridPane). The app will run form anywhere between 2 and 15 seconds, it is not regular and does not depend on whether the user interacted with any of the Java FX elements. My laptop is a 2020 Mac (running on M1). I use IntelliJ (latest version 2021.3.2

[2022-02-01 13:43] karianna commented on #442
Can you try 17.02 that was just released?

Also are you running an Mac Os X ARM JVM or a x86-64 JVM via Rosetta?

[2022-02-01 14:16] Rakeshsim1 commented on #441
Hello @karianna Thank you for your Help. @hendrikebbers Could you kindly help on the request.

[2022-02-01 22:24] knstnce commented on #442
Hi, I just downloaded and tried the 17.0.2 version. The compiling seems to be working but I get the following error right after (the program does not run, it only compiles) :

```Loading library prism_es2 from resource failed: java.lang.UnsatisfiedLinkError: Can't load library: /Users/knstnce/.openjfx/cache/17.0.0.1/libprism_es2.dylib```

I don't remember downloading Rosetta, but I might be wrong

[2022-02-02 09:37] Montepaso opened #443 "Mouse pointer is very slow when running Jubula tests."
## Summary

Mouse pointer is very slow when running Jubula tests.

It started after Temurin-11.0.12+7 update, with version 11.0.11+9 and lower it works fine. Anything that is 11.0.12+7 and up is failing.

## Steps to reproduce

I cannot reproduce it with the sample application, with sample Jubula app it works fine. But the app i am trying to test is  failing, although I know that no code changes w

[2022-02-02 09:58] karianna commented on #443
I'm not sure what Jubulu tests are - can you give us some more context there?

[2022-02-02 10:09] Montepaso commented on #443
Jubula is automated test tool we use to test java apps. It controls the mouse and reads app field values.  https://www.bredex.de/jubula#jubulaforwindows

[2022-02-02 10:38] karianna commented on #443
Have you reported this issue to Jubula?  I'd be interested to hear from
them if this is a common issue.

Cheers,
Martijn

On Wed, 2 Feb 2022 at 10:09, Montepaso ***@***.***> wrote:

[2022-02-02 10:57] Montepaso commented on #443
Yes, i did, but no one responded yet. No changes from Jubula side.

[2022-02-02 20:07] hedrickbt commented on #230
We are seeing this issue with

Tomcat 9.0.43
AdoptOpenJDK jdk-11.0.10+9
Windows Server 2019

We only seeing this in 1 application so far, out of many.  We have not been able to create a reproducible case.

2/1/2211:25:27.000 PM | Feb 01, 2022 11:25:27 PM org.apache.catalina.core.StandardWrapperValve invoke SEVERE: Servlet.service() for servlet [servlet] in context with path [/CropQuoting] threw ex

[2022-02-02 22:30] janeofalltrades opened #444 "Mac M1 OpenJDK11 Download Installed But Not Detected"
I downloaded OpenJDK11 from https://adoptium.net/?variant=openjdk11. Opened and installed, but when searching Java version in Terminal I get back the following:

openjdk version "17.0.1" 2021-10-19 LTS
OpenJDK Runtime Environment Zulu17.30+15-CA (build 17.0.1+12-LTS)
OpenJDK 64-Bit Server VM Zulu17.30+15-CA (build 17.0.1+12-LTS, mixed mode, sharing)

I did not previously install version 17 and can

[2022-02-03 11:26] karianna commented on #444
We recommend using https://www.jenv.be/ to manage your various Java installs on Mac OS X.  you'll be able to have both 11 and 17 and swap between them as you see fit.

[2022-02-03 11:26] #444 closed

[2022-02-03 11:28] karianna commented on #230
@hedrickbt - Can you please try with the latest 11.0.14

[2022-02-04 17:43] DeveloperWork021 opened #445 "can i use jdk-11.0.14+9 at your website(https://adoptium.net/?variant=openjdk11) commercially!!"
hello sir,

i want to ask that can i use jdk-11.0.14+9 at your website(https://adoptium.net/?variant=openjdk11) with android game development commercially or do i have to buy a license for that. and also if it is free
to use commercially then do i have to give credits to the jdk-11.0.14+9 maker or something like that.

thankyou

[2022-02-04 20:05] k7295 opened #446 "jdk8u322-b06 for windows 32bits"
## Question

are you going to deploy jdk8u322-b06 for Windows x86?

## Context

Java version: jdk8u322-b06

[2022-02-05 15:38] karianna commented on #446
Yes, track progress here: https://github.com/adoptium/adoptium/issues/109

[2022-02-05 15:38] #446 closed

[2022-02-05 15:39] karianna commented on #445
Yes, it's free to use (no restrictions) and free in cost!

[2022-02-05 15:39] #445 closed

[2022-02-07 09:09] Rakeshsim1 commented on #441
Hello   @karianna @hendrikebbers ,Could you help us solved the problem

[2022-02-07 12:57] hedrickbt commented on #230
@karianna ,

We are currently in a freeze for JVM changes.  For now, I am looking at adding the following system properties for the app/JVM exhibiting the issue.

sun.io.useCanonCaches=false
sun.io.useCanonPrefixCache=false

[2022-02-07 13:30] Likqez opened #447 "JRE 17 does not include Random Number Generator Algorithms"
## Summary

I am unable to use ``RandomGenerator.StreamableGenerator.of("L32X64MixRandom")`` because the algorithm "L32X64MixRandom" is not shipped with the JRE.

## Steps to reproduce

Try to use [StreamableGenerator#of()](https://docs.oracle.com/en/java/javase/17/docs/api/java.base/java/util/random/RandomGenerator.StreamableGenerator.html#of(java.lang.String)) with "L32X64MixRandom" algorithm in

[2022-02-07 13:40] Likqez commented on #447
### Update:
Tested on ``eclipse-temurin:17.0.2_8-jre-alpine``
Still **same behavior**.

[2022-02-07 16:22] karianna commented on #447
Can you try a 17.0.2 alpine JRE from Azul Zulu or Bellsoft Liberica?  I'm trying to narrow down if this is an OpenJDK issue or a vendor issue.

[2022-02-08 08:55] Likqez commented on #447
Tested the same setup with: ``azul/zulu-openjdk-alpine:17-jre``: RandomGenerator working fine

[2022-02-08 11:14] sxa commented on #442
@knstnce Did you try the 17.0.2 aarch64 binary to see if it has the same problem? The UnsatisfiedLinkError could be from an intel/aarch64 mismatch. And was the Liberica JRE that you downloaded the arm or x64 one?

[2022-02-08 11:19] sxa commented on #443
Link to issue: https://www.eclipse.org/forums/index.php/t/1109633/

[2022-02-09 14:24] ed03875 opened #448 "Library path not working ?"
## Question

We are switching from  AdoptOpenJDK OpenJ9 Java 8 to Temurin HotSpot Java 8.  We are noticing that Hotspot does not use the Unix environment variable LD_LIBRARY_PATH and also ignores -Djava.library.path.  This seems to be a significant difference between the two JVMs  if it is not a bug. Have others reported this problem ?

Java version:

Paste the entire output of java -version.
 jav

[2022-02-09 14:27] karianna commented on #448
Hmm, my spidey senses wonder if this is related to some recent fontconfig detection issues we've seen.

[2022-02-09 14:30] karianna commented on #448
@ed03875 - Can you try with the very latest 8u322 and also give us some context as to what you're trying to load?

[2022-02-09 16:14] nulllinie opened #449 "Application crashed"
i've used the linux appimage 13.8.1, it was the first start after i used 13.5.1 (also appimage)
i'm not quit sure what i did last, either hitting the cross mark on the search field or the dialog cross mark for exiting. but afterwards the crash happend.
attached the crash log
i was not able to reproduce the crash, so feel free to close this report if you cannot work on it due to missing information

[2022-02-09 16:18] nulllinie commented on #449
wrong project :-(

[2022-02-09 17:01] jerboaa commented on #448
@ed03875 How would I reproduce this? It's respecting `LD_LIBRARY_PATH` setting just fine:

[code]

`foo` is properly added to the `java.library.path` property.

[2022-02-09 18:18] ed03875 commented on #448
What we are seeing is that the JVM only looks for library files where the jvm is being loaded from and never searches the LD_LIBRARY_PATH in the example above the jvm would not be able to load libjava.so that resides in the lib directory not the bin directory.
We will try 8u322

[2022-02-09 19:09] ed03875 commented on #448
{;ease see below where we are now using  8u322,  I fell I am either missing something very basic here (note: the J9 JVM works in this configuration) or the Hotspot JVM does not look anywhere other than the directory where the JVM is loaded from for libraries.

 $NOTESBIN/scontroller -jc -s -c
Error occurred during initialization of VM
Unable to load native library: /home/mkarra/sandboxes/hotspotjd

[2022-02-09 19:18] karianna commented on #448
Interesting... sorry for the extra questions, which flavour version of Linux are you using (I noted the kernel version above) - is it CentOS/Ubuntu/Alpine?

[2022-02-09 20:04] ed03875 commented on #448
cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="[https://www.centos.org/"](https://www.centos.org/%22)
BUG_REPORT_URL="[https://bugs.centos.org/"](https://bugs.centos.org/%22)

CENTOS_MANTISBT_PROJECT="CentOS-7"
CENTOS_MANTISBT_PROJECT_VERSIO

[2022-02-09 20:40] ed03875 commented on #448
One thing that may not have been clear is this problem of ignoring the LD_LIBRARY_PATH and -Djava.library.path happens when we load libjvm.so programmatically

[2022-02-09 21:00] karianna commented on #448
I’m on my phone so not reading the full history correctly.  I think you
gave a sample of how you loaded that programmatically right?  If not would
love th encode snippet 🙂

On Wed, 9 Feb 2022 at 20:41, ed03875 ***@***.***> wrote:

--
Cheers, Martijn (Sent from Gmail Mobile)

[2022-02-10 15:34] ed03875 commented on #448
We load the JVM  in a very standard way   res = JNI_CreateJavaVM(&jvm, (void**)&env, &vm_args)  This is published in many places.

[2022-02-10 19:19] ywang910516 opened #450 "failed to run HECHMS"
I am using Ubuntu 16.04.7 LTS and the kernel version is 4.8.0-58-generic. I just followed the installation instruction like unzip using "tar" and run ./hec-hms.sh. Following is what I got. What should I do to solve this problem? Thanks for your attention.

[code]

[2022-02-10 21:16] karianna commented on #450
Can you try 11.0.14 from adoptium.net and see if that works?

[2022-02-11 05:53] sanketg86 opened #451 "want to install jmap tool in adoptopenjdk/openjdk11:alpine-jre base image."
I want to use jmap in a container where the base image is adoptopenjdk/openjdk11:alpine-jre. To install jmap I have to install openjdk-11-jdk-headless package. but unable to find this package.
Not sure how do I achieve this. Could you please help me to install jmap in my custom docker image(base image will be adoptopenjdk/openjdk11:alpine-jre).

I want heapdump at runtime.

[2022-02-11 11:15] karianna commented on #451
You'll need to start with an Alpine base image and manually download our alpine jre build and jdk build and manually copy across the jmap tool.  Not 100% sure that would work so you're probably just best off installing the jdk

[2022-02-11 11:15] #451 closed

[2022-02-11 13:18] ed03875 commented on #448
This is the path to our jre directory equivalent /home/mkarra/sandboxes/hotspotjdk/bin/linux64/bin/
this is the jre directory for our product jvm/
this is the the directory where libjava.so resides lib/amd64
So you see the path to libjava.so does exist

[2022-02-11 19:41] juozaspo opened #452 "throttled download speed and 403 errors when trying to fetch multiple packages from Ubuntu apt repository using my server connection"
When trying to download updates and/or install packages on Ubuntu I get a slow download speed and every second and further downloads fail with a 403 error. I'm connecting from my server with a vpn software installed on it. My server ip is 89.40.14.165, and the error message below is shown as localized.
[code]
**Edit:** Getting same message on new location of apt repository, still a 403 while fetch

[2022-02-12 06:51] juozaspo commented on #452
My download speed is quite low there, it appears to be throttled to me, Also I'd get a 403 when try to download multiple packages for a reason I don't know. I'm using openvpn as my vpn software and other sites works w/o problem, the connection is fast enough. As shown in example below I'm unable to download multiple files as it fails with error.
[code]
My configuration
**/etc/apt/sources.list.d/ad

[2022-02-12 11:51] nulllinie commented on #449
reopened issue, because first analysis from project mediathekview on [their issue 652](https://github.com/mediathekview/MediathekView/issues/652) mentioned a check on temurin java project.

Apart from that I have seen quite a few crashes with JRE 17.0.1 in the context of concurrency. The next MediathekView will use JRE 17.0.2 which reduces (at least on my system) the number of crashes a lot.

[2022-02-12 17:00] ywang910516 commented on #450
Sorry that I cannot change the system since I am using HPC organized by the
department. Do you have any idea about what caused this problem? Thank you!

Best
Yifan

Martijn Verburg ***@***.***> 于2022年2月10日周四 16:16写道：

[2022-02-12 17:10] smlambert commented on #450
Have you confirmed the existence of libgfortran.so.5, as the error is saying that there is an attempt to open it but cannot find it.

`/volume/NFS/yw922/HEC-HMS-4.9/bin/libjavaHeclib.so: libgfortran.so.5: cannot open shared object file: No such file or directory`

Potentially related:
https://stackoverflow.com/questions/59182655/why-libgfortran-so-5-is-not-located-after-upgrade-to-the-newest-gcc
h

[2022-02-12 19:59] elifasar opened #453 "COMSOL crashes during transient turbulent flow analysis (k-eps) with moving boundaries and automatic resmeshing"
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x00007ffa9e05b997, pid=24484, tid=57504
#
# JRE version: OpenJDK Runtime Environment Temurin-11.0.13+8 (11.0.13+8) (build 11.0.13+8)
# Java VM: OpenJDK 64-Bit Server VM Temurin-11.0.13+8 (11.0.13+8, mixed mode, tiered, compressed oops, g1 gc, windows-amd64)
# Problematic frame:

[2022-02-14 13:53] karianna commented on #453
Can you try with our latest 11.0.14 please?

[2022-02-14 17:40] RangerRick opened #454 "SSL certificate expired"
## Summary

It appears the SSL certificate has expired. I'm getting SSL errors downloading both Debian and RPM packgaes.

## Steps to reproduce

(example on Debian Buster:)

[code]

## Expected results

Temurin JDK 11 installs.

## Actual results

[code]

## Triaging info

Java version: N/A

What is your operating system and platform?

Debian GNU/Linux 10 (buster)

How did you install Java?

can't

[2022-02-14 17:46] karianna commented on #454
known issues with JFrog, we're on with their support team

[2022-02-15 12:35] gdams commented on #454
closing as duplicate of https://github.com/adoptium/installer/issues/434

[2022-02-15 12:35] #454 closed

[2022-02-15 17:25] vikasmishra17 opened #455 "A fatal error has been detected by the Java Runtime Environment"
While installing elastic search faced the below error -

**OS - Ubuntu 20.4.3 focal fossa**

SIGSEGV (0xb) at pc=0x00007f6b31a4c4a0, pid=21056, tid=21109
#
# JRE version: OpenJDK Runtime Environment Temurin-17.0.1+12 (17.0.1+12) (build 17.0.1+12)
# Java VM: OpenJDK 64-Bit Server VM Temurin-17.0.1+12 (17.0.1+12, mixed mode, sharing, tiered, compressed oops, compressed class ptrs, serial gc, linux-a

[2022-02-15 17:45] Yoycoy opened #456 "Fatal error: Java Runtime Environment"
So recently I've been having my server randomly shutting down due to a Java Runtime Environment error. I can't seem to find the cause. I've included the logs. Hopefully, someone recognizes this issue and can help me solve it!

This issue happens randomly and causes my server to crash completely. I have allocated 2GB ram to this server which should be enough. Don't know what I'm doing wrong here.

[2022-02-15 18:35] karianna commented on #455
Please try with our latest 17.0.2

[2022-02-16 15:29] ed03875 commented on #448
Windows 64 works because all the shared objects are in the bin area
With Linux the shared objects are in the lib/amd64 directory  for AIX it is similar
Hotspot looks one level up from where the jvm is located and looks for libjava.so
For us this means HotSpot is ignoring the Library path and is only looking one level up from where the jvm is located for the shared objects.
We have tried many thing

[2022-02-17 07:10] tkeksa commented on #437
It does not seem to be related to JavaFX code. See our crash below. Core dump is also available.

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x00007ffdc713d9f2, pid=11156, tid=32296
#
# JRE version: OpenJDK Runtime Environment Temurin-17.0.2+8 (17.0.2+8) (build 17.0.2+8)
# Java VM: OpenJDK 64-Bit Server VM Temurin-17.0.2+

[2022-02-17 19:37] XiaoBao13 commented on #412
I have the same problem, I'm using Java 8, and if it effects anything I'm using TwisterOS. I enabled core dumps which gt me here. I'll put my log if that helps too
[hs_err_pid3134.log](https://github.com/adoptium/adoptium-support/files/8091638/hs_err_pid3134.log)
.
Also to the original post you have to
1. go to /etc/security/limits.conf
2. Add this on the seventh line uncommented: * soft core unli

[2022-02-17 19:44] XiaoBao13 commented on #412
And if you want to double check it works just do: ulimit -c
I have rebooted before I do ulimit -c though, I don't think it works if you don't reboot

[2022-02-17 22:51] aldaris commented on #86
In my case this error happens quite frequently when I'm building a project with a multithreaded build (-T1C). Sadly the project isn't open source...

[2022-02-18 15:23] ed03875 opened #457 "JVM is ignoring LD_LIBRARY_PATH"
Have you tested with the latest version? yes

## Summary

**A brief summary of the problem.**
The HotSpot JVM is ignoring LD_LIBRARY_PATH and expecting shared libraries to be one level up from where libjvm.so is loaded. This differs from J9 and we believe this to be a bug because the library path is ignored when searching for shared libraries

## **Steps to reproduce**

Run our test program below

[2022-02-20 20:36] erop9123 opened #458 "chto mne delat"
## Summary

## Steps to reproduce

## Expected results

## Actual results

## Triaging info

Java version:

What is your operating system and platform?

How did you install Java?

Did it work before?

Did you test with other Java versions?

[2022-02-20 20:39] erop9123 commented on #458
![Screenshot 2022-02-20 22-30-13](https://user-images.githubusercontent.com/100095214/154863430-fc1f8a24-2b33-43f6-ac57-62b686b63cce.png)

[2022-02-21 10:26] vikasmishra17 commented on #455
17.0.2 version worked and issue is now resolved

[2022-02-21 10:26] #455 closed

[2022-02-21 10:32] karianna commented on #458
Please try with our latest 17.0.2

[2022-02-22 09:47] xupwup commented on #437
@karianna  This ticket has been on jbs:needs-report for a while, what does that mean? Should I report it at bugs.openjdk.java.net? And if so, where do I create an account?

[2022-02-22 19:14] karianna commented on #437
It requires someone with Author rights to submit, I'll take a look for any duplicate bugs first.

[2022-02-24 00:08] kingds commented on #437
Similar crash occurred in our application which uses Gluon JavaFX 16 on Temurin 17.0.1 (I suspect this is an uncommon pairing). We haven't been able to reliably reproduce. We hadn't seen this crash on OpenJDK 16 builds for what it's worth.

[code]

[2022-02-24 15:13] fekri1409 opened #459 "The crash happened outside the Java Virtual Machine in native code."
## Summary
I open a Dbeaver Community Edition software (install via flatpak). The software suddenly crash during import process from multiple CSV files.

But if I do same task using the Dbeaver Community Edition (install from deb package), I did not face any issue when import multiple csv files.

I use same version of Dbeaver CE which is  21.3.5

## Steps to reproduce

1. Selecting 5 tables from d

[2022-02-24 16:27] jerboaa commented on #459
Please report this bug to the "Dbeaver Community Edition software" bug tracker.

[2022-02-24 16:27] #459 closed

[2022-02-24 16:38] ed03875 opened #460 "AIX crashing because primordial thread"
## Question

We have multi platform products. We are seeing the crash below (file included) on the AIX platform but not on Linux.   Looking at source  we see this has been fixed for Linux where we are not seeing the crash.  Is this an oversite or is it only AIX where the JVM must be started from a separate thread ? Should this be submitted as an AIX bug ?

#
# A fatal error has been detected by th

[2022-02-24 21:59] minduch opened #461 "EXCEPTION_STACK_OVERFLOW in JDK 17.0.1 and JDK 17.0.2 Windows x86"
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_STACK_OVERFLOW (0xc00000fd) at pc=0x569c1119, pid=21680, tid=22944
#
# JRE version: OpenJDK Runtime Environment Temurin-17.0.1+12 (17.0.1+12) (build 17.0.1+12)
# Java VM: OpenJDK Client VM Temurin-17.0.1+12 (17.0.1+12, mixed mode, emulated-client, serial gc, windows-x86)
# Problematic frame:
# C  [awt.dll+0xd1119]

[2022-02-24 22:01] minduch commented on #461
Adding command line parameter -Xss1m makes it work fine...

[2022-02-25 05:38] BrijeshNekkare commented on #460
AIX doesn't allow primordial thread to do the java call in as the default native thread stack size is small. The default value of the native thread stacksize attribute is 192 KB. So creating a new thread for java call in, helps to control the size as needed via pthread_attr_setstacksize API.

On Linux though, default native thread stack size is of the order of few MBs.

[2022-02-25 07:57] tkeksa commented on #437
I can provide few core dumps if it helps.

[2022-02-25 13:56] karianna commented on #437
@tkeksa a core dump would be useful, thanks!

[2022-02-25 15:47] tkeksa commented on #437
@karianna what is your preferred way how to send it to you? Compressed file has about 100 MB.

[2022-02-25 17:08] karianna commented on #437
Can you zip upload it here?  Not sure what the GH limit is these days.

[2022-02-25 17:12] karianna commented on #460
FYI - We've also released 1.8.0_322, it's probably not going to be fixed in there, but worth a shot.

[2022-02-25 17:14] karianna commented on #461
Did you try 17.0.2?

[2022-02-25 19:27] ed03875 commented on #460
Thank you we will try it

[2022-02-25 21:37] joergflorin commented on #365
Fixed with 11.0.14

[2022-02-25 21:37] #365 closed

[2022-02-26 00:55] kingds commented on #437
@KeesVo could you please share how you configured this? I would like to try the same thing but I am unclear on how to set up the JVM args to point towards that method.

[2022-02-26 19:15] XiaoBao13 opened #462 "Problem running Multi-MC 5 (on raspberry pi 4(00) )"
Hi! I have this problem with multimc 5 on the RPI 4 to where it just doesn't load, even when you do what is tells you, I'm not sure what to do next
FYI if you want to "recreate" my problem,
I use Java 8, and twister OS if that changes anything.
Here's the orig post : https://github.com/adoptium/adoptium-support/issues/412
And my log file : [hs_err_pid3134.log](https://github.com/adoptium/adoptium-

[2022-02-26 22:57] Sysailed opened #463 "Arch support?"
When add arch and arch-based support?

[2022-02-27 17:15] minduch commented on #461
A silly question: only 17.0.1 is available on Windows x86, not 17.0.2, otherwise I would have tried it out.

Sent from my iPhone

On 25 Feb 2022, at 18:15, Martijn Verburg ***@***.***> wrote:

﻿

Did you try 17.0.2?

—
Reply to this email directly, view it on GitHub<https://github.com/adoptium/adoptium-support/issues/461#issuecomment-1051038677>, or unsubscribe<https://github.com/notifications/uns

[2022-02-27 17:22] smlambert commented on #461
Win32 17.0.2 was just released on Friday Feb 25th (and is available at: https://adoptium.net/releases.html) if you want to try it.

[2022-02-27 19:41] karianna commented on #461
That should be released now - if not I’ll follow up on the pipeline
tomorrow

On Sun, 27 Feb 2022 at 17:15, Christopher Mindus ***@***.***>
wrote:

--
Cheers, Martijn (Sent from Gmail Mobile)

[2022-02-28 16:23] bust44 opened #464 "A fatal error Problematic frame: # C [rxtxSerial.dll+0x44cb]"
Hi all,
I work for a company in electronics.
Many thanks for advance for your support.
I have a problem with a communication with a serial port.
I give the detail:
Java version => java version "1.8.0_321"
Java(TM) SE Runtime Environment (build 1.8.0_321-b07)
Java HotSpot(TM) 64-Bit Server VM (build 25.321-b07, mixed mode)
Windows 10 64 bit.

Jar version = RXTX-2.2pre1   (64bit)
native lib Version

[2022-03-01 13:38] karianna commented on #464
You state you're using Java 8 but the crash log uses 17.0.1?  Please do upgrade to 17.0.2 and try again :-)

[2022-03-01 13:50] karianna commented on #463
We would need to see some community maintainers step up to create and maintain these installers.

[2022-03-01 16:22] bust44 commented on #464
Ok I try it thanks! :)

[2022-03-01 23:30] minduch commented on #461
Same problem, uploaded new "hs_err_pid*.log".

[hs_err_pid10412.log](https://github.com/adoptium/adoptium-support/files/8165402/hs_err_pid10412.log)

[2022-03-01 23:35] minduch commented on #461
The same problem exists JDK Windows 32-bit x86 17.0.0.
It is not seen in 64-bit versions, not under Mac/Linux, no matter the architecture of the CPU.

[2022-03-02 08:07] KasperKiiskinen opened #465 "JRE error: OpenJDK Runtime Environment Temurin-17.0.2+8"
## Summary

I'm running google cloud pub sub integration tests in a Temurin 17-alpine docker image and the tests crashes with the following error:

[code]
I think it might crash immediately when calling "com.google.cloud:google-cloud-pubsub:1.115.5" code to create a pubsub topic.
when running with: `adoptopenjdk/openjdk11:alpine` everything works fine.

[2022-03-02 09:09] SuperPat45 opened #466 "Frequent crash with JDK17 and eclipse"
## Summary
Since I upgraded to JDK17, I have frequent and randomly crash when I modify a class in the eclipse IDE and press the save button or sometime when a breakpoint is reached.

I use the WildFly 26 application server

## Steps to reproduce
Modify a class in eclipse and press the save button or sometime when a breakpoint is reached.

## Expected results
No crash

## Actual results
JVM crash f

[2022-03-02 12:43] karianna commented on #465
@KasperKiiskinen  have you reported this to the pubsub project?

[2022-03-02 12:58] KasperKiiskinen commented on #465
no I have not as I don't have any stacktrace for normal exception just this native code crash

[2022-03-02 13:09] karianna commented on #465
Are you able to attach the log file?

[2022-03-02 14:54] bust44 commented on #464
same error with the version 17.0.2

 A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x00000001800044cb, pid=5576, tid=18336
#
# JRE version: Java(TM) SE Runtime Environment (17.0.2+8) (build 17.0.2+8-LTS-86)
# Java VM: Java HotSpot(TM) 64-Bit Server VM (17.0.2+8-LTS-86, mixed mode, sharing, tiered, compressed oops, compressed cla

[2022-03-02 16:49] RJDan opened #467 "Frequent crashes with OpenJDK and JabRef"
## Summary
JabRef crashes seemingly randomly but frequently (once an hour).

## Steps to reproduce

Open JabRef from the terminal. Attempt to use functions - I can't be more specific because it seems to be rather random but I might be wrong.
I have had it crash with the following functions:
- Search for articles online using the built-in search box
- Search for local articles using the search box

[2022-03-02 18:47] Siedlerchr commented on #467
@RJDan  JabRef ships with It's own JDK and in this case it's Version 17.

# JRE version: OpenJDK Runtime Environment Temurin-17.0.2+8 (17.0.2+8) (build 17.0.2+8)
# Java VM: OpenJDK 64-Bit Server VM Temurin-17.0.2+8 (17.0.2+8, mixed mode, tiered, compressed oops, compressed class ptrs, g1 gc, linux-amd64)

[2022-03-03 15:32] kingds commented on #437
Hi @karianna any update on this? It seems like an OpenJDK issue is called for here.

[2022-03-04 12:28] karianna commented on #437
For your case, please do try 17.0.2 and let us know the result.

[2022-03-07 15:38] karianna commented on #307
That backport would have to be done upstream.  As we don't ship OpenJFX ourselves it's unlikely that there will be a volunteer from this community.  You may want to ask on the OpenJFX mailing list.

[2022-03-09 12:35] rj-san-juan opened #468 "Warning: Nashorn engine is planned to be removed from a future JDK release"
## Summary

## Steps to reproduce

## Expected results

## Actual results

## Triaging info

Java version:

What is your operating system and platform?

How did you install Java?

Did it work before?

Did you test with other Java versions?

[2022-03-09 12:40] rj-san-juan commented on #468
Java version:
jdk-11.0.11+9

What is your operating system and platform?
Ubuntu 18.04.5 LTS

How did you install Java?
apt install default-jdk

Did it work before?
no

Did you test with other Java versions?
no

[2022-03-09 12:45] rj-san-juan commented on #468
error encountered:

ERROR (net.openhft.chronicle.core.onoes.Slf4jExceptionHandler$2.on:44) - lock of segment 164 is not clear: [read locks = 0, update locked = false, write locked = true, waits = 0]

ERROR (net.openhft.chronicle.core.onoes.Slf4jExceptionHandler$2.on:44) - Checksum doesn't match, stored: 1457209545, should be from the entry bytes: 1565100958, key: 306521, value: [PointValueTime(936

[2022-03-09 14:02] ed03875 opened #469 "Server Side Benchmarks for HotSpot JVM"
## Question
Do you know of any published / available benchmarks of HotSpot performance.  We have found things like https://www.handracs.info/blog/hotspotopenj9/ we are looking for Server side benchmarks.

Java version:
version "1.8.0_312" or newer

openjdk version "1.8.0_312"
OpenJDK Runtime Environment (Temurin)(build 1.8.0_312-b07)
OpenJDK 64-Bit Server VM (Temurin)(build 25.312-b07, mixed mode)

[2022-03-09 19:23] karianna commented on #469
Renaissance, Hyperalloc and SpecJBB are often cited examples.

[2022-03-09 19:26] karianna commented on #468
That message is correct, Nashorn is was removed after 11.

[2022-03-09 19:26] #468 closed

[2022-03-10 07:58] JDESTM commented on #307
The fix for this issue could be covered by https://bugs.openjdk.java.net/browse/JDK-8282655 (to be confirmed)

[2022-03-10 09:45] rj-san-juan commented on #468
do I need to upgrade the java version?

Error:
[thread 9507 also had an error]Could not load hsdis-amd64.so; library not loadable; PrintAssembly is disabled

[2022-03-10 10:44] karianna commented on #468
Yes 11.0.14.1 is the version you should use, you can grab that from adoptium.net

[2022-03-10 18:45] ed03875 commented on #457
When this bug was reported we thought LD_LIBRARY_PATH is being ignored but we later learned that the LD_LIBRARY_PATH is used only in system wide loading. We then learned from the Java API document that during programmatic loading of libraries using System.loadLibrary() the JVM  uses -Djava.library.path. Unfortunately the HotSpot JVM is ignoring the directories we specified in -Djava.library.path.

[2022-03-10 20:56] ed03875 opened #470 "java.library.path is ignored when given on the command line using the Linux operating system"
We are testing with the latest version 8u322

## Summary
During programmatic loading of libraries using System.loadLibrary() the JVM is suppose to use the java.library.path if it is specified on the command line  -Djava.library.path, This is stated in the Java API doc.  Unfortunately the HotSpot JVM is ignoring the directories we specified using -Djava.library.path. This works correctly on Windows

[2022-03-10 22:57] FelixNew1 opened #471 "moving away from using Oracle Java and want to know if deployment.properties, exception.sites, deployment.config are supported?"
## Question

## Context

Java version:

Your operating system and platform:

[2022-03-11 06:14] rj-san-juan commented on #468
Please see below issue encountered:

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access using Lookup on net.openhft.chronicle.core.Jvm (file:/usr/local/fosdas/web/modules/chroniclePointValueCache/lib/chronicle-core-2.21ea80.jar) to class java.lang.reflect.AccessibleObject
WARNING: Please consider reporting this to the maintainers of net.openhft.chronicl

[2022-03-11 06:25] rj-san-juan opened #472 "https://github.com/AdoptOpenJDK/openjdk-support/issues"
## Summary

SIGBUS (0x7) at pc=0x00007f02708ac51d, pid=13456, tid=14492
JRE version: OpenJDK Runtime Environment AdoptOpenJDK-11.0.11+9 (11.0.11+9) (build 11.0.11+9)
Java VM: OpenJDK 64-Bit Server VM AdoptOpenJDK-11.0.11+9 (11.0.11+9, mixed mode, tiered, compressed oops, g1 gc, linux-amd64)
Problematic frame:
v  ~StubRoutines::jshort_disjoint_arraycopy
Core dump will be written. Default location:

[2022-03-11 10:17] karianna commented on #471
I  think you're referring to JavaWebstart technology there which is not supported out of the box.  Please see IcedTeaWeb for an alternative with OpenJDK

[2022-03-11 10:17] #471 closed

[2022-03-11 10:19] karianna commented on #472
please try with 11.0.14.1 and try again

[2022-03-11 10:21] karianna commented on #468
you need to try with 11.0.14.1

[2022-03-11 10:21] rj-san-juan commented on #472
Thank you @karianna, I will let you once we upgrade to 11.0.14.1 and if the issue has been fix with that upgrade.

[2022-03-11 10:21] rj-san-juan commented on #472
Thank you @karianna, I will let you know once we upgrade to 11.0.14.1 and if the issue has been fix with that upgrade.

[2022-03-14 12:02] sephiroth-j opened #473 "Some Fonts are missing with JDK 11"
## Summary

If running NetBeans or Oracle SQL Developer with Temurin JDK 11, fonts such as [Source Code Pro](https://github.com/adobe-fonts/source-code-pro) or [Cascadia Code](https://github.com/microsoft/cascadia-code) are unavailable. They do not show up in the font selection dialog.

## Steps to reproduce

- [Download Netbeans](https://netbeans.apache.org/download/index.html)
- Install one of t

[2022-03-14 14:30] Tee12345 opened #474 "A fatal error has been detected by the Java Runtime Environment"
Java version:
Java 11. Open JDK 11.0.12

What is your operating system and platform?
Windows 8.1. Spring Tool Suite IDE

Did it work before?
NO

Did you test with other Java versions?
NO

This is the error from STS IDE.

A fatal error has been detected by the Java Runtime Environment:

EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x0000000180008910, pid=8052, tid=10412

JRE version: OpenJDK Runti

[2022-03-14 19:57] FelixNew1 commented on #471
Is there a particular forum I should be asking?  I was provided with this support link by a colleague.

[2022-03-15 19:47] suresk commented on #434
It actually isn't evaluating the second condition, it is calling `intValue()` on the defaultValue object, which is null in the failing cases. The reason why it does that has to do with the rules for determining the type of the ternary statement. From that same section you linked to:

Since the second operand is an `Integer` and the third is an `int`, the type of the statement is `int`, which means

[2022-03-16 05:45] kapil-suri-by opened #475 "SIGSEGV on JRE 1.8.0_322-b06 - si_code: 1"
Have you tested with the latest version? yes  we are on 1.8.0_322-b06

## Summary
JVM encounter  SIGSEGV

## Steps to reproduce
This  SIGSEGV occurs randomly in a spring application that is calling hazelcast .When the  SIGSEGV happened it was like 7 days after the restart. unfortunately we don't have the steps to reproduce.

## Expected results
We don't expect a crash.

## Actual results
JVM Crash

[2022-03-16 10:44] KasperKiiskinen commented on #465
@karianna finally managed to get the logs
[error.txt](https://github.com/adoptium/adoptium-support/files/8261334/error.txt)

[2022-03-16 11:00] jerboaa commented on #465
Crash originated in netty code. I'd suggest to file an issue there:
[code]

[2022-03-16 11:14] KasperKiiskinen commented on #465
sure thanks

[2022-03-16 11:14] #465 closed

[2022-03-16 13:40] karianna commented on #475
Reading that log it looks like you are serialising a LocalDate via the Logback logging framework. That LocalDate seems to be deserialized in memory after it gets it from a Hazelcast topic.  In the extreme short term you could disable that logging or trying to figure out what is in that DateTime object.

I'll look at getting this reported upstream but we may need to understand what is being passed

[2022-03-16 16:33] kapil-suri-by commented on #475
[capacity_scheduler.txt](https://github.com/adoptium/adoptium-support/files/8265738/capacity_scheduler.txt)
This is what we received from kafka topic and during deserialization it got crashed.

[2022-03-18 18:03] gspinoza commented on #442
I get the same error on my M1 laptop. I have tried many versions including Temurin 17.0.3 aarch64. I also tried zulu-jdk17.0.2-aarch64 and still I get the same error.

[2022-03-18 18:49] knstnce commented on #442
The only one that has worked so far for me was the Bellsoft Liberica 17.0.2. Hope that helps !

[2022-03-18 18:59] gspinoza commented on #442
Thanks for the suggestion, but unfortunately that did not worked for me.

[2022-03-18 19:29] gspinoza commented on #442
ok, installing Liberica Full JDK 17.0.2 ARM did the work!

Note: Liberica Standard JDK or Liberica Lite JDK will not work, only the Full JDK works.

[2022-03-19 06:13] tupaq opened #476 "SIGSEGV (0xb) at pc=0x00007f1a5cb2b30b"
## Summary
The error occurs when opening eclipse in Ubuntu 22.04 beta

## Steps to reproduce
run eclipse
Select workspace
And the window closes

## Expected results

## Actual results

 A fatal error has been detected by the Java Runtime Environment:

 SIGSEGV (0xb) at pc=0x00007f1a5cb2b30b, pid=4708, tid=4709

JRE version: OpenJDK Runtime Environment Temurin-17.0.2+8 (17.0.2+8) (build 17.0.2+8)
J

[2022-03-20 18:45] xupwup commented on #437
Hi @karianna, did you find anything?

[2022-03-21 19:05] ChristianCiach commented on #303
I see the same issue with `eclipse-temurin:17-alpine` on x86.

As a workaround, depending on context, you can use JAVA_TOOL_OPTIONS until this is fixed.

[2022-03-22 09:41] gamma opened #477 "SIGSEGV (0xb) at pc=0x00000000000078d6"
## Summary

The Temurin Java VMs crash with the provided sample code, which runs fine with the AdopOpenJDK alternative.

## Steps to reproduce

Please check the given example [jpeg2000.tar.gz](https://github.com/adoptium/adoptium-support/files/8322958/jpeg2000.tar.gz). Note, that you should update line 26 in `ImageReaderTest.java` to your platform.

    tar -xzf jpeg2000.tar.gz
    javac ImageRead

[2022-03-22 18:15] devxzero commented on #410
What would be the best place to report this bug? The problem isn't just limited to Adoptium JDK 17, but also to Azul JDK 17, but doesn't occur in JDK 15.

[2022-03-22 19:22] jiekang commented on #477
@gamma Could you share the source code of ImageReaderTest.java as a gist? I'd prefer to copy text rather than download a tarball. Thank you

[2022-03-22 19:26] gamma commented on #477
Sure, @jiekang here it is: https://gist.github.com/gamma/193d336483eabeee634cb624d876d29e

Please note, that you need the library dependencies from the tar. Should I create an extra repo or add them to the gist then?

[2022-03-22 19:44] jiekang commented on #477
Ah I see; my bad, I made a bad assumption that it was all-in-one. A repo would be cool if it can be shared.

Sharing the contents of `/tmp/jpeg2000/hs_err_pid2212.log` would be useful, again in a gist or text comment.

[2022-03-22 19:58] gamma commented on #477
Please use the updated repository: https://github.com/gamma/temurin-jvm-docker-crash-sample

It is a different crash log which I just created.

[code]

[2022-03-23 11:10] karianna commented on #410
Have you tried with 17.0.2?

[2022-03-23 13:14] karianna commented on #437
I couldn't find a duplicate no - added the report to JBS tag

[2022-03-23 13:18] karianna commented on #437
https://bugs.openjdk.java.net/browse/JDK-8283565

[2022-03-23 13:52] karianna commented on #476
I would report this to the GNOME folks as they have introduced a bug in their beta native lib

[2022-03-23 13:52] #476 closed

[2022-03-23 15:49] Dmole opened #478 "JShell fails to run"
## Summary

JShell fails to run.

## Steps to reproduce

run JShell

## Expected results

[code]

## Actual results
[code]

## Triaging info

Java version:

[code]

What is your operating system and platform?

[code]

How did you install Java?

https://github.com/adoptium/temurin18-binaries/releases/download/jdk18-2022-03-17-09-00-beta/OpenJDK18-jdk_aarch64_linux_hotspot_2022-03-17-09-00.tar.gz

D

[2022-03-23 16:06] Dmole commented on #478
I failed to use
`tar -xf *.gz`
so permissions on some file not listed in the stack were wrong.

[2022-03-23 16:06] #478 closed

[2022-03-23 18:43] karianna commented on #437
I'll link it internally, but I suspect they are separate crashes, let's see!

[2022-03-25 16:04] NPC-Master3304 opened #479 "completely random crashes when playing minecraft"
this issue has been going on for such a long period of time, and finally after 2-3 years, an actual crash result appeared.

[code]
log here:
[hs_err_pid7784.log](https://github.com/adoptium/adoptium-support/files/8352099/hs_err_pid7784.log)

[2022-03-25 16:43] mikaelmechoulam commented on #313
Hello, one of the clients of our product seems to encounter a similar stack :
Could not initialize class java.util.zip.Deflater
java.lang.NoClassDefFoundError: Could not initialize class java.util.zip.Deflater
	at java.util.zip.ZipOutputStream.<init>(ZipOutputStream.java:134) ~[?:?]
	at java.util.zip.ZipOutputStream.<init>(ZipOutputStream.java:120) ~[?:?]

Can it come from our application or could

[2022-03-27 10:42] ogregoire opened #480 "RandomGenerator.getDefault().nextInt() always returns the same first value."
## Summary

`RandomGenerator.getDefault().nextInt()` always returns the same first value. The values afterwards seem properly random, but the first is always the same number: 715378305.

This is annoying because even if I'm doing proper usage, such as using one `RandomGenerator` for a whole app and keep using it for the rest of the lifetime, the first value is *always* the same accross all the run

[2022-03-28 08:52] jerboaa commented on #480
I am not able to reproduce this with the latest JDK head (changed the reproducer to use loop bound of `100` instead of a million). It's reproducible with JDK 18 GA. It appears to be that a backport of https://bugs.openjdk.java.net/browse/JDK-8282551 might fix it:

[code]

[2022-03-28 09:16] jerboaa commented on #480
Confirmed. I'll handle the backport.

[2022-03-28 09:38] karianna commented on #479
Hi there,

You'll need to report this to Mojang.  I'll not you're also using a Beta 1.18 server.

[2022-03-28 09:38] #479 closed

[2022-03-28 09:41] karianna commented on #313
Please try with the latest 11.0.14.1 from adoptium.net and see if there's still an issue.

[2022-03-28 15:45] jerboaa commented on #313
It's unlikely it will make a difference. The `11.0.14.1` patch release (from `11.0.14+9` January 2022 CPU) only contained changes mentioned here:
https://mail.openjdk.java.net/pipermail/jdk-updates-dev/2022-February/012348.html

[2022-03-29 00:53] dean-long commented on #437
Yes, same crash.

[2022-03-29 01:21] NPC-Master3304 commented on #479
I'm sort of confused about the 1.18 beta server since this is on a client, but for some reason I can't report this to Mojang for whatever reason. There's no way for me to create an account. Here: https://bugs.mojang.com/Signup!default.jspa

[2022-03-29 09:16] karianna commented on #437
@KeesVo If you have a file at $JAVA_HOME/bin/server/jvm.map in a Windows JDK, if it is included, can you post that here?
 Another option would be to grab one of or fastdebug builds (check hte archives on the website) and reproducing with a "fastdebug" build can also be helpful, because the crash output will normally have more symbolic information, and the crash itself might be a more informative a

[2022-03-29 09:54] jerboaa commented on #480
Should be fixed once OpenJDK `17.0.4 ` gets released (July 2022)

[2022-03-29 09:54] #480 closed

[2022-03-29 10:53] karianna commented on #437
@KeesVo - Actually you don't need to worry, I read the upstream duplicate bug and they know where the issue is.

[2022-03-29 14:26] karianna commented on #475
https://bugs.openjdk.java.net/browse/JDK-8283440

[2022-04-02 02:45] huyang327 commented on #344
Crashing after 12 hours
![WechatIMG4](https://user-images.githubusercontent.com/79496601/161362819-506c191e-5f1a-4d90-bdf0-50dcae2796fe.png)
![WechatIMG5](https://user-images.githubusercontent.com/79496601/161362838-ceadfcbe-5b7b-49ef-84c9-6de44ff466e9.png)

[2022-04-06 06:07] amarktl opened #482 "java.util.Properties get and getProperty are inconsistent"
## Summary

When initializing a new instance of java.util.Properties with an already existing instance as defaults, all keys are returned from `propertyNames()`. When iterating over the returned enumeration and  trying to retrieve the associated value with `get(k)` null is returned if the values is mapped in the **defaults** and not in the current instance. Using `getProperty(k)` instead will retu

[2022-04-06 17:42] beautybloodtr opened #483 "what is this"
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007ff4a90265e9, pid=1012, tid=0x00007ff3af1f4700
#
# JRE version: OpenJDK Runtime Environment (8.0_292-b10) (build 1.8.0_292-b10)
# Java VM: OpenJDK 64-Bit Server VM (25.292-b10 mixed mode linux-amd64 compressed oops)
# Problematic frame:
# j  net.minecraft.server.v1_8_R3.Chunk.b(Z)V+78
#
# Failed to wr

[2022-04-06 21:46] karianna commented on #483
Please use latest 1.8.0.322 and try again.

[2022-04-07 08:01] peutch opened #484 "C [libcairo.so.2+0x643c4] cairo_region_num_rectangles+0x4"
Hi,
I am facing the attached crash report using Eclipse 2022-03 on Ubuntu 22.04.
Thanks,
Patrice

[hs_err_pid8892.log](https://github.com/adoptium/adoptium-support/files/8440800/hs_err_pid8892.log)

[2022-04-07 08:12] perlun commented on #470
Late call, but @ed03875, could you show the output of the following command? I seem to be overriding the `java.library.path` fine on my machine.

[code]

 (Note: I haven't yet tested any `System.loadLibrary` calls to ensure that it's picked up correctly with this setting.)

[2022-04-07 08:22] perlun commented on #470
Verified, it does work correctly on this version of the package/JDK. (I use it as a local override because of a problem with `java.librarypath` in Temurin, will file a separate issue about this)

[2022-04-07 08:44] perlun opened #485 "Eclipse Temurin uses "incorrect" `java.library.path` on Debian/Ubuntu"
## Summary

Eclipse Temurin uses "incorrect" `java.library.path` on Debian/Ubuntu

## Steps to reproduce

[code]

## Expected results

`java.library.path` having the same value as on Debian/Ubuntu-provided packages. The `/usr/lib/x86_64-linux-gnu` directory is of particular importance to our use case (more about it later in this issue).

### Ubuntu 18.04

[code]

### Debian `stretch`

(Cannot run

[2022-04-07 21:47] suresk commented on #482
I'm fairly certain this expected behavior with `java.util.Properties`, albeit probably not amazing API design. `get` comes from the `Hashtable` class that `java.util.Properties` extends. It doesn't recursively look up properties, whereas `getProperty` is defined by the `java.util.Properties` class and per its documentation, does recursively look them up.

In other words, the thing looking up prope

[2022-04-09 06:25] Lowre1NR opened #486 "SIGSEGV Error on Processing PiOS"
[code]

[code]

[2022-04-11 11:23] amarktl commented on #482
@suresk i agree that the API "design" is rather poor here - so if this is most likely not being addressed within java itself i think i will open an Oracle SQL Driver bug cause they are using `get` instead of `getProperty` which leads to missing driver settings.

[2022-04-11 20:20] AnkitKashyap0709 opened #487 "Eclipse Temurin JDK with Hotspot (17.0.2) cannot be configured in VS Code"
## How do I configure the "Eclipse Temurin JDK with Hotspot" in VS Code after installation by the "coding pack for java"?

I tried installing the JAVA JDK on my laptop, provided by the installer on VS Code website as a "Coding pack for Java". It installed the JDK and the required extensions in VS Code. But then inside the editor, it didn't configure the JDK by itself. So I tried doing it manually

[2022-04-11 23:25] stagney commented on #328
My users are still experiencing this problem.
I tried copying another screenshot to this comment, but it won't let me. Getting "we can't process that file" error

11.0.14.1+1  fail
11.0.14 +7   fail
11.0.13 +8   fail
11.0.12 +7   fail
11.0.9+11   works
11.0.6+10   works

[2022-04-12 13:04] jerboaa commented on #328
https://bugs.openjdk.java.net/browse/JDK-8274751 could be the upstream bug. To be fixed with 11.0.16 (July). There aren't any early access builds for those yet, unfortunately.

[2022-04-12 19:09] #482 closed

[2022-04-12 19:10] karianna commented on #487
@AnkitKashyap0709 you need to report this to the VSCode team.

[2022-04-12 19:10] #487 closed

[2022-04-12 19:21] amarktl commented on #482
@karianna  thx for closing the issue here. I filed a bug for the Oracle JDBC Driver that their handling of the given Properties Object is faulty.
BR Alex

[2022-04-13 19:27] MichaelBonfanti opened #488 "Error Install jdk-11.0.14.1+1 on Mac"
Hi I have a problem installing the jdk (jdk-11.0.14.1 + 1) l-intsaller tells me that it is installed correctly but when I go to the terminal and do javac it gives me an error. the operating system I use is MacOS Catalina 10.15.7

[2022-04-14 09:17] DanySK opened #489 "libnvidia-glcore.so crashes when Swing OpenGL acceleration is enabled"
## Summary

Using OpenGL acceleration with nVidia drivers under Linux causes frequent crashes of the JVM.

## Steps to reproduce

1. Obtain a PC with Linux and nVidia drivers
2. `git clone git@github.com:DanySK/Experiment-2022-Coordination-Space-Fluid.git`
3. cd Experiment-2022-Coordination-Space-Fluid
4. git checkout 0.4.0
5. `./gradlew runCompleteG`
6. A Swing UI pops up. Change its size, move i

[2022-04-17 09:59] karianna commented on #489
Can you try with the latest 17.0.2 please?

[2022-04-17 10:10] karianna commented on #488
Can you try running the full path `/Library/Java/JavaVirtualMachines/temurin-11.jdk/Contents/Home/bin/javac --version`?

Also can you tell us what:

`echo $PATH` and `echo $JAVA_HOME` are?

[2022-04-17 10:44] karianna commented on #486
Also see https://github.com/adoptium/aqa-tests/issues/2874

[2022-04-19 08:50] DanySK commented on #489
I am actually reproducing it on version 17.0.3+3, should I downgrade?

[2022-04-19 10:54] mikaelmechoulam commented on #313
For your information, the client re-installed the same version of the JDK and it solved the issue. Interesting to see such an error can occur...

[2022-04-20 03:42] karianna commented on #489
No, the issue must still exists.  I assume the graphics drivers are all up to date etc?

[2022-04-20 04:47] funnelspider commented on #313
Why is this closed?
There is no apparent fix to why this happened in the first place.
This means it could be an issue any time

On Wed, Apr 20, 2022 at 6:41 AM Martijn Verburg ***@***.***>
wrote:

[2022-04-20 08:16] DanySK commented on #489
Yes, nVidia 510.54

[2022-04-20 12:26] karianna commented on #313
@funnelspider - @mikaelmechoulam reported that a JVM reinstall fixed their issue - can you also try?

[2022-04-21 13:45] duCCsauCe opened #492 "Trickle Crash"
## Summary

## Steps to reproduce

## Expected results

## Actual results

## Triaging info

Java version:

What is your operating system and platform?

How did you install Java?

Did it work before?

Did you test with other Java versions?

![Capture](https://user-images.githubusercontent.com/104148964/164472134-749518f1-1651-445b-92af-58fad1d20ce2.PNG)

im getting this whenever i start Trickle

[2022-04-21 23:15] karianna commented on #492
Assuming this is Spotify's Trickle, that lib is no longer supported and may well trigger native crashes like this..

[2022-04-21 23:20] #488 closed

[2022-04-24 09:21] dymc1987 opened #911 "vulnerabilities CVE-2003-0107 and CVE-2005-1849"
The OpenJDK8U-jdk_x64_windows_hotspot_8u322b06 package uses the /jre/bin/freetype.dll and /jre/bin/fontmanager.dll libraries, which involve zlib 1.1.4 and have vulnerabilities CVE-2003-0107 and CVE-2005-1849.  Will the vulnerabilities be fixed?

[2022-04-24 20:55] devxzero commented on #410
I haven't seen the problem anymore, since the upgrade from 17.0.1_12 to 17.0.2_8, so from my perspective it seems that something was fixed in the JDK 👍
So I'll close this ticket.

[2022-04-24 20:55] #410 closed

[2022-04-25 16:55] tmmlsBE commented on #72
I have the same issue in version Temurin-17.0.2+8

      "path": "<deleted>/Contents/runtime/Contents/MacOS/libjli.dylib",
      "message": "The signature of the binary is invalid.",
      "docUrl": null,
      "architecture": "x86_64"

What is the solution?

[2022-04-26 04:28] chenearl commented on #214
The user role is wrong, just change the role

[2022-04-27 15:05] MatthiasZerau opened #494 "Alpine binaries for temurin17 release 17.0.3+7 missing"
## Why are there no alpine binaries for temurin17 release 17.0.3+7?

With the former release for 17.0.2+8 alpine binaries are available e.g. [OpenJDK17U-jdk_x64_alpine-linux_hotspot_17.0.2_8.tar.gz](https://github.com/adoptium/temurin17-binaries/releases/download/jdk-17.0.2%2B8/OpenJDK17U-jdk_x64_alpine-linux_hotspot_17.0.2_8.tar.gz). With 17.0.3+7 such binaries are not available. Can you give som

[2022-04-27 16:52] #494 closed

[2022-04-28 18:29] juozaspo commented on #452
Since I've updated my os installation to newer distribution version I no longer use old jfrog url and using the new adoptium apt repository as described in https://adoptium.net/installation/linux/ works fine for me so I'm closing this issue. Btw i'm changed the distro codename to `hirsute` as `impish` (code name of 22.04 LTS) is not available yet. The repository should be updated to include latest

[2022-04-28 19:03] juozaspo opened #495 "Installation files for Ubuntu 22.04 LTS are missing from adoptium apt repository"
## Summary

Problems could be encountered after adding the adoptium repository to any Ubuntu Linux 22.04 LTS installation (codename `jammy`, released on April 21), one of them errors caused by codename `jammy` missing from `dists` directory in the official apt repository added by following instructions described in https://adoptium.net/installation/linux/

## Steps to reproduce

1. Add repository

[2022-04-29 02:54] jackyyeung-asw opened #496 "Cannot find out dumping file after fatal error from [libc.so.6+0x826bc]"
## Summary
Cannot find out the dumping file

## Steps to reproduce
No specific step, there is a sudden HS_ERROR from Apache Tomcat

## Expected results
Should have a file specified in the log file under server

## Actual results
Cannot locate the file

## Triaging info
Java version:
Temurin-11.0.14.1+1

What is your operating system and platform?
Oracle Linux 7.7 on x86-64

How did you install Jav

[2022-04-29 16:51] technicalguru commented on #484
Same here since upgrade to Ubuntu 22.04

[2022-05-03 15:06] debswoodresin opened #503 "ugsplatfrom crashing after splash art"
recently downloaded and installed UGS Nightly and on opening UGSPLATFORM64 the programme crashes after loading and showing the splash screen.

[hs_err_pid10204.log](https://github.com/adoptium/temurin-build/files/8611443/hs_err_pid10204.log)

[2022-05-03 22:12] priyalgandhi opened #497 "AdoptOpenJDK"
## Can not find the Installed  AdoptOpenJDK folder under program files.

## Context

Java version: 8.0.322.6

Your operating system and platform:

[2022-05-04 07:07] karianna commented on #497
You'll need to provide more details.  What path are you searching under?  Did the installer complte?  Can you run java from hte command line etc etc.

[2022-05-04 14:30] merks commented on #379
I'll just monitor if anyone does this.  Thanks for the answers.

[2022-05-04 14:30] #379 closed

[2022-05-04 15:15] priyalgandhi commented on #497
I am searching is under C:\Program Files\AdoptOpenJDK\jdk-8.0.202.08 as per the instruction. The thing is I can not even see any folder "AdoptOpenJDK" under program files. And not able to find the folder location. So how can I find the path?

[2022-05-04 20:36] kriegaex commented on #350
Instead of just letting this rot despite a ton of information I provided, maybe someone can follow up. That would be really nice. Despite the hints about what to inspect and what to change in my local settings, the error still occurred, but nobody seems to care. And now the issue is marked as stale, even though it was me who wrote the last message.

[2022-05-04 20:57] contherad opened #498 "Will Debian 11 Bullseye be supported with temurin?"
## Question

Was using openjdk with bullseye now moving to temurin, but no bullseye container is available. Will there be in the future?

## Context

Java version:

17.0.3

Your operating system and platform:

Debian 11.3 "Bullseye"

[2022-05-04 21:14] mstoodle commented on #350
Hi @kriegaex it is weird there are no diagnostic files generated. Can you run with the additional java option `-Xdump:what` to see what it lists?

[2022-05-04 21:15] mstoodle commented on #350
It shouldn't be any different, but just to be thorough: can you get that trace output Keith requested for a run that crashes?

[2022-05-05 06:19] BuZZ-dEE commented on #291
Hmm, it would be great if this could be fixed.

[2022-05-05 10:26] #287 closed

[2022-05-05 10:51] karianna commented on #289
@lichtin - [Backport to 8u271](https://bugs.openjdk.java.net/browse/JDK-8244804) - so it should be in there.

[2022-05-05 10:51] #289 closed

[2022-05-05 10:53] karianna commented on #292
https://bugs.openjdk.java.net/browse/JDK-8239117

[2022-05-05 10:53] #299 closed

[2022-05-05 10:54] #300 closed

[2022-05-05 10:54] #301 closed

[2022-05-05 10:54] karianna commented on #302
This was resolved in a later respin.

[2022-05-05 10:54] #302 closed

[2022-05-05 10:55] #305 closed

[2022-05-05 10:55] karianna commented on #318
merged upstream.

[2022-05-05 10:55] #318 closed

[2022-05-05 11:36] mgm3746 commented on #484
I used to get this all the time, multiple crashes per day, on RHEL8 using Red Hat Codeready Studio. My CODEREADY_STUDIO_HOME/studio/ directory is filled with fatal error logs.

But it has recently stopped. I don't have a single crash with 11.0.15. That seems to be when it stopped.

I have not tried running on JDK17.

[2022-05-05 15:02] karianna commented on #498
Only the O/S versions supported by DockerHub official will be supported so for this one you'll have to create your own image.

[2022-05-05 15:02] #498 closed

[2022-05-05 19:42] Marcono1234 opened #499 "Upgrade zlib in Alpine Docker images (and maybe others as well)"
## Summary

It appears there was a behavior change in zlib 1.2.12 which broke the Java classes `ZipInputStream` and `GZIPInputStream`, causing them to erroneously fail with:
- `ZipException: invalid entry CRC`
- `ZipException: Corrupt GZIP trailer`

See https://github.com/madler/zlib/issues/618 and [JDK-8286174](https://bugs.openjdk.java.net/browse/JDK-8286174).

In the Alpine Temurin Docker image

[2022-05-06 09:52] gdams commented on #499
I assume that this would need a manual rebuild of the images to pick up the newer zlip dependency? CC @yosifkit/@tianon to see if that's something that can be done

[2022-05-06 09:55] gdams commented on #497
I assume that you're actually installing Eclipse Temurin? Rather than AdoptOpenJDK

Take a look at https://adoptium.net/installation/windows/

It's likely been installed in `C:\Program Files\Eclipse Adoptium\<version>`

[2022-05-06 23:17] Marcono1234 commented on #499
Might also be good if you could verify that this is indeed an issue. For me this problem occurred consistently with Docker, but in JDK-8286174 one of the Oracle employees commented that they were not able to reproduce the issue. They were using Podman instead of Docker, and that was for the `openjdk` image, but I would have expected that this should not make a difference.

[2022-05-07 14:23] TheKodeToad commented on #479
I think you want https://bugs.mojang.com/register/

[2022-05-07 23:21] NPC-Master3304 commented on #479
sorry for the late reply, but thank u so much. ive been having this issue for so long. ill go ahead n attempt to do it in vanilla and report the issue.

[2022-05-08 12:34] karianna commented on #140
Given this was 2020 - we should start a new issue if this is still a concern with 11.0.15

[2022-05-08 12:34] #140 closed

[2022-05-09 10:36] karianna commented on #94
Fixed in 11.0.12

[2022-05-09 10:36] #94 closed

[2022-05-09 10:38] karianna commented on #122
This was marked as a won't fix for Java 11 upstream (it is resolved in 17).  Clients will need to use the API calls in the correct order

[2022-05-09 10:38] #122 closed

[2022-05-09 11:27] karianna commented on #146
https://bugs.openjdk.java.net/browse/JDK-8252015 is the upstream issue.  It has not been backported and may not be due to the CSR involvment.

[2022-05-09 11:37] karianna commented on #179
This should be resolved with the latest 11.0.15 and latest Eclipse IDE.

[2022-05-09 11:37] #179 closed

[2022-05-09 11:42] karianna commented on #185
This was fixed upstream for both 11 and 17.

[2022-05-09 11:42] #185 closed

[2022-05-09 11:43] karianna commented on #187
@Thihup - Is this resolved with 11.0.15 for you?

[2022-05-09 11:45] karianna commented on #200
Fixed in Java 18 but not yet backported.

[2022-05-09 11:46] karianna commented on #209
I think this can be closed and any remaining issues opened in our api.adoptiym.net repo.

[2022-05-09 11:46] #209 closed

[2022-05-09 13:53] evgenkisel opened #500 "CVE-2022-21449: Psychic Signatures in Temurin"
## Question

Hello!

I use the temurin-17-jdk rpm package in my environment.

Probably it's not a right place to ask, but I'm trying to understand if the vulnerability [CVE-2022-21449](https://neilmadden.blog/2022/04/19/psychic-signatures-in-java/) may exists or was fixed for the version.
Could you please help me to understand it's exists or not or probably  you can provide a page to read about it

[2022-05-09 14:01] #500 closed, assigned to nobody

[2022-05-09 14:04] evgenkisel commented on #500
@karianna thank you for the info!

[2022-05-09 14:15] #146 closed, assigned to nobody

[2022-05-09 14:59] Thihup commented on #187
@karianna We tried that, but that made no difference at all 😞

[2022-05-09 15:10] karianna commented on #222
@chjan Is this still an issue for you?

[2022-05-09 15:18] karianna commented on #222
There is apparently a related fix in 17.0.2 which may help.

[2022-05-09 15:20] #240 closed

[2022-05-09 21:51] jredfox opened #501 "no api docs on how to get the download links"
I want openjdk8u33 with default jvm yet I don't see anyway on how to get the urls?

[2022-05-09 22:03] jredfox opened #502 "am I allowed to re-distrubute the compiled binraries"
## Question
are you allowed to re-distrubute the compiled binraries from adoptopenjdk. according to the GLP 3 license I can do this just uploading any source code to the public. you said that x versions may go down at any time well I want to download and install x version for y os for my program.

[2022-05-10 05:58] technicalguru commented on #484
The crash disappears when deactivating Wayland in Ubuntu 22.04.

[2022-05-10 10:55] sxa commented on #503
Can you check to see if the same problem also occurs with another provider e.g. Oracle/Azul/Bellsoft/Corretto?

[2022-05-10 10:57] sxa commented on #503
Oh you're using OpenJDK13 and it's not one of ours - that version is no longer supported and so will not be fixed. Please use JDK17 or 18 instead.

[2022-05-10 10:57] #503 closed

[2022-05-10 10:59] sxa commented on #502
Yes you are free to redistribute the binaries.

[2022-05-10 10:59] #502 closed

[2022-05-10 11:00] jredfox commented on #502
Ok cool at least if I can't find out how to compile it I can use yours

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Stewart X Addison ***@***.***>
Sent: Tuesday, May 10, 2022 5:59:13 AM
To: adoptium/adoptium-support ***@***.***>
Cc: jredfox ***@***.***>; Author ***@***.***>
Subject: Re: [adoptium/adoptium-support] am I allowed to re-distrubute the compile

[2022-05-10 11:00] karianna commented on #3
This is still open upstream

[2022-05-10 11:00] sxa commented on #501
We provide a download API which is documented at https://api.adoptium.net/q/swagger-ui/

For example, the following link will download the latest JDK17 (LTS) tar tvfz for Linux/aarch64:
- https://api.adoptium.net/v3/binary/latest/17/ga/linux/aarch64/jdk/hotspot/normal/eclipse

[2022-05-10 11:00] #501 closed

[2022-05-10 11:02] sxa commented on #497
@priyalgandhi Can you let us know where you saw that path in the instructions?

[2022-05-10 11:06] karianna commented on #247
Bug still open upstream

[2022-05-10 11:10] sxa commented on #474
I'm a bit confused - you say at the start you're using Java/OpenJDK11 but the version output says 17.0.1.

Can this be reproduced reliably? Can you try on the new 17.0.3? And if it's still showing can you try a runtime from another provider - Azul/Corretto/Oracle - to see if it occurs with those? That will determine any potential next action.

I would also point out that if you're really using Win

[2022-05-10 11:22] sxa commented on #499
Hmmm I can't reproduce this - running the test in that bug report with jshell doesn't seem to cause the error described (tested with podman on Fedora, then verified with 'real' docker on Ubuntu 20.04) The version of zlib was `1.2.12-r0` in both cases:

`in ==> java.util.zip.ZipInputStream@cc34f4d`

`in ==> java.util.zip.GZIPInputStream@50040f0c`

[2022-05-10 11:51] karianna commented on #171
Still open upstream

[2022-05-10 11:51] karianna commented on #25
Still open upstream

[2022-05-10 11:57] karianna commented on #443
Still an open issue on the Jubula boards.  I looked at the release notes for 11.0.12 (https://foojay.io/java-11/?tab=allissues&quarter=072021&version=11.0.12) but couldn't spot anything obvious except for one fix to drag and drop on windoes.

[2022-05-10 12:58] karianna commented on #255
@devilsclaw Are you able to try with the latest 11.0.15?

[2022-05-10 12:59] karianna commented on #261
Still an open issue upstream

[2022-05-10 13:00] karianna commented on #267
@bennetelli Are you able to try with the latest 17.0.3?

[2022-05-10 13:00] #267 closed

[2022-05-10 13:10] merks commented on #379
@gdams

Wow, that's awesome1  Thanks so much for thinking to update me!!

FYI, I have this utility class to look for the latest release URLs:

https://git.eclipse.org/c/justj/justj.tools.git/tree/plugins/org.eclipse.justj.codegen/src/org/eclipse/justj/codegen/model/util/TemurinIndexer.java

It builds results like this that I paste into my Jenkins file that builds the JustJ JREs:
[code]
I.e., into

[2022-05-10 14:43] tresf commented on #3
Just a heads-up, as the OP of the issue, I have not pushed to have it fixed upstream, since the workaround which introduces a 1 second delay after 100,000 searches is considered rarer and thus a better user experience than the current JDK behavior.

For that reason, I have no intensions of escalating this upstream and instead will use the workaround indefinitely (or until a user's use-cases presen

[2022-05-10 16:39] #497 closed

[2022-05-10 16:45] karianna commented on #269
Still open upstream

[2022-05-10 16:47] karianna commented on #272
@hemanthkolla based on your previous response it looks like some sort of permissions issue.  Can you try again with 11.0.15 and see if it's resolved?  Otherwise I think you may need to try running as administrator.

[2022-05-10 16:48] karianna commented on #274
Closing this as OpenJDK proper is that right place for this enhancement proposal.

[2022-05-10 16:48] #274 closed

[2022-05-10 16:51] karianna commented on #276
Fixed in Java 17 (but not backported)

[2022-05-10 16:51] #276 closed

[2022-05-10 16:53] karianna commented on #281
Fixed in 17.0.2 (but not backported)

[2022-05-10 16:58] karianna commented on #323
Several compiler crashes in this area were fixed 11.0.12-11.0.15 suspect this is resolved.

[2022-05-10 16:58] #323 closed

[2022-05-10 16:58] karianna commented on #325
Fixed in latest 17 and 11

[2022-05-10 16:58] #325 closed

[2022-05-10 16:59] karianna commented on #326
Resolved in latest IntelliJ IDEA and 17.0.3

[2022-05-10 16:59] #326 closed

[2022-05-10 16:59] #327 closed

[2022-05-10 17:00] karianna commented on #329
@gsegatori can you try with 11.0.15?

[2022-05-10 23:12] keturn opened #504 "man pages are out of date"

[2022-05-11 05:43] bennetelli commented on #267
you were faster than me. Thanks for taking a look at it :)

[2022-05-11 11:43] sxa commented on #504
That presumably comes from the upstream codebase at https://github.com/openjdk/jdk11u/blob/master/src/solaris/doc/sun/man/man1/java.1 so is not something we can resolve at Adoptium

[2022-05-11 12:10] Nyamiou commented on #499
I think we are also facing this issue using the "eclipse-temurin:11-jdk-alpine" image. Here is an extract of the stacktrace we are getting (using RDF4J and Apache HttpClient to call a GraphDB database):

`Caused by: java.util.zip.ZipException: Corrupt GZIP trailer
	at java.base/java.util.zip.GZIPInputStream.readTrailer(GZIPInputStream.java:226)
	at java.base/java.util.zip.GZIPInputStream.read(GZIP

[2022-05-11 19:51] keturn commented on #504
It says the files are generated: https://github.com/adoptium/jdk11u/blob/87e0662a7336cbdb3de30a0c597f1588b44483e9/src/linux/doc/man/DO_NOT_EDIT--GENERATED_FILES#L1-L2

Could the build re-generate them?

[2022-05-11 22:16] Marcono1234 commented on #499
Could this be CPU specific? To me it looks like zlib's [`crc32.c`](https://github.com/madler/zlib/blob/master/crc32.c) contains code specific to certain CPU features, but I am not very familiar with C.
The device where I can consistently reproduce this issue uses AMD Phenom II X6 1055T. However, on other device also with Windows 10 as OS but with a different CPU I cannot reproduce it either.

[2022-05-12 09:23] ghost opened #505 "Crash in Shenandoah 17.0.3 - SIGSEGV in vm maybe related to xerces"
## Summary

We currently getting **irregularily vm crashes** in our junit test infrastruktur.
We are using `eclipse-temurin:17.0.2_8-jdk-focal` base image and exceuting our test with gradle 7.3.
We are using `shenandoah` gc because we are quite memory constrainted in our containers and their hosts.
We ran the test on the `adoptopenjdk:11-hotspot-focal` containers before with the same gc settings a

[2022-05-12 09:44] sxa commented on #504
Generate them from what? We just run the standard openjdk build process and those files are presumably generated in some form somewhere else before being put into the openjdk github repository. We have no control or involvement over that part of the process and Adoptium would not wish to write and maintain our own versions.

[2022-05-12 10:21] DevCharly commented on #385
I think this can be closed because [JDK-8277299](https://bugs.openjdk.java.net/browse/JDK-8277299) is fixed in Java 18 and backported to Java 17.0.3

[2022-05-12 11:40] boris-unckel opened #506 "Fedora Version 36 is not supported in the distribution in JFrog"
Tested 2022-05-12 with https://adoptium.jfrog.io/ui/native/rpm/fedora/

## Summary
The latest Fedora Version 36 ( https://fedoramagazine.org/announcing-fedora-36/ ) is not supported in the distribution in JFrog.

## Steps to reproduce
Check https://adoptium.jfrog.io/ui/native/rpm/fedora/ and lookout for 26.

## Expected results
Expected is $releasever (with 36) works dynamically

[AdoptiumJDK]
nam

[2022-05-12 11:58] #385 closed

[2022-05-13 11:41] karianna commented on #345
Closing this, please do reopen if it's still an issue on OpenJ9 (Semeru) that matches 11.0.15

[2022-05-13 11:41] #345 closed

[2022-05-13 11:42] karianna commented on #354
Closing this, unable to reproduce with latest temurin and IntelliJ builds

[2022-05-13 11:42] #354 closed

[2022-05-13 11:43] karianna commented on #363
Fixed in 17.0.2

[2022-05-13 11:43] #363 closed

[2022-05-13 11:44] karianna commented on #381
Closing as this a 3rd party compatibility issue

[2022-05-13 11:44] #381 closed

[2022-05-13 11:45] karianna commented on #390
@hvdwolf Can you check with our latest 17.0.3 release?

[2022-05-13 11:46] karianna commented on #394
@Jhoops03 Can you send in the crash report using 11.0.15?

[2022-05-13 11:47] karianna commented on #396
@XakepSDK can you try with our latest 17.0.3 and see if it's resolved?

[2022-05-13 11:48] karianna commented on #400
There is an upstream issue being worked on for this.

[2022-05-13 11:48] #400 closed

[2022-05-13 11:48] karianna commented on #401
@mmatela Can you try with 11.0.15 and report back?

[2022-05-13 11:49] karianna commented on #403
There were some mouse pointer fixes in 11.0.15 - should be resolved.

[2022-05-13 11:49] #403 closed

[2022-05-13 11:50] karianna commented on #411
@jwr This should be resolved in 17.0.3, please do reopen if that's not the case!

[2022-05-13 11:50] #411 closed

[2022-05-13 11:51] karianna commented on #413
@meensaj  and @Jhoops03 - 17.0.3 and 11.0.15 had some fixes in this area.  Please try those versions and reopen this if the error still persists.

[2022-05-13 11:51] #413 closed

[2022-05-13 11:52] #414 closed

[2022-05-13 11:53] karianna commented on #418
@datgith should be fixed in 17.0.3

[2022-05-13 11:53] #418 closed

[2022-05-13 11:53] karianna commented on #426
Upstream bug still open

[2022-05-13 11:54] karianna commented on #430
Upstream bug is still open

[2022-05-13 11:55] karianna commented on #432
@Slackadays try the latest 17.0.3 and reopen if still an issue.

[2022-05-13 11:55] #432 closed

[2022-05-13 11:55] karianna commented on #433
Please try with latest 17.0.3 and latest eclipse.

[2022-05-13 11:55] #433 closed

[2022-05-13 11:56] karianna commented on #435
@ankitraval Can you try 11.0.15 and reopen this if its still an issue.

[2022-05-13 11:56] #435 closed

[2022-05-13 11:57] karianna commented on #436
@LargePrime Please try 17.0.3 and reopen if this if its still an issue.

[2022-05-13 13:17] stefan-reich commented on #430
True. Apparently not a very high priority bug at Oracle

[2022-05-13 14:10] karianna commented on #496
@jackyyeung-asw Can you please try the latest 11.0.15?

[2022-05-13 14:26] #214 closed

[2022-05-13 14:28] karianna commented on #72
use the latest 17.0.3 pkg package

[2022-05-13 18:38] XakepSDK commented on #396
Sorry, I don't work on this project anymore, I can't test

[2022-05-14 13:34] MrOrangeMan opened #507 "Feather has been crashed"
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x000000018000632b, pid=10296, tid=0x00000000000007bc
#
# JRE version: OpenJDK Runtime Environment (8.0_292-b10) (build 1.8.0_292-b10)
# Java VM: OpenJDK 64-Bit Server VM (25.292-b10 mixed mode windows-amd64 compressed oops)
# Problematic frame:
# C  [ASProxy64.dll+0x632b]
#
# Fa

[2022-05-14 14:05] karianna commented on #507
Please try the latest build from adoptium.net and let me know

On Sat, 14 May 2022 at 14:34, MrOrangeMan ***@***.***> wrote:

--
Cheers, Martijn (Sent from Gmail Mobile)

[2022-05-15 10:37] a2py opened #508 "fatal"
# A fatal error has been detected by the Java Runtime Environment:
 no error in java

[2022-05-16 12:39] juozaspo commented on #452
Still getting A 403 on my VPN. Nothing is fixed till today. Always happens when I use the vpn connection on my ubuntu, and it is still not solved. Fails when attempting to download SECOND FILE from the repository as shown below to download upon update. Also download speed is very slow, like it was THROTTLED. My ip is 89.40.14.165, check your logs as I'm getting an errors when using connection from

[2022-05-16 15:35] hink084 opened #509 "Linux JDK LSB Shared Object vs Executable"
The original question was posted in the [Eclipse Forums](https://www.eclipse.org/forums/index.php/m/1852438/) on 10/29/2021.

**Environment**
Oracle Linux Server 7.7

I noticed there was a difference in the ELF type between the newer Eclipse Adoptium JDKs and the older AdoptOpenJDK JDKs.  I'm unsure if the change from _Executable File_ to _Shared Object File_ was intentional or not.

**Adoptium JD

[2022-05-17 07:25] BuchienDP commented on #505
Sorry for the deplay. I tested it with `eclipse-temurin:17.0.2_8-jdk-focal`.
Got the same random crashes. Please find error and replay logs attached.
Quick look into the replay log shows the same xerces internal methods.
[hs_err_pid45380.log](https://github.com/adoptium/adoptium-support/files/8706089/hs_err_pid45380.log)
[replay_pid45380.log](https://github.com/adoptium/adoptium-support/files/8706

[2022-05-17 11:31] albertosaa opened #510 "Maple using OpenJDK Runtime Environment Temurin-17+35 crashes after latest Ubuntu 20.04 update"
I understood OpenJDK Runtime Environment Temurin-17+35  comes bundled into maple 2021.2 (latest release).

Start GUI maple with
/opt/maple2021/bin/maple -x
and after a few commands are entered, the GUI crashes. The problem appears approximately a week ago, probably after some Ubuntu 20.04 update.

But the problem is with the bundled JRE in maple:

What is your operating system and platform?

How d

[2022-05-17 15:11] karianna commented on #510
Please tell the maple folks to bundle 17.0.3 with the fix.

[2022-05-17 18:59] hvdwolf commented on #390
**Fixed!**
I downloaded and installed the 17.0.3_7 pkg x64 version.

When I do again a `/usr/libexec/java_home`, I get  `/Library/Java/JavaVirtualMachines/temurin-17.jdk/Contents/Home`.
And when I do `/Library/Java/JavaVirtualMachines/temurin-17.jdk/Contents/Home/bin/java -version`, I get
[code]
When I "simply"  do `java -version` in whatever folder, I get exactly the same.
So everything correctly

[2022-05-19 05:50] brucedchen1991 opened #511 "Failed to write core dump. Minidumps are not enabled by default on client versions of Windows"
![image](https://user-images.githubusercontent.com/22440892/169219547-c1ba4dd0-1a0a-40c0-a675-c4419e5419aa.png)

[2022-05-19 09:20] karianna commented on #509
@hink084 I suspect this is a side effect of the default in GCC changing.  Is there a concern that this is a shared object as opposed to an executable from your perspective?

[2022-05-19 09:21] karianna commented on #508
@a2py - Can you please provide more detail here?  Version of Java you used, what program you were running etc

[2022-05-19 16:59] hink084 commented on #509
I originally discovered this issue because of a proprietary shell script checking for ELF types of "EXEC (Executable file)".

At the time, I didn't know the difference between a  _Shared Object_ and _Executable_ ELF file types.  I was concerned that the change in the file type may have been unintentional and overlooked.  However, upon further investigation, this may be a nonissue.

This forum on A

[2022-05-19 16:59] #509 closed

[2022-05-19 20:40] maxandersen opened #512 "19 version with loom?"
## Question

Any chance of getting 19-ea upgraded from February +9 to +22 so loom is included ?

## Context

want to make it easy to use early access features with jbang - would prefer to use Adoptium if possible.

[2022-05-19 22:42] karianna commented on #512
Our nighlty builds should catch this as soon as the merge goes into jdk tip

[2022-05-20 00:56] quintesse commented on #512
What is "jdk tip" exactly? There is a tagged release https://github.com/openjdk/jdk/tree/jdk-19+22, isn't that it?

[2022-05-20 14:24] userquin opened #513 "missing hashes and verification instructions on website"
`AdoptOpenJDK` website had a lot of info about package hash, how to verify it, and so on, on Installation entry  (now replaced with a redirection to `Adoptium`)... all these stuff is missing on `Adoptium`.

For example, check this PR a made a few years ago: https://github.com/AdoptOpenJDK/openjdk-website/pull/425

@karianna

[2022-05-20 15:21] gdams commented on #513
@userquin is https://adoptium.net/installation/archives/ not comprehensive enough? If you feel it's missing information then feel free to create a pull request and I'll be happy to review :)

[2022-05-20 15:42] karianna commented on #512
It should be yes, our nightly 19 builds should be picking this up...

[2022-05-20 15:44] karianna commented on #412
Minecraft ships with OpenJDK 17.0.1 (from Microsoft) as the supported version.

[2022-05-20 15:44] #412 closed

[2022-05-20 15:54] karianna commented on #448
Bad bot, this needs more thought (I think)

[2022-05-20 15:55] #390 closed

[2022-05-20 15:58] karianna commented on #456
@Yoycoy Can you try with the latest 17.0.3 and reply here?

[2022-05-20 16:13] #453 closed

[2022-05-20 16:22] #508 closed

[2022-05-20 16:23] #507 closed

[2022-05-20 16:23] karianna commented on #449
17.0.3 should contain a host of Shenandoah fixes.

[2022-05-20 16:23] #449 closed

[2022-05-20 16:24] #450 closed

[2022-05-20 16:24] #396 closed

[2022-05-20 18:42] quintesse commented on #512
The problem seems to be in the foojay.io API we're using in Jbang for listing JDK distro's and versions. They've confirmed that something's off and they're looking into it. So this issue can probably be closed.

[2022-05-20 20:56] #512 closed

[2022-05-22 07:45] TeeQuee opened #514 "Crashing"
![feathercrash](https://user-images.githubusercontent.com/106008902/169684441-a5b6c6db-7f7a-4094-a623-a1627040a419.png)
![feathercrash2](https://user-images.githubusercontent.com/106008902/169684466-24fe7f24-ae07-48ad-9e2f-6f41427037c4.png)

I crash every time i join a server i tried shutting mods off and on.
I have tried to update computer, restart computer and restart feather.

[2022-05-22 09:34] karianna commented on #514
Please try with 17.0.3 and send in that crash report (full log please).

[2022-05-23 09:19] karianna commented on #458
@erop9123 Please try with our latest 17.0.3 and reopen if the problem still persists

[2022-05-23 09:19] #458 closed

[2022-05-24 18:13] pkernevez opened #515 "JVM Crash when using GCP Secret Manager and Alpine JVM"
Tested with  eclipse-temurin:17.0.2-jre-alpine and eclipse-temurin:17.0.3_7-jre-alpine

## Summary
SpringBoot crash at the very beginning of the startup.
The container is running in a GCP K8s.

## Steps to reproduce

Start the image in GCP Cluster.
When Spring initialisation try to connect to GCP the JVM Crash.

## Expected results
Have the JVM up & running or an error message in case of network/c

[2022-05-25 01:18] devinrsmith opened #516 "C2 CompileTask PhaseAggressiveCoalesce::coalesce SIGSEGV"
## Summary

C2 CompileTask PhaseAggressiveCoalesce::coalesce is crashing with a SIGSEGV.

The issue is exhibited from multiple methods, potentially involving array / vectorization optimizations. We've so far worked around it by setting up a compiler directives file with excludes, but that's rather fragile and we are finding more places that eventually hit this error.

## Steps to reproduce

Curren

[2022-05-25 01:31] Nisarg-Uniting-Care opened #517 "Startup error in Anypoint Studio"
[code]

Start up error:
The studio had no issues and while starting it first crashed with memory error. I increased the memory size to 2 GB ms & mx params.
After that I restarted and the studio would not start at all. I have attached the logs herewith.

[2022-05-25 09:34] jerboaa commented on #516
@devinrsmith Is this reproducible without the jacoco agent? I see `-javaagent:build/tmp/expandedArchives/org.jacoco.agent-0.8.7.jar_3a83c50b4a016f281c4e9f3500d16b55/jacocoagent.jar=destfile=build/jacoco/test.exec,append=true,inclnolocationclasses=false,dumponexit=true,output=file,jmx=false` on the command line.

[2022-05-25 12:45] devinrsmith commented on #516
Yep, that was my first thought too. It also reproduces without jacoco, some of the other error files show that.

[2022-05-25 19:19] devinrsmith commented on #516
Please let me know if there is anything I can do wrt the `jbs:needs-report` label. It looks like only OpenJDK members are able to open bugs here https://bugs.openjdk.java.net/projects/JDK/?

Note: I have contributed to OpenJDK (signed OCA), https://github.com/openjdk/jdk/pull/7120, but it looks like that isn't the same level of access.

[2022-05-25 22:23] karianna commented on #516
Correct, you need to be of author status.  I'll try to submit tomorrow.

[2022-05-26 20:56] danillotparreira commented on #511
![image](https://user-images.githubusercontent.com/4616631/170578634-02d226de-bd55-4c40-8849-405aaf03458f.png)
[hs_err_pid5468.log](https://github.com/adoptium/adoptium-support/files/8782054/hs_err_pid5468.log)

[2022-05-27 09:13] karianna commented on #460
@ed03875 Can toy try the 1.8.0_332 build and reopen this if the problem still persists?

[2022-05-27 09:13] #460 closed

[2022-05-27 09:28] #511 closed

[2022-05-27 10:50] karianna commented on #516
https://bugs.openjdk.java.net/browse/JDK-8287432

[2022-05-29 09:06] kriegaex commented on #350
@mstoodle, AFAIK I provided all trances which Keith requested. And dumps for crashing JVMs are simply not being generated, just like I said clearly before.

[2022-05-29 11:10] kriegaex commented on #350
Some more info: I upgraded to jdk-8.0.332.9-openj9, same result (freeze, if I run several times) on my laptop with these specs (sorry, in German):

[code]

On my older desktop PC with the following specs, I cannot reproduce the problem:

[code]

Not sure if that is helpful at all, but FWIW, I copied those specs from the Windows system info.

[2022-05-30 06:53] pkernevez commented on #515
We are using
+- io.grpc:grpc-netty-shaded:jar:1.45.0:runtime
It's not exactly the latest one but close to it.
It's the dependency of
com.google.cloud:google-cloud-secretmanager:jar:2.1.4:compile

I also opened an issue here
https://github.com/grpc/grpc-java/issues/8751

It seems related to libc usage.

[2022-05-30 11:42] karianna commented on #515
Yeah they need to provide a musl compatible lib.

[2022-05-30 11:42] #515 closed

[2022-05-30 14:32] mstoodle commented on #350
Sorry if I'm being obtuse, I just want to be sure. The output you included before (on Jan 13) for `java -Xtrace:print=omrport.476 -version` showed the -version output being correctly displayed after the trace output. Did that run also subsequently crash? If that run didn't crash, please paste the output of a command that crashes.

When I run `java -Xdump:what` on my laptop, it outputs to the termi

[2022-06-01 09:18] karianna commented on #466
@SuperPat45 please try with the latest 17.0.3 and reopen this if the issue still persists.

[2022-06-01 22:07] #467 closed, assigned to nobody

[2022-06-04 07:38] kriegaex commented on #350
I must have mistyped something, now `-Xdump:what` indeed does display something. Again, this is my batch file which repeatedly runs the Java process:

[code]

After just a handful of loops, it yields:

[code]

[2022-06-04 09:42] KBvrtuS opened #518 "Can someone help me i get crashed game bcs minidumps are not allowed on windows"
info: CONNECTI
info: [11:39:13] [Worker-Main-6/INFO]: [OptiFine] Multitexture: false
[11:39:13] [Worker-Main-8/INFO]: [OptiFine] Multitexture: false
[11:39:13] [Worker-Main-3/INFO]: [OptiFine] Multitexture: false
info: [11:39:13] [Worker-Main-7/WARN]: Exception loading blockstate definition: 'minecraft:blockstates/cauldron.json' in resourcepack: '55f500d5a5888ac4bd6bd0cb43063df0d354f29b' for varia

[2022-06-04 15:02] Mattii124 opened #519 "JVM Crash"
Hello!
These are my pastebins. I hope someone knowledgeable would be able to help. My computer has crashes on a lot of other games as well like Apex, CSGO. I did not expect OSRS to experience crashing as well. I built this computer recently and probably got a defective PSU or CPU.
Logs are attached below.

[jvm_crash_pid_1780.log](https://github.com/adoptium/adoptium-support/files/8838087/jvm_cras

[2022-06-05 13:35] minduch commented on #461
The workaround for this problem in JDK 17.0.0, 17.0.1, 17.0.2 for Windows x86 is to add the parameter `-Xss1m`.
The problem seems to be resolved in JDK 17.0.3.

[2022-06-05 13:35] #461 closed

[2022-06-06 12:38] Mark-Palmer-Imprivata opened #520 "add-apt-repository has started failing for adoptium deb repository"
## Summary
We run the following command as part of our automated install/upgrade of JDK 17.
add-apt-repository --yes https://packages.adoptium.net/artifactory/deb

This was working.  Sometime in the last few weeks this has started to fail.

## Steps to reproduce
Run the add-apt-repository command as part of the following chain of commands.
1. curl -fsSL -o /tmp/adoptium-gpg-key https://packages.ad

[2022-06-06 13:52] keithc-ca commented on #350
I had another look at this today. I see some similarity with https://github.com/eclipse-openj9/openj9/issues/3747 which was fixed by https://github.com/eclipse-openj9/openj9/pull/3650, but that only applied to Java 11+. Could you try using Java 11 (or 17) to see if this problem still occurs? If not, we could explore expanding the applicability of https://github.com/eclipse-openj9/openj9/pull/3650

[2022-06-06 17:23] karianna commented on #520
I'm unable to reproduce this using latest Ubuntu fully patched (20.04)

[2022-06-06 17:50] gdams commented on #520
@Mark-Palmer-Imprivata can you please try with the instructions [here](https://adoptium.net/installation/linux/#_deb_installation_on_debian_or_ubuntu)

[2022-06-06 17:54] Mark-Palmer-Imprivata commented on #520
@gdams That is how I worked around things with a single user and it worked.  Most of us have it installed the other way.  This is how AdoptJDK 15 was installed as well.  Are those instructions the only "supported" method of installation?  Would shifting from one form to the other cause problems with upgrades?

[2022-06-06 21:29] saltedcoffii opened #521 "Linux x86 32 bit support"
## Question

Does/will Adoptium support the 32 bit x86 architecture? I can't find any binaries for it.

Your operating system and platform:
- Debian 11 (bullseye) i386
- Arch Linux 32 rolling
- ChromeOS i686

[2022-06-07 16:19] aaaryaa opened #522 "Invalid layout of java.lang.StackFrameInfo field"
We got similar issue(https://github.com/HotswapProjects/openjdk-jdk11u-dcevm/issues/6) and below are the details.

Error Message :
"""
[0.048s][error][class] Invalid layout of java.lang.StackFrameInfo field: bci type: I
Error occurred during initialization of VM
Invalid layout of well-known class: use -Xlog:class+load=info to see the origin of the problem class
"""

JDK Version: 11.0.13+8 (build 1

[2022-06-07 17:45] keeganezziopt opened #523 "error for opening trickle"
## Question
Im having issues with trickle since I updated and am seeing if you guys could help me out!? heres the error message
A fatal error has been detected by the Java Runtime Environment:
#
#  EXCEPTION_UNCAUGHT_CXX_EXCEPTION (0xe06d7363) at pc=0x00007ffae32f474c, pid=58864, tid=15736
#
# JRE version: OpenJDK Runtime Environment Temurin-11.0.14.1+1 (11.0.14.1+1) (build 11.0.14.1+1)
# Java VM:

[2022-06-08 16:15] MrAwesomeRocks opened #524 "Crash with modded minecraft and ZGC"
## Summary

When generating a modded minecraft world with ZGC, right at the start of generation, the JVM crashes with a `ShouldNotReachHere()` error.

## Steps to reproduce

Run modded minecraft through PolyMC with the mods listed here and these JVM arguments:

[code]

<details>
<summary>Mods</summary>

[code]
</details>

## Expected results

Does not crash, as when running with the default GC.

#

[2022-06-08 17:56] karianna commented on #522
We don't support the DCEVM builds here (as of now) sorry!

[2022-06-08 19:49] karianna commented on #521
Unfortunately not.  You may want to try Azul Systems to see if they have one.

[2022-06-09 09:17] karianna commented on #457
duplicate of https://github.com/adoptium/adoptium-support/issues/448

[2022-06-09 09:17] #457 closed

[2022-06-10 15:27] devinrsmith commented on #516
This has been fixed upstream. Hopefully we'll get a backport to 11 and 17. Thanks again for kicking off the process!

[2022-06-10 15:27] #516 closed

[2022-06-10 19:11] kriegaex commented on #350
Does https://github.com/adoptium/adoptium-support/issues/350#issuecomment-917377287 answer your question?

[2022-06-10 19:22] keithc-ca commented on #350
Sorry, I guess I missed that when I last reviewed this. Yes, it does answer my question: I think it means we need to extend the change made for Java 11+ so it also applies to Java 8.

[2022-06-12 01:31] raulOb93 opened #525 "Fedora 36 SetupSTM32CubeMX-6.5.0 A fatal error has been detected by the Java Runtime Environment"
yes, have latest version

## Summary

## Steps to reproduce

## Expected results

install STM32CubeMX

## Actual results

crashing, not able to install

## Triaging info

Java version:

What is your operating system and platform?

How did you install Java?

Did it work before?

Did you test with other Java versions?

[2022-06-13 04:43] alangarf commented on #525
Same issue here a little more detail on my part:

[code]

[2022-06-13 04:56] alangarf commented on #525
FYI I resolved the issue by removing the local `jre` directory in the STM CubeMX installer and just linked it to openjdk 17

[code]

that allows it to install. Make sure you don't have the `headless` jdk package installed.

[2022-06-13 07:29] lennartfricke commented on #505
Issue is reported using bugs.java.com

[2022-06-13 11:38] karianna commented on #505
@lennartfricke did you get a bug ID back that we can link here?  FWIW - this appears to be a Shenandoah GC bug for sure.

[2022-06-13 11:41] karianna commented on #473
This is likely simply due to the Font Packages deployed with OpenJDK 11 vs OpenJDK 17.  Sounds like 17 works which is great as that's the preferred version :-)

[2022-06-13 11:41] #473 closed

[2022-06-13 11:42] rwestrel commented on #505
The author of the code that crashes here.
Even if there's no simple code example to reproduce this, could you provide instructions so I can try to reproduce this? What to build and run?

[2022-06-13 11:44] karianna commented on #505
It's a crash in the Garbage Collector, so will be pretty hard to reproduce with a simple case.  The log provided does contain enough detail but Shenandoah isn't supported by Oracle (it's supported by Red Hat).  I'll see if @lennartfricke can give us the bug Id and I'll route accordingly.

[2022-06-13 11:45] #472 closed

[2022-06-13 11:49] rwestrel commented on #505
https://bugs.openjdk.org/browse/JDK-8288302 is the bug
Even if there's no simple case, instructions to reproduce this are needed.

[2022-06-14 01:07] Lurker8864 opened #526 "Crash loading direwolf20 1.18"
[hs_err_pid8384.log](https://github.com/adoptium/adoptium-support/files/8895493/hs_err_pid8384.log)
[hs_err_pid11256.log](https://github.com/adoptium/adoptium-support/files/8895494/hs_err_pid11256.log)

[2022-06-14 13:10] onionhead0708 opened #527 "Adoptium OpenJDK 8u332b09 - Thrown EXCEPTION_INVALID_DISPOSITION when running in Windows"
## Summary
When using the Adoptium OpenJDK 8u332b09 to run jmxtrans program, fatal error EXCEPTION_INVALID_DISPOSITION found

The same program run with the same version of OpenJDK 8u332b09 provided by [OpenLogic](https://www.openlogic.com/openjdk-downloads?field_java_parent_version_target_id=416&field_operating_system_target_id=436&field_architecture_target_id=391&field_java_package_target_id=396)

[2022-06-14 14:37] #526 closed

[2022-06-16 13:36] human1ty opened #528 "EXCEPTION_UNCAUGHT_CXX_EXCEPTION (0xe06d7363)"
## Summary
The EXCEPTION_UNCAUGHT_CXX_EXCEPTION returned on attempt to create JDBC connection

## Steps to reproduce
[code]

## Expected results

JDBC connection created successfully

## Actual results

 JRE version: OpenJDK Runtime Environment Temurin-11.0.15+10 (11.0.15+10) (build 11.0.15+10)
 Java VM: OpenJDK 64-Bit Client VM Temurin-11.0.15+10 (11.0.15+10, mixed mode, serial gc, windows-amd64)

[2022-06-18 12:33] karianna commented on #528
Have you contacted support at the vendor: https://www.magnitude.com/drivers/spark-jdbc-odbc?

[2022-06-20 16:35] #520 closed

[2022-06-20 16:44] gdams commented on #499
@Marcono1234 can you confirm if this is fixed in `eclipse-temurin:18-jdk-alpine` now?

[2022-06-20 16:47] gdams commented on #307
Looks like this was backported to JFX11.0.15 in https://github.com/openjdk/jfx11u/commit/2f2a07a96dc4d739faa63183b4d800e01030b494 - Closing

[2022-06-20 16:47] #307 closed

[2022-06-21 05:42] swingfly opened #529 "OutputKeys.CDATA_SECTION_ELEMENTS not work in jdk 1.8.0.332.b09"
## Summary

OutputKeys.CDATA_SECTION_ELEMENTS doesn't work after updating jdk from 1.8.0.322.b06 to 1.8.0.332.b09.

## Steps to reproduce
`TransformerFactory transformerFactory = TransformerFactory.newInstance();`
 `Transformer transformer = transformerFactory.newTransformer();`
 ` transformer.setOutputProperty(OutputKeys.CDATA_SECTION_ELEMENTS, "description");`

## Expected results
`<description>

[2022-06-21 14:00] tivervac opened #530 "SIGSEGV in PhaseIdealLoop::build_loop_late_post_work"
## Summary

We run an Eclipse-based product obfuscated using [ZKM](https://www.zelix.com/klassmaster/index.html). Running our tests on CI has been causing frequent SIGSEGV's.

## Steps to reproduce

The error is "rare" (one in 10 builds usually, on some of our branches it's 3/4, on others 1/20),

## Expected results

No crash

## Actual results

Random SIGSEGV's likely heavily influenced by code l

[2022-06-21 15:58] tivervac commented on #530
We don't use Lucene nor JavaFX, but that is the only link I found to `PhaseIdealLoop::build_loop_late_post_work` as well

[2022-06-21 22:42] Marcono1234 commented on #499
Tried it now with `eclipse-temurin:18-jdk-alpine` (`eclipse-temurin@sha256:44e422ec2058b9003e8f55093930b033b28f6a297201dcdd70ec3b79983d21a9`) and the issue seems to be fixed. That image contains `zlib-1.2.12-r1` which is apparently not affected by this issue.

But might be good if @Nyamiou could give it a try as well since they were experiencing the issue too.

[2022-06-21 23:58] drnathwani1 opened #531 "Windows 64 Version v2.0.11 crashes"
**What are you trying to do?**
Installed windows V2.0.11 and try to run 64 bit version as my laptop is 64 bit but it keeps on crashing. Tried to Run 32 bit which runs okay but once I finish one file on CNC, software doesn't respond anymore, i have tom shutdown. However 64 bit version keep on crashing all the time and generate following error file

#
# A fatal error has been detected by the Java Ru

[2022-06-22 10:02] gdams commented on #531
Java 13 is long out of support. Please can you try again with Java 17 https://adoptium.net/temurin/releases/?version=17 ?

[2022-06-22 12:51] karianna commented on #477
@gamma Are you able to try with the latest 17.0.3 builds?  Also please do check your Docker engine is at the latest version.

[2022-06-22 12:56] karianna commented on #529
https://bugs.openjdk.org/browse/JDK-8288972

[2022-06-22 14:46] smitpatel151 opened #532 "Error when installing cassandra"
Microsoft Windows [Version 10.0.22000.739]
(c) Microsoft Corporation. All rights reserved.

C:\Users\Smit>cd https://github.com/adoptium/adoptium-support/issues^Z
The filename, directory name, or volume label syntax is incorrect.

C:\Users\Smit>cd C:\Users\Smit\Downloads\apache-cassandra-3.11.13\bin

C:\Users\Smit\Downloads\apache-cassandra-3.11.13\bin>cassandra
Detected powershell execution permi

[2022-06-22 15:18] jerboaa commented on #529
@swingfly I'm not able to reproduce this with:

[code]

[2022-06-22 15:33] karianna commented on #532
@smitpatel151 Are you able to send that crash log?

[2022-06-22 17:15] drnathwani1 commented on #531
Installed Java 17 from a link you provided, worked first time but same thing, keep crashing. Screen stays up for 10 seconds and crashes.

[2022-06-22 18:31] Horcrux7 commented on #477
I think this issue can be closed.

[2022-06-22 18:45] #477 closed

[2022-06-22 18:46] karianna commented on #531
What is this Windows 2.0.11 program?  Can you give us some more context?

[2022-06-22 18:55] drnathwani1 commented on #531
Yes it is 2.0.11 latest EGS version and using in windows 11. I run 64 bit version and it shuts down after 10-15 seconds. I couldn't locate error file anymore

[2022-06-22 18:56] karianna commented on #531
Is that the Epic Game Store?  I don't know what EGS is :-)

[2022-06-22 19:06] drnathwani1 commented on #531
I am sorry, it was a typo.. Universal Gcode Sender  (UGS) software

[2022-06-22 19:38] drnathwani1 commented on #531
Sure thank you

[2022-06-22 22:23] gdams commented on #506
This will be fixed in the next release (July) by https://github.com/adoptium/installer/pull/479

[2022-06-22 22:23] #506 closed

[2022-06-22 22:24] gdams commented on #499
I'm going to close for now as the `zlib` version has been updated. Feel free to re-open if this is still causing issues

[2022-06-22 22:57] Aholicknight opened #534 "Java (v11.0.15 x64) is causing programs to distort/glitch"
https://user-images.githubusercontent.com/7843719/175167979-0a9aa913-5cff-43db-97c0-443a0061813a.mp4

I don't know why this problem is happening but for some reason programs that are created in Java are causing programs to distort/glitch (as seen in this video)

I do not know if this repo is for reporting problems with the jdk adoptium build but I thought I would ask here for help.

Thank you!

[2022-06-23 01:50] swingfly commented on #529
Our implementation looks likes this, working with JAXB,

[code]

[2022-06-23 01:57] swingfly commented on #529
And I found there are some change making isCdataSection to return false in this PR **8041523: Xerces Update: Serializer improvements from Xalan**

[2022-06-23 05:37] Rolandwolf opened #533 "Gaiasky crashes on Window 8.1"
yes

## Summary
Command Line: -Xms2g -Xmx6g -Dassets.location=. -Dorg.slf4j.simpleLogger.defaultLogLevel=warn -Dorg.slf4j.simpleLogger.showThreadName=false

gaiasky.desktop.GaiaSkyDesktop

Host: Intel(R) Core(TM) i7-4710HQ CPU @ 2.50GHz, 8 cores, 11G,  Windows 8.1 , 64 bit Build 9600 (6.3.9600.20389)
Time: Wed Jun 22 22:01:39 2022 Mitteleuropäische Sommerzeit elapsed time: 45.319197 seconds (0d 0h

[2022-06-23 07:19] smitpatel151 commented on #532
Hello Adoptium/Adoptium-Support,
Thanks for responding,

I have successfully installed installed the cassandra.

Thanks & Regards
Smit Patel

On Wed, Jun 22, 2022 at 11:34 AM Martijn Verburg ***@***.***>
wrote:

[2022-06-23 08:01] #532 closed

[2022-06-23 09:44] jerboaa commented on #529
I'm sorry, but I'm not able to reproduce it. Even if I use a JAXB generated XML. Please try to create a minimal reproducer (with no external jaxb implementations and external deps if possible) and mention the precise steps one needs to do to reproduce this. The example above doesn't comilpile for me. What I do notice is that you are using a namespace in your target XML and you might need to set th

[2022-06-23 10:51] #531 closed

[2022-06-23 10:54] karianna commented on #534
@Aholicknight - Is this your own application or a 3rd party's?

[2022-06-23 10:55] karianna commented on #533
Hi there, this program is using an old version of Java 17.  Please upgrade to 17.0.3 from adoptium.net and try again.

[2022-06-23 11:15] xupwup commented on #437
@karianna, can you please let Tobias Hartmann (who's working on https://bugs.openjdk.org/browse/JDK-8283386) know that we (@KeesVo and me), can reproduce this issue consistently within 1 minute. Sadly we need our own proprietary software to do it, but perhaps we can arrange a meeting via MSTeams or something.

[2022-06-23 12:16] TobiHartmann commented on #437
Thanks, let's follow-up by email: tobias.hartmann@oracle.com

[2022-06-23 13:32] tomcruise81 commented on #448
I think I may be running into this as well. Someone much smarter than me might have some thoughts on this - "secure-execution mode"...?

From https://man7.org/linux/man-pages/man8/ld.so.8.html:

Is it possible that the JVM itself is:
- running in "secure-execution mode", and thus OS-level calls out to load libraries are also ignoring `LD_LIBRARY_PATH`
- is explicitly looking at the `LD_LIBRARY_PAT

[2022-06-23 13:37] tomcruise81 commented on #448
For additional context, on Windows, if the paths containing my `.dll` files are added to the `PATH` environment variable, _transitive_ dependency resolution works fine. However, if those same paths are added to `java.library.path`, _transitive_ dependency resolution is a no-go. I end up having to fully flesh out the dependency graph and explicitly load libraries in a leaf-to-trunk order to ensure

[2022-06-23 13:58] ed03875 commented on #448
Unfortunately we had to give up on the port of our products to HotSpot.  There are to many unresolved issues and the HotSpot port to AIX seems incomplete

[2022-06-23 16:24] Aholicknight commented on #534
@karianna This is a third party program, Burp Suite.

[2022-06-23 22:38] karianna commented on #534
@Aholicknight - First port of call will be to file a support ticket with them, is there one you can link?

[2022-06-23 22:40] Aholicknight commented on #534
@karianna Create a support ticket with Burp Suite? There is other programs created with java (such as OWASP ZAP) causing glitching/distorting as well.

[2022-06-23 22:44] karianna commented on #534
Which O/S is this on?

[2022-06-24 02:07] swingfly commented on #529
Will fix this issue?
Or is there any suggestion to bypass this ?

[2022-06-24 08:43] DrVanScott opened #535 "Repository https://packages.adoptium.net/ui/native/rpm/rhel/7/x86_64/ doesn't work"
Hi everybody,

I hope I am here on the right place to report this issue. If not I would be very happy for any hints where I should report this...

Currently we are trying to use https://packages.adoptium.net/ui/native/rpm/rhel/7/x86_64/ but we receive a the following message:

    https://packages.adoptium.net/ui/native/rpm/rhel/7/x86_64/repodata/repomd.xml: [Errno -1] Error importing repomd.xml f

[2022-06-24 09:18] #528 closed

[2022-06-24 09:52] sxa commented on #448
Temurin does provide a tested JDK8 for AIX.

[2022-06-24 12:14] mibyge opened #536 "javaws.policy file not being read - not supported or bug?"
Hello.

I'm trying to make a Java Web Start application work with Eclipse Temurin 8 U332 and IcedTea-Web 1.8.8 on Windows 10 x64 v20H2 so we can get rid of Oracle JRE.

I can get it working by added the line below to the java.policy file in the general grant section:

`permission java.io.FilePermission "<<ALL FILES>>", "read, write, execute";`

However, when comparing the files in the \lib\securit

[2022-06-24 13:11] TobiHartmann commented on #437
We were able to narrow it down to [JDK-827561](https://bugs.openjdk.org/browse/JDK-8275610) which was fixed in JDK 11.0.15, 17.0.3 and 18.

[2022-06-24 20:07] Aholicknight commented on #534
This is on Windows 11 build 22000.778

[2022-06-25 21:16] #437 closed

[2022-06-26 23:10] tomohiro-iwanaga opened #537 "Why doesn't Java8 support MacOS12?"
## Question
The following page shows x in MacOS12 support for Java8.
Could you please tell me why?
https://adoptium.net/supported-platforms/
## Context

Java version:8

Your operating system and platform:MacOS12

[2022-06-27 02:09] swingfly commented on #529
Ok, I will downgrade my java. Thx.

[2022-06-27 12:12] karianna commented on #537
https://github.com/adoptium/website-v2/pull/709

[2022-06-27 12:18] #537 closed

[2022-06-28 09:39] kapil-suri-by commented on #475
The server crashed again with the same error No update from jdk team.

[2022-06-28 10:57] karianna commented on #475
@kapil-suri-by Can you try 1.8.0_332?

[2022-06-29 13:34] karianna commented on #536
Duplicate: https://github.com/AdoptOpenJDK/IcedTea-Web/issues/876

[2022-06-29 13:34] #536 closed

[2022-06-30 09:15] SuperPat45 commented on #466
The problem still persist:

[code]

[2022-06-30 11:48] karianna commented on #466
Are you able to send the hs_err log file from that latest failure?

[2022-07-01 07:51] SuperPat45 commented on #466
There is the last two;
[hs_err_pid_11284.log](https://github.com/adoptium/adoptium-support/files/9027097/hs_err_pid_11284.log)
[hs_err_pid_5692.log](https://github.com/adoptium/adoptium-support/files/9027098/hs_err_pid_5692.log)

[2022-07-01 09:02] GitGraf opened #538 "JVM crash in JNI code"
## Summary
A JVM crash in some JNI code of Bonjour (the Apple MDNS implementation). I noticed it when trying to update to the newest Adoptium version.

## Steps to reproduce
Find attached a prebuilt jar which demonstrates the issue.
[bonjour.zip](https://github.com/adoptium/adoptium-support/files/9027374/bonjour.zip)
The code basically only initiates our self-built AiO java library (we had to fix

[2022-07-02 11:02] karianna commented on #344
@huyang327 - Can you try with 11.0.15 - a bunch of GC fixes went in

[2022-07-06 09:10] huyang327 commented on #344
I checked the problem. I checked the memory of my machine with memtest and found that there was a problem with the memory. We replaced the server and the problem did not appear.

[2022-07-06 10:19] karianna commented on #483
@beautybloodtr Can you try with the latest 1.8.0_332 and try again?

[2022-07-06 19:27] Thihup opened #540 "Temurin 19 is missing some certificates"
### Please provide a brief summary of the bug

While testing Temurin 19, we found out that our Maven build is not working.

[code]

### Please provide steps to reproduce where possible

Clone the repo: https://github.com/Thihup/temurin-jdk-19-bug

[code]

### Expected Results

It should download the dependency correctly

### Actual Results

Running `mvn package -X` generates the following error: